Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix: recursive namespace chain creation for nested modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewrite_parameter_shadow.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

refactor: eliminate all dead code reported by clippy
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

chore: cleanup
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/ast_rewriting_globals_collision/__init__.py
  testpkg2/__init__.py
  testpkg2/sub/__init__.py
Due: dprint, ruff-format

chore(main): release 0.5.19 (#326)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: correct topological sort order and add wrapper module init calls
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/fixtures/xfail_circular_deps_with_stdlib_name_conflict/main.py
  crates/cribo/tests/fixtures/xfail_circular_deps_with_stdlib_name_conflict/pkg/__init__.py
  crates/cribo/tests/fixtures/xfail_circular_deps_with_stdlib_name_conflict/pkg/abc.py
  crates/cribo/tests/fixtures/xfail_circular_deps_with_stdlib_name_conflict/pkg/color.py
  crates/cribo/tests/fixtures/xfail_circular_deps_with_stdlib_name_conflict/pkg/console.py
  crates/cribo/tests/fixtures/xfail_circular_deps_with_stdlib_name_conflict/pkg/pretty.py
  crates/cribo/tests/fixtures/xfail_circular_deps_with_stdlib_name_conflict/pkg/style.py
  crates/cribo/tests/fixtures/xfail_circular_import_function_reference/main.py
  crates/cribo/tests/fixtures/xfail_circular_import_function_reference/pkg/__init__.py
  crates/cribo/tests/fixtures/xfail_circular_import_function_reference/pkg/adapters.py
  crates/cribo/tests/fixtures/xfail_circular_import_function_reference/pkg/auth.py
  crates/cribo/tests/fixtures/xfail_circular_import_function_reference/pkg/models.py
  crates/cribo/tests/fixtures/xfail_circular_import_function_reference/pkg/utils.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_nested_namespace_import.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, dprint, lint, update-index, ruff-format

chore: restore
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore: merge
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/analyzers/mod.rs
  crates/cribo/src/ast_builder/expressions.rs
  crates/cribo/src/ast_builder/module_wrapper.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/visitors/import_discovery.rs
Due: format, lint, update-index

refactor: remove unused symbols_populated_after_deferred field
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: update RecursiveImportTransformer to use ModuleId instead of module_name/path
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: simplify entry module processing in bundler
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: convert modules Vec to FxIndexMap for O(1) lookups
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

refactor: remove MODULE_VAR constant and replace with hardcoded "self"
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: use ModuleId directly in InlineContext instead of String conversion
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

fix: resolve relative import single dot handling for submodule imports
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot/greetings/__init__.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot/greetings/greeting.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot/greetings/messages.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot/main.py
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/requirements@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_explicit_relative_import_single_dot.snap
Due: format, dprint, lint, update-index, ruff-format

chore: remove xfails
  crates/cribo/tests/fixtures/forward_reference_in_exception/main.py
  crates/cribo/tests/fixtures/forward_reference_in_exception/myrequests/__init__.py
  crates/cribo/tests/fixtures/forward_reference_in_exception/myrequests/compat.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot_in_init/greetings/__init__.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot_in_init/greetings/greeting.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot_in_init/main.py
  crates/cribo/tests/fixtures/stickytape_script_using_from_to_import_module/greetings/config.py
  crates/cribo/tests/fixtures/stickytape_script_using_from_to_import_module/greetings/greeting.py
  crates/cribo/tests/fixtures/stickytape_script_using_from_to_import_module/main.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/requirements@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/requirements@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/requirements@xfail_forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
Due: dprint, ruff-format

fix: prevent duplicate namespace symbol population for imported modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/stickytape_implicit_init_import/greetings/__init__.py
  crates/cribo/tests/fixtures/stickytape_implicit_init_import/greetings/irrelevant.py
  crates/cribo/tests/fixtures/stickytape_implicit_init_import/main.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/main.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/__init__.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/__version__.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_nested_namespace_import.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/requirements@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/requirements@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/requirements@xfail_version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@version_import_with_init_functions.snap
Due: format, dprint, lint, update-index, ruff-format

fix: remove deferred imports and fix topological sort for non-cycle modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/fixtures/cross_module_inheritance/another_auth.py
  crates/cribo/tests/fixtures/cross_module_inheritance/auth.py
  crates/cribo/tests/fixtures/cross_module_inheritance/main.py
  crates/cribo/tests/fixtures/cross_module_inheritance/proxy.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@simple_nested_handler.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_import_from_as_value.snap
  crates/cribo/tests/snapshots/bundled_code@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/bundled_code@test_forward_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/requirements@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_module_inheritance.snap
Due: format, dprint, lint, update-index, ruff-format

chore: remove unused snapshots
  crates/cribo/tests/snapshots/bundled_code@xfail_cross_module_inheritance.snap
  crates/cribo/tests/snapshots/execution_results@xfail_cross_module_inheritance.snap
  crates/cribo/tests/snapshots/requirements@xfail_cross_module_inheritance.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_cross_module_inheritance.snap
Due: none

fix: add missing future imports to bundled output
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/future_imports_basic/main.py
  crates/cribo/tests/fixtures/future_imports_basic/mypackage/__init__.py
  crates/cribo/tests/fixtures/future_imports_basic/mypackage/core.py
  crates/cribo/tests/fixtures/future_imports_basic/mypackage/submodule/__init__.py
  crates/cribo/tests/fixtures/future_imports_basic/mypackage/submodule/utils.py
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_multiple.snap
  crates/cribo/tests/snapshots/execution_results@future_imports_basic.snap
  crates/cribo/tests/snapshots/requirements@future_imports_basic.snap
  crates/cribo/tests/snapshots/ruff_lint_results@future_imports_basic.snap
Due: format, dprint, lint, update-index, ruff-format

chore: remove old snapshots
  crates/cribo/tests/snapshots/bundled_code@xfail_future_imports_basic.snap
  crates/cribo/tests/snapshots/execution_results@xfail_future_imports_basic.snap
  crates/cribo/tests/snapshots/requirements@xfail_future_imports_basic.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_future_imports_basic.snap
Due: none

fix: use 'self' instead of module name for __name__ references in init functions
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/file_utils.py
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/logger.py
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/main.py
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/requirements@stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_hoisting_aliases.snap
Due: format, dprint, lint, update-index, ruff-format

fix: improve cycles handling
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

chore: update fixtures and snapshots
  crates/cribo/tests/fixtures/forward_reference_attribute_access/main.py
  crates/cribo/tests/fixtures/forward_reference_attribute_access/mymodule/__init__.py
  crates/cribo/tests/fixtures/forward_reference_attribute_access/mymodule/compat.py
  crates/cribo/tests/fixtures/forward_reference_attribute_access/mymodule/exceptions.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/__init__.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/abc.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/console.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/main.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/execution_results@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/execution_results@xfail_circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/execution_results@xfail_forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/requirements@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/requirements@xfail_forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_name_conflict_ordering.snap
Due: dprint, ruff-format

fix: track exception handler types in tree-shaking to prevent import removal
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/fixtures/namespace_attribute_reference/main.py
  crates/cribo/tests/fixtures/namespace_attribute_reference/mypkg/__init__.py
  crates/cribo/tests/fixtures/namespace_attribute_reference/mypkg/compat.py
  crates/cribo/tests/fixtures/namespace_attribute_reference/mypkg/exceptions.py
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/execution_results@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/execution_results@xfail_namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/requirements@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/ruff_lint_results@namespace_attribute_reference.snap
Due: format, dprint, lint, update-index, ruff-format

fix: prevent duplicate global declarations in module init functions
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/forward_reference_requests_compat/main.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/__init__.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/compat.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/cookies.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/exceptions.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/utils.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/loader.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/other.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/execution_results@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/execution_results@xfail_forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/execution_results@xfail_metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_renamed.snap
Due: format, dprint, lint, update-index, ruff-format

fix: add global declaration for wrapper module init in local scopes
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/metaclass_collision/main.py
  crates/cribo/tests/fixtures/metaclass_collision/pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_collision/pkg/submodule.py
  crates/cribo/tests/fixtures/submodule_imports_parent_function/main.py
  crates/cribo/tests/fixtures/submodule_imports_parent_function/pkg/__init__.py
  crates/cribo/tests/fixtures/submodule_imports_parent_function/pkg/submodule.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_collision.snap
  crates/cribo/tests/snapshots/execution_results@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/execution_results@xfail_metaclass_collision.snap
  crates/cribo/tests/snapshots/execution_results@xfail_submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/requirements@metaclass_collision.snap
  crates/cribo/tests/snapshots/requirements@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/requirements@xfail_submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@submodule_imports_parent_function.snap
Due: format, dprint, lint, update-index, ruff-format

fix: preserve wrapper module imports with side effects during tree-shaking
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/main.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/__init__.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/exceptions.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_circular_import_function_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/execution_results@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/execution_results@xfail_circular_import_function_reference.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_shadowing_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/requirements@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@tree_shake_side_effect_import.snap
Due: format, dprint, lint, update-index, ruff-format

chore: update snapshots
  crates/cribo/tests/snapshots/bundled_code@xfail_tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/requirements@xfail_tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_tree_shake_side_effect_import.snap
Due: none

fix: use SELF_PARAM and bool_literal for __initializing__ assignments
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/bundled_code@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/bundled_code@parent_child_circular.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@simple_two_dots.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_circular_import_function_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_symlink_circular_dependency.snap
Due: format, lint, update-index

feat: add explicit async function support to global analyzer
  crates/cribo/src/analyzers/global_analyzer.rs
Due: format, lint, update-index

fix: use SELF_PARAM for inlined submodule namespace creation
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: correct target check in already_assigned to use SELF_PARAM
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/bundled_code@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/bundled_code@simple_two_dots.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_setattr_with_circular_deps.snap
Due: format, lint, update-index

refactor: replace recursive topological sort with iterative Kahn's algorithm
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
Due: format, lint, update-index

refactor: use ModuleId set for cycle membership checks
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: use SELF_PARAM for stdlib re-export assignments
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_circular_deps_with_stdlib_name_conflict.snap
Due: format, lint, update-index

refactor: avoid recomputing module_id in inline_class
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

fix: remove hardcoded ModuleId test fallback
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: use ModuleId in create_module_initialization_for_import functions
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_symlink_multi_circular.snap
  crates/cribo/tests/snapshots/execution_results@xfail_symlink_multi_circular.snap
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
