Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, dprint

format:
  run: cargo fmt --edition 2024 {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features -- -D warnings

dprint:
  run: dprint fmt {staged_files}
  stage_fixed: true

ai: add more instructions
  .dprint.jsonc
  .github/instructions/copy-from-the-best.instructions.md
  .vscode/settings.json
Due: dprint

feat: test coverage tracking (#22)
  .cargo/config.toml
  .codecov.yml
  .github/instructions/rust.instructions.md
  .github/workflows/coverage.yml
  .gitignore
  README.md
  docs/coverage.md
  scripts/coverage.sh
  scripts/setup-branch-coverage.sh
  scripts/setup-codecov.sh
Due: dprint

style: use default cargo fmt settings for 2024
  .rustfmt.toml
  Cargo.toml
  crates/serpen/src/bundler.rs
  crates/serpen/src/config.rs
  crates/serpen/src/dependency_graph.rs
  crates/serpen/src/emit.rs
  crates/serpen/src/main.rs
  crates/serpen/src/python_stdlib.rs
  crates/serpen/src/resolver.rs
  crates/serpen/src/util.rs
  crates/serpen/tests/integration_tests.rs
  crates/serpen/tests/test_relative_imports.rs
Due: format, lint, dprint

chore: add workspace.lints.rust
  Cargo.toml
Due: dprint

chore: update editorconfig
  .editorconfig
Due: none

feat: dropping unused imports (#24)
  .codecov.yml
  .coderabbit.yaml
  .github/instructions/rust.instructions.md
  .vscode/settings.json
  crates/serpen/Cargo.toml
  crates/serpen/src/emit.rs
  crates/serpen/src/lib.rs
  crates/serpen/src/unused_imports_simple.rs
  crates/serpen/tests/fixtures/alias_imports/test_alias_imports.py
  crates/serpen/tests/fixtures/alias_imports/test_module.py
  crates/serpen/tests/fixtures/alias_imports/test_simple_alias.py
  crates/serpen/tests/fixtures/import_filtering/test_import_filtering.py
  crates/serpen/tests/fixtures/import_filtering/test_rewrite_import.py
  crates/serpen/tests/fixtures/outputs/test_alias_output.py
  crates/serpen/tests/fixtures/outputs/test_output.py
  crates/serpen/tests/fixtures/outputs/test_simple_alias_output.py
  crates/serpen/tests/fixtures/test_unused_imports/bundled.py
  crates/serpen/tests/fixtures/test_unused_imports/main.py
  crates/serpen/tests/fixtures/test_unused_imports/pyproject.toml
  crates/serpen/tests/fixtures/test_unused_imports/simple_bundled.py
  crates/serpen/tests/fixtures/test_unused_imports/simple_test.py
  crates/serpen/tests/fixtures/test_unused_imports/utils.py
  crates/serpen/tests/fixtures/test_working_example.py
  crates/serpen/tests/test_unused_imports_simple.rs
  docs/serpen_unused_imports_and_unparsing.md
  docs/test_organization.md
  docs/unused_import_detection_system_design.md
  test_import_filtering_main.rs
Due: format, lint, dprint

sqlruf inspirations
  .cargo/config.toml
  .github/instructions/copy-from-the-best.instructions.md
  Cargo.lock
  Cargo.toml
Due: dprint

feat: introduce snapshot testing (#25)
  .github/instructions/rust.instructions.md
  .gitignore
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/serpen/Cargo.toml
  crates/serpen/src/emit.rs
  crates/serpen/src/snapshots/serpen__emit__tests__extract_import_modules_snapshots.snap
  crates/serpen/src/snapshots/serpen__emit__tests__extract_original_module_name_snapshots.snap
  crates/serpen/src/snapshots/serpen__emit__tests__import_rewriting_snapshots.snap
  crates/serpen/src/snapshots/serpen__emit__tests__logical_statement_indentation_snapshots.snap
  crates/serpen/src/snapshots/serpen__unused_imports_simple__tests__analyzer_independence_snapshots.snap
  crates/serpen/src/snapshots/serpen__unused_imports_simple__tests__unused_import_detection_snapshots.snap
  crates/serpen/src/unused_imports_simple.rs
  crates/serpen/tests/integration_tests.rs
  crates/serpen/tests/snapshots/integration_tests__dependency_graph.snap
  crates/serpen/tests/snapshots/integration_tests__extract_edge_case_imports.snap
  crates/serpen/tests/snapshots/integration_tests__module_resolution.snap
  crates/serpen/tests/snapshots/integration_tests__requirements_generation.snap
  crates/serpen/tests/snapshots/integration_tests__simple_project_bundling.snap
  docs/test_organization.md
Due: format, lint, dprint

Use-ast (#29)
  .codecov.yml
  Cargo.toml
  crates/serpen/src/emit.rs
  crates/serpen/src/unused_imports_simple.rs
  crates/serpen/tests/snapshots/integration_tests__requirements_generation.snap
  crates/serpen/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_script_using_from_to_import_multiple_values.snap
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_script_using_module_in_package.snap
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_script_using_stdlib_module_in_package.snap
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_script_with_single_local_from_import.snap
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_script_with_single_local_import.snap
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_script_with_single_local_import_of_package.snap
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_single_file.snap
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_single_file_using_stdlib.snap
  crates/unparser/Cargo.toml
  crates/unparser/src/comment_test.rs
  crates/unparser/src/lib.rs
  crates/unparser/src/unparser.rs
Due: format, lint, dprint

fix: correct docstring unparsing (#31)
  crates/serpen/tests/snapshots/integration_tests__requirements_generation.snap
  crates/serpen/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/unparser/src/unparser.rs
Due: format, lint

deps: update
  Cargo.lock
  Cargo.toml
Due: dprint

fix for new rand version (#32)
  Cargo.lock
  Cargo.toml
  crates/unparser/Cargo.toml
  crates/unparser/fuzzy_test_files/.gitignore
  crates/unparser/fuzzy_test_files_unparsed/.gitignore
  crates/unparser/src/lib.rs
Due: format, lint, dprint

feat: support PYTHONPATH (#33)
  Cargo.lock
  Cargo.toml
  crates/serpen/src/resolver.rs
  crates/serpen/tests/test_pythonpath_support.rs
  docs/pythonpath_support.md
Due: format, lint, dprint

feat: update release workflow to get version from tag
  .github/workflows/release.yml
Due: dprint

feat: improve CI workflow with test upload and lock hash (#34)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
Due: dprint

fix: publishing new versions
  .github/workflows/release.yml
Due: dprint

fix: add ignore-nothing-to-cache: true
  .github/workflows/release.yml
Due: dprint

fix: set version to dynamic
  pyproject.toml
Due: dprint

chore: update uv lock
  uv.lock
Due: none

chore: tooling configs
  .clippy.toml
  .taplo.toml
  .typos.toml
Due: dprint

feat: npm publishing workflow (#35)
  .github/workflows/release.yml
  .gitignore
  docs/serpen-npm-publishing-plan.md
  npm/README.md
  npm/package.json.tmpl
  npm/serpen/README.md
  npm/serpen/bin/serpen.js
  npm/serpen/package.json
  scripts/build-npm-binaries.sh
  scripts/generate-npm-packages.js
  scripts/publish-npm.js
  scripts/test-npm-package.js
Due: dprint

feat: adding aarch64 for linux
  .github/workflows/release.yml
  docs/pypi-aarch64-support.md
Due: dprint

build together
  .github/workflows/release.yml
  docs/pypi-aarch64-support.md
  docs/serpen-npm-publishing-plan.md
Due: dprint

setup quemu
  .github/workflows/release.yml
Due: dprint

no quemy on mac
  .github/workflows/release.yml
Due: dprint

no docker on mac
  .github/workflows/release.yml
Due: dprint

remove macos target
  .github/workflows/release.yml
Due: dprint

try remove target
  .github/workflows/release.yml
Due: dprint

fixing platforms
  .github/workflows/release.yml
Due: dprint

fixing manual version
  .github/workflows/release.yml
Due: dprint

disable docker for both mac platforms
  .github/workflows/release.yml
Due: dprint

Revamp platform matrix
  .github/workflows/release.yml
  scripts/generate-npm-packages.js
Due: dprint

fixing build
  .github/workflows/release.yml
Due: dprint

fix duplicated error checking
  .github/workflows/release.yml
Due: dprint

fix arm platforms
  .github/instructions/github-actions-workflows.instructions.md
  .github/workflows/release.yml
  .vscode/settings.json
Due: dprint

fix npm publish
  npm/serpen/bin/serpen.js
  npm/serpen/package.json
  scripts/generate-npm-packages.js
  scripts/publish-npm.js
Due: dprint

add npm provenance
  .github/workflows/release.yml
  README.md
  docs/NPM_PROVENANCE.md
  npm/serpen/package.json
  scripts/publish-npm.js
Due: dprint

temporary disable pypi attestation
  .github/workflows/release.yml
Due: dprint

Path conditions:
  format: any of: **/*.rs
  lint: any of: **/*.rs
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
