Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

chore(main): release 0.4.26
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.26 (#121)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

fix(deps): upgrade ruff crates from 0.11.12 to 0.11.13
  Cargo.lock
  Cargo.toml
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

fix(deps): upgrade ruff crates from 0.11.12 to 0.11.13 (#122)
  Cargo.lock
  Cargo.toml
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

chore(main): release 0.4.27
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.27 (#123)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

test: migrate alias transformation test to bundling snapshot framework
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/main.py
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/utils/config_manager.py
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/utils/data_processor.py
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/utils/helpers.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/execution_results@alias_transformation_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@alias_transformation_test.snap
  crates/cribo/tests/test_alias_transformation.rs
Due: format, dprint, lint, update-index

fix(test): make alias transformation test deterministic across platforms
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/main.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/execution_results@alias_transformation_test.snap
Due: dprint

test: migrate alias transformation test to bundling snapshot framework (#124)
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/main.py
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/utils/config_manager.py
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/utils/data_processor.py
  crates/cribo/tests/fixtures/bundling/alias_transformation_test/utils/helpers.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/execution_results@alias_transformation_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@alias_transformation_test.snap
  crates/cribo/tests/test_alias_transformation.rs
Due: format, dprint, lint, update-index

test(bundler): move mixed_cycles fixture to bundling framework
  crates/cribo/tests/fixtures/bundling/xfail_mixed_cycles/config_constants.py
  crates/cribo/tests/fixtures/bundling/xfail_mixed_cycles/constants_module.py
  crates/cribo/tests/fixtures/bundling/xfail_mixed_cycles/function_module.py
  crates/cribo/tests/fixtures/bundling/xfail_mixed_cycles/helper_module.py
  crates/cribo/tests/fixtures/bundling/xfail_mixed_cycles/main.py
Due: dprint

test(bundler): move relative_import_cycles fixture to bundling framework
  crates/cribo/tests/fixtures/bundling/xfail_relative_import_cycles/main.py
  crates/cribo/tests/fixtures/bundling/xfail_relative_import_cycles/services/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_relative_import_cycles/services/auth.py
  crates/cribo/tests/fixtures/bundling/xfail_relative_import_cycles/services/database.py
Due: dprint

test(bundler): move unresolvable_patterns fixture to bundling framework
  crates/cribo/tests/fixtures/bundling/xfail_unresolvable_patterns/constants_a.py
  crates/cribo/tests/fixtures/bundling/xfail_unresolvable_patterns/constants_b.py
  crates/cribo/tests/fixtures/bundling/xfail_unresolvable_patterns/main.py
Due: dprint

feat(bundler): enhance import usage tracking for circular dependency analysis
  crates/cribo/src/cribo_graph.rs
  crates/cribo/tests/fixtures/bundling/xfail_four_module_cycle/main.py
  crates/cribo/tests/fixtures/bundling/xfail_four_module_cycle/module_a.py
  crates/cribo/tests/fixtures/bundling/xfail_four_module_cycle/module_b.py
  crates/cribo/tests/fixtures/bundling/xfail_four_module_cycle/module_c.py
  crates/cribo/tests/fixtures/bundling/xfail_four_module_cycle/module_d.py
  crates/cribo/tests/snapshots/bundled_code@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_four_module_cycle.snap
Due: format, dprint, lint, update-index

test(bundler): move class_level_cycles fixture to bundling framework
  crates/cribo/tests/fixtures/bundling/xfail_class_level_cycles/admin_class.py
  crates/cribo/tests/fixtures/bundling/xfail_class_level_cycles/main.py
  crates/cribo/tests/fixtures/bundling/xfail_class_level_cycles/user_class.py
Due: dprint

fix(bundler): improve circular dependency detection for function-scoped imports
  crates/cribo/src/enhanced_graph_builder.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/tests/fixtures/bundling/xfail_package_level_cycles/main.py
  crates/cribo/tests/fixtures/bundling/xfail_package_level_cycles/pkg1/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_package_level_cycles/pkg2/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_three_module_cycle/main.py
  crates/cribo/tests/fixtures/bundling/xfail_three_module_cycle/module_a.py
  crates/cribo/tests/fixtures/bundling/xfail_three_module_cycle/module_b.py
  crates/cribo/tests/fixtures/bundling/xfail_three_module_cycle/module_c.py
  crates/cribo/tests/snapshots/bundled_code@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__relative_import_cycles_bundled.snap
  crates/cribo/tests/test_circular_dependencies.rs
Due: format, dprint, lint, update-index

docs: add comprehensive design document for function-scoped import rewriting
  docs/function-scoped-import-rewriting.md
Due: dprint

test(bundler): complete circular dependency test migration
  crates/cribo/tests/fixtures/circular_dependencies/class_level_cycles/admin_class.py
  crates/cribo/tests/fixtures/circular_dependencies/class_level_cycles/main.py
  crates/cribo/tests/fixtures/circular_dependencies/class_level_cycles/user_class.py
  crates/cribo/tests/fixtures/circular_dependencies/four_module_cycle/main.py
  crates/cribo/tests/fixtures/circular_dependencies/four_module_cycle/module_a.py
  crates/cribo/tests/fixtures/circular_dependencies/four_module_cycle/module_b.py
  crates/cribo/tests/fixtures/circular_dependencies/four_module_cycle/module_c.py
  crates/cribo/tests/fixtures/circular_dependencies/four_module_cycle/module_d.py
  crates/cribo/tests/fixtures/circular_dependencies/mixed_cycles/config_constants.py
  crates/cribo/tests/fixtures/circular_dependencies/mixed_cycles/constants_module.py
  crates/cribo/tests/fixtures/circular_dependencies/mixed_cycles/function_module.py
  crates/cribo/tests/fixtures/circular_dependencies/mixed_cycles/helper_module.py
  crates/cribo/tests/fixtures/circular_dependencies/mixed_cycles/main.py
  crates/cribo/tests/fixtures/circular_dependencies/package_level_cycles/main.py
  crates/cribo/tests/fixtures/circular_dependencies/package_level_cycles/pkg1/__init__.py
  crates/cribo/tests/fixtures/circular_dependencies/package_level_cycles/pkg2/__init__.py
  crates/cribo/tests/fixtures/circular_dependencies/relative_import_cycles/main.py
  crates/cribo/tests/fixtures/circular_dependencies/relative_import_cycles/services/__init__.py
  crates/cribo/tests/fixtures/circular_dependencies/relative_import_cycles/services/auth.py
  crates/cribo/tests/fixtures/circular_dependencies/relative_import_cycles/services/database.py
  crates/cribo/tests/fixtures/circular_dependencies/unresolvable_patterns/constants_a.py
  crates/cribo/tests/fixtures/circular_dependencies/unresolvable_patterns/constants_b.py
  crates/cribo/tests/fixtures/circular_dependencies/unresolvable_patterns/main.py
  crates/cribo/tests/snapshots/bundled_code@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundling_error@xfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundling_error@xfail_mixed_cycles.snap
  crates/cribo/tests/snapshots/bundling_error@xfail_unresolvable_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__class_level_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__relative_import_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__unresolvable_patterns_error.snap
  crates/cribo/tests/test_bundling_snapshots.rs
  crates/cribo/tests/test_circular_dependencies.rs
Due: format, dprint, lint, update-index

fix(graph): improve circular dependency classification for class cycles
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

Update crates/cribo/src/cribo_graph.rs
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix(graph): address PR review comments for import tracking and test framework
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

chore(ai): remove copilot LSP
  .mcp.json
Due: dprint

feat: implement function-scoped import rewriting for circular dependencies
  crates/cribo/src/enhanced_graph_builder.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_three_module_cycle.snap
Due: format, lint, update-index

fix(bundler): integrate function-scoped import rewriting to handle circular dependencies
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

test: improve test framework with pyfail_ prefix for circular dependency tests
  crates/cribo/src/enhanced_graph_builder.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/lib.rs
  crates/cribo/tests/fixtures/bundling/pyfail_four_module_cycle/main.py
  crates/cribo/tests/fixtures/bundling/pyfail_four_module_cycle/module_a.py
  crates/cribo/tests/fixtures/bundling/pyfail_four_module_cycle/module_b.py
  crates/cribo/tests/fixtures/bundling/pyfail_four_module_cycle/module_c.py
  crates/cribo/tests/fixtures/bundling/pyfail_four_module_cycle/module_d.py
  crates/cribo/tests/fixtures/bundling/pyfail_package_level_cycles/main.py
  crates/cribo/tests/fixtures/bundling/pyfail_package_level_cycles/pkg1/__init__.py
  crates/cribo/tests/fixtures/bundling/pyfail_package_level_cycles/pkg2/__init__.py
  crates/cribo/tests/fixtures/bundling/pyfail_relative_import_cycles/main.py
  crates/cribo/tests/fixtures/bundling/pyfail_relative_import_cycles/services/__init__.py
  crates/cribo/tests/fixtures/bundling/pyfail_relative_import_cycles/services/auth.py
  crates/cribo/tests/fixtures/bundling/pyfail_relative_import_cycles/services/database.py
  crates/cribo/tests/fixtures/bundling/pyfail_three_module_cycle/main.py
  crates/cribo/tests/fixtures/bundling/pyfail_three_module_cycle/module_a.py
  crates/cribo/tests/fixtures/bundling/pyfail_three_module_cycle/module_b.py
  crates/cribo/tests/fixtures/bundling/pyfail_three_module_cycle/module_c.py
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

fix: resolve clippy warnings and mark mixed_import_patterns as xfail
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/tests/fixtures/bundling/xfail_mixed_import_patterns/app.py
  crates/cribo/tests/fixtures/bundling/xfail_mixed_import_patterns/config.py
  crates/cribo/tests/fixtures/bundling/xfail_mixed_import_patterns/logger.py
  crates/cribo/tests/fixtures/bundling/xfail_mixed_import_patterns/main.py
  crates/cribo/tests/fixtures/bundling/xfail_mixed_import_patterns/utils.py
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_mixed_import_patterns.snap
  docs/function-scoped-import-rewriting.md
Due: format, dprint, lint, update-index

fix: address CodeRabbit review comments for import rewriting
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: resolve clippy excessive nesting warnings
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

fix(ast): make import matching order-independent
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

fix(ast): check module-level side effects for from imports
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

chore(main): release 0.4.28
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.28 (#127)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore: add single-char-binding-names-threshold
  .clippy.toml
Due: dprint

feat(ci): add rust-code-analysis-cli
  .github/workflows/lint.yml
Due: dprint, yamllint

chore: add rust-code-analysis comment
  .github/workflows/lint.yml
Due: dprint, yamllint

chore(main): release 0.4.29
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

feat: implement AST visitor pattern for comprehensive import discovery
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/mod.rs
  docs/ast-visitor-system-design.md
Due: format, dprint, lint, update-index

fix: rust-code-analysis run error
  .github/workflows/lint.yml
Due: dprint, yamllint

fix: add missing action permissions
  .github/workflows/lint.yml
Due: dprint, yamllint
