Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate, release-please

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate renovate-config-validator renovate.json
    release-please:
      glob: release-please-config.json
      run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

chore(ci): 💄 improving summary comment
  .github/workflows/lint.yml
Due: dprint, yamllint

fix(ci): restore sort by number of functions
  .github/workflows/lint.yml
Due: dprint, yamllint

chore(ci): add links
  .github/workflows/lint.yml
Due: dprint, yamllint

chore: remove unused files
  crates/cribo/tests/fixtures/outputs/test_alias_output.py
  crates/cribo/tests/fixtures/outputs/test_output.py
  crates/cribo/tests/fixtures/outputs/test_simple_alias_output.py
Due: dprint

chore: remove unused files
  crates/cribo/tests/fixtures/test_unused_imports/bundled.py
  crates/cribo/tests/fixtures/test_unused_imports/main.py
  crates/cribo/tests/fixtures/test_unused_imports/pyproject.toml
  crates/cribo/tests/fixtures/test_unused_imports/simple_bundled.py
  crates/cribo/tests/fixtures/test_unused_imports/simple_test.py
  crates/cribo/tests/fixtures/test_unused_imports/utils.py
Due: dprint, taplo

chore: add pandera dependency
  pyproject.toml
  uv.lock
Due: dprint

chore(main): release 0.4.30
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

fix(bundler): preserve import aliases and prevent duplication in hoisted imports
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/pandera-polars/main.py
  crates/cribo/tests/fixtures/pandera-polars/schema.py
  crates/cribo/tests/snapshots/bundled_code@pandera-polars.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/execution_results@pandera-polars.snap
  crates/cribo/tests/snapshots/requirements@pandera-polars.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pandera-polars.snap
Due: format, dprint, lint, update-index

fix(bundler): remove early return statements in is_hoisted_import closure
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix: add encoding enforcement env
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(bundler): preserve import aliases and prevent duplication in hoisted imports (#135)
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/pandera-polars/main.py
  crates/cribo/tests/fixtures/pandera-polars/schema.py
  crates/cribo/tests/snapshots/bundled_code@pandera-polars.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/execution_results@pandera-polars.snap
  crates/cribo/tests/snapshots/requirements@pandera-polars.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pandera-polars.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

chore: cleanup debug output and improve log levels
  crates/cribo/src/code_generator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

chore: cleanup debug output and improve log levels (#136)
  crates/cribo/src/code_generator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

refactor(ast): implement visitor pattern for side effect detection
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index

fix(ast): address code review feedback for side effect detection
  crates/cribo/src/code_generator.rs
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index

perf(ast): optimize side effect detection to avoid allocations
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index

chore(ai): correct command to replty to comments
  CLAUDE.md
Due: dprint

fix(ast): add lambda expressions to side effect detection
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@comprehensive_ast_rewrite.snap
Due: format, lint, update-index

fix(ast): sync ExpressionSideEffectDetector with main detector
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index

docs(ai): instructions for GitHub comments processing
  CLAUDE.md
Due: dprint

perf(ast): optimize side effect detection to avoid allocations
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

style(ast): reformat constant expression matching for clarity
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index

refactor(ast): implement visitor pattern for side effect detection
  CLAUDE.md
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@comprehensive_ast_rewrite.snap
Due: format, dprint, lint, update-index

fix(test): enforce correct fixture naming for Python execution failures
  crates/cribo/tests/fixtures/pyfail_class_level_cycles/admin_class.py
  crates/cribo/tests/fixtures/pyfail_class_level_cycles/main.py
  crates/cribo/tests/fixtures/pyfail_class_level_cycles/user_class.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/config_constants.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/constants_module.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/function_module.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/helper_module.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/main.py
  crates/cribo/tests/fixtures/pyfail_unresolvable_patterns/constants_a.py
  crates/cribo/tests/fixtures/pyfail_unresolvable_patterns/constants_b.py
  crates/cribo/tests/fixtures/pyfail_unresolvable_patterns/main.py
  crates/cribo/tests/snapshots/bundling_error@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundling_error@pyfail_mixed_cycles.snap
  crates/cribo/tests/snapshots/bundling_error@pyfail_unresolvable_patterns.snap
  crates/cribo/tests/test_bundling_snapshots.rs
  uv.lock
Due: format, dprint, lint, update-index
