Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate

renovate:
  run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

fix(ci): exclude temp directory from spellcheck and git tracking
  .gitignore
  .typos.toml
Due: dprint

fix(bundler): use deterministic relative paths for module hashing
  crates/cribo/src/hybrid_static_bundler.rs
Due: format, lint, update-index

test: update snapshots for deterministic module hashing
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_module_with_triple_quotes.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
Due: none

feat(bundler): implement content-based hashing for deterministic module naming
  crates/cribo/src/bundler.rs
  crates/cribo/src/hybrid_static_bundler.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_module_with_triple_quotes.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_bundled.snap
Due: format, lint, update-index

fix(bundler): use relative paths for module.__file__ attributes
  crates/cribo/src/hybrid_static_bundler.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_module_with_triple_quotes.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
Due: format, lint, update-index

fix(ci): resolve excessive nesting in get_deterministic_file_path
  crates/cribo/src/hybrid_static_bundler.rs
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_bundled.snap
Due: format, lint, update-index

chore: pin python to 3.12
  .python-version
Due: none

test: use stdin execution for Python bundler tests
  crates/cribo/tests/snapshots/execution_results@xfail_late_future_imports.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

test: add regex filter to remove Python traceback call indicators
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

test: limit stderr output to 2 lines to fix cross-platform CI differences
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

test: improve stdout test filters to eliminate cross-platform CI differences
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
  crates/cribo/tests/test_cli_stdout.rs
Due: format, lint, update-index

fix(bundler): correct __file__ assignment to point to actual bundled file
  crates/cribo/src/hybrid_static_bundler.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_module_with_triple_quotes.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
Due: format, lint, update-index

test: update remaining snapshots for __file__ assignment fix
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_bundled.snap
Due: none

test: add Windows-specific filters for cross-platform CLI tests
  crates/cribo/tests/test_cli_stdout.rs
Due: format, lint, update-index

chore(main): release 0.4.21
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.21 (#106)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(config): ignore .python-version in renovate updates
  renovate.json
Due: dprint, renovate

chore: trying to make renovate properly update ruff
  renovate.json
Due: dprint, renovate

feat(bundler): integrate unused import trimming into static bundler
  crates/cribo/src/hybrid_static_bundler.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/snapshots/cribo__unused_imports__tests__analyzer_independence_snapshots.snap
  crates/cribo/src/snapshots/cribo__unused_imports__tests__unused_import_detection_snapshots.snap
  crates/cribo/src/unused_imports.rs
  crates/cribo/tests/fixtures/ast_rewriting/alias_transformation_test/main.py
  crates/cribo/tests/fixtures/bundling/stickytape_circular_reference/first.py
  crates/cribo/tests/fixtures/bundling/stickytape_circular_reference/main.py
  crates/cribo/tests/fixtures/bundling/stickytape_circular_reference/second.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/test_unused_imports_simple.rs
Due: format, dprint, lint, update-index

feat(bundler): integrate unused import trimming into static bundler (#108)
  crates/cribo/src/hybrid_static_bundler.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/snapshots/cribo__unused_imports__tests__analyzer_independence_snapshots.snap
  crates/cribo/src/snapshots/cribo__unused_imports__tests__unused_import_detection_snapshots.snap
  crates/cribo/src/unused_imports.rs
  crates/cribo/tests/fixtures/ast_rewriting/alias_transformation_test/main.py
  crates/cribo/tests/fixtures/bundling/stickytape_circular_reference/first.py
  crates/cribo/tests/fixtures/bundling/stickytape_circular_reference/main.py
  crates/cribo/tests/fixtures/bundling/stickytape_circular_reference/second.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/test_unused_imports_simple.rs
Due: format, dprint, lint, update-index

refactor: rename bundler modules for clarity and better code navigation
  AGENTS.md
  CLAUDE.md
  README.md
  crates/cribo/benches/bundling.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/integration_tests.rs
  crates/cribo/tests/test_alias_transformation.rs
  crates/cribo/tests/test_ast_rewriting.rs
  crates/cribo/tests/test_bundling_snapshots.rs
  crates/cribo/tests/test_circular_dependencies.rs
  crates/cribo/tests/test_comprehensive_ast_rewrite.rs
  crates/cribo/tests/test_future_imports.rs
  crates/cribo/tests/test_relative_imports.rs
Due: format, dprint, lint, update-index

refactor: rename bundler modules for clarity and better code navigation (#111)
  AGENTS.md
  CLAUDE.md
  README.md
  crates/cribo/benches/bundling.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/integration_tests.rs
  crates/cribo/tests/test_alias_transformation.rs
  crates/cribo/tests/test_ast_rewriting.rs
  crates/cribo/tests/test_bundling_snapshots.rs
  crates/cribo/tests/test_circular_dependencies.rs
  crates/cribo/tests/test_comprehensive_ast_rewrite.rs
  crates/cribo/tests/test_future_imports.rs
  crates/cribo/tests/test_relative_imports.rs
Due: format, dprint, lint, update-index

fix(bundler): ensure future imports are correctly hoisted and late imports handled
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/unused_imports.rs
  crates/cribo/tests/fixtures/bundling/late_future_imports/main.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@late_future_imports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_special_shebang.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_single_file.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_single_file_using_stdlib.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_late_future_imports.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/execution_results@late_future_imports.snap
  crates/cribo/tests/snapshots/execution_results@xfail_late_future_imports.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/ruff_lint_results@future_imports_basic.snap
  crates/cribo/tests/snapshots/ruff_lint_results@init_reexports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_late_future_imports.snap
Due: format, dprint, lint, update-index

fix(bundler): ensure future imports are correctly hoisted and late imports handled (#112)
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/unused_imports.rs
  crates/cribo/tests/fixtures/bundling/late_future_imports/main.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@late_future_imports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_special_shebang.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_single_file.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_single_file_using_stdlib.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_late_future_imports.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/execution_results@late_future_imports.snap
  crates/cribo/tests/snapshots/execution_results@xfail_late_future_imports.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/ruff_lint_results@future_imports_basic.snap
  crates/cribo/tests/snapshots/ruff_lint_results@init_reexports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_late_future_imports.snap
Due: format, dprint, lint, update-index

chore(ai): remove useless Python LSP
  .mcp.json
Due: dprint

chore(ai): condense CLAUDE.md
  CLAUDE.md
Due: dprint

chore: reduce lefthook output
  .lefthook.yaml
Due: dprint, yamllint

:wip:
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/database/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/database/connection.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/utils/helpers.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/main.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/base.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/user.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/auth/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/auth/manager.py
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/test_comprehensive_ast_rewrite.rs
Due: format, dprint, lint, update-index

docs: analysis of javascript bundlers
  docs/bundler-crate-reuse-opportunities.md
  docs/comprehensive-ast-rewrite-implementation-plan.md
  docs/dependency-graph-crate-selection.md
  docs/rolldown-crates-analysis.md
  docs/rolldown-reference-tracking-analysis.md
  docs/rolldown-reusable-crates-analysis.md
  docs/rspack-architecture-analysis.md
  docs/turbopack-architecture-analysis.md
Due: dprint

chore(main): release 0.4.22
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

feat(bundler): migrate from DependencyGraph to CriboGraph with stdlib detection
  Cargo.lock
  Cargo.toml
  crates/cribo/Cargo.toml
  crates/cribo/benches/bundling.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/dependency_graph.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/integration_tests.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_multiple.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@simple_math.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__class_level_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__mixed_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__unresolvable_patterns_error.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
  crates/cribo/tests/test_circular_dependencies.rs
  crates/cribo/tests/test_dependency_graph_comprehensive.rs
  docs/cribo-graph-circular-dependencies.md
  docs/cribo-graph-implementation.md
Due: format, dprint, lint, taplo, update-index

feat(bundler): implement stdlib import deduplication and alphabetical sorting
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

feat(bundler): implement deterministic sorting for regular stdlib imports
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

feat(bundler): ensure sys and types imports follow deterministic ordering
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_module_with_triple_quotes.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_bundled.snap
  crates/cribo/tests/test_alias_transformation.rs
Due: format, lint, update-index

chore(main): release 0.4.22 (#110)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

fix(bundler): resolve clippy warnings by refactoring nested code
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

perf(bundler): use FxHasher with IndexMap/IndexSet for better performance
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

chore(ai): restore comprehensive CLAUDE.md
  CLAUDE.md
Due: dprint

feat(bundler): extend alias rewriting to handle comprehensive expression and statement types
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
