Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate, release-please

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate renovate-config-validator renovate.json
    release-please:
      glob: release-please-config.json
      run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

fix(test): enforce correct fixture naming for Python execution failures (#139)
  crates/cribo/tests/fixtures/pyfail_class_level_cycles/admin_class.py
  crates/cribo/tests/fixtures/pyfail_class_level_cycles/main.py
  crates/cribo/tests/fixtures/pyfail_class_level_cycles/user_class.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/config_constants.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/constants_module.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/function_module.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/helper_module.py
  crates/cribo/tests/fixtures/pyfail_mixed_cycles/main.py
  crates/cribo/tests/fixtures/pyfail_unresolvable_patterns/constants_a.py
  crates/cribo/tests/fixtures/pyfail_unresolvable_patterns/constants_b.py
  crates/cribo/tests/fixtures/pyfail_unresolvable_patterns/main.py
  crates/cribo/tests/snapshots/bundling_error@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundling_error@pyfail_mixed_cycles.snap
  crates/cribo/tests/snapshots/bundling_error@pyfail_unresolvable_patterns.snap
  crates/cribo/tests/test_bundling_snapshots.rs
  uv.lock
Due: format, dprint, lint, update-index

chore(ci): only run when a rust file changed
  .github/workflows/valgrind.yml
Due: dprint, yamllint

chore(main): release 0.4.30
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(ci): only run when a rust file is in PR
  .github/workflows/lint.yml
Due: dprint, yamllint

chore(ci): only run when there is a rust file in pr
  .github/workflows/coverage.yml
Due: dprint, yamllint

chore(ci): keep coverage always
  .github/workflows/coverage.yml
Due: dprint, yamllint

chore(main): release 0.4.30 (#133)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(ci): update pyproject.toml and lock file
  pyproject.toml
  uv.lock
Due: dprint

fix(bundler): handle imports from inlined modules in entry functions
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

chore: add actionlint
  .lefthook.yaml
Due: dprint, yamllint

chore: add actionlint config
  .github/actionlint.yaml
  .shellcheckrc
  .vscode/extensions.json
Due: dprint, yamllint

chore: add schemas to YAML configs
  .codecov.yml
  .commitlintrc.yaml
  .markdownlint.yaml
Due: dprint, yamllint, codecov

chore: use .markdownlint-cli2.yaml
  .markdownlint-cli2.yaml
  .vscode/settings.json
Due: dprint, yamllint

fix(bundler): handle mixed import patterns with circular dependencies
  .config/ast-grep/rule-tests/__snapshots__/no-context-snapshot.yml
  .config/ast-grep/rule-tests/no-context-test.yml
  .config/ast-grep/rule-utils/.gitkeep
  .config/ast-grep/rules/no-context.yml
  .config/nextest.toml
  .mcp.json
  crates/cribo/src/code_generator.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/fixtures/mixed_import_patterns/app.py
  crates/cribo/tests/fixtures/mixed_import_patterns/config.py
  crates/cribo/tests/fixtures/mixed_import_patterns/logger.py
  crates/cribo/tests/fixtures/mixed_import_patterns/main.py
  crates/cribo/tests/fixtures/mixed_import_patterns/utils.py
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/requirements@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/ruff_lint_results@mixed_import_patterns.snap
  sgconfig.yml
Due: format, dprint, lint, taplo, yamllint, update-index

chore(ai): disable dropping stash
  CLAUDE.md
Due: dprint

docs: semantic imports
  docs/proposals/mixed-import-patterns-fix.md
Due: dprint

chore(ai): remove ast-grep LSP
  .mcp.json
  CLAUDE.md
Due: dprint

feat(bundler): add semantic import analysis for mixed import patterns
  IMPLEMENTATION_PLAN.md
  SEMANTIC_ANALYSIS_SUMMARY.md
  SEMANTIC_IMPORT_ANALYSIS.md
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_analysis.rs
  crates/cribo/src/semantic_import_context.rs
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@mixed_import_patterns.snap
Due: format, dprint, lint, update-index

chore(ai): avoid time loss on pre-existing hunting
  CLAUDE.md
Due: dprint

chore: update markdownlint config
  .markdownlint-cli2.yaml
Due: dprint, yamllint

chore: update formatter config
  .rustfmt.toml
Due: dprint

chore: taplo auto format
  .lefthook.yaml
  .taplo.toml
  .vscode/settings.json
Due: dprint, yamllint

chore: add nightly toolchain
  rust-toolchain.toml
Due: dprint

chore: fix clippy config
  .clippy.toml
Due: dprint

chore: extend config
  .cargo/config.toml
Due: dprint, taplo

fix(bundler): implement semantic analysis for import context tracking
  .rustfmt.toml
  crates/cribo/benches/bundling.rs
  crates/cribo/build.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/combine.rs
  crates/cribo/src/config.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/dirs.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/main.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/semantic_analysis.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/semantic_import_context.rs
  crates/cribo/src/util.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/test_bundling_snapshots.rs
  crates/cribo/tests/test_cli_stdout.rs
  crates/cribo/tests/test_python_version_config.rs
  crates/cribo/tests/test_pythonpath_support.rs
  crates/cribo/tests/test_virtualenv_support.rs
Due: format, dprint, lint, update-index

chore: remove format from disallowed
  .clippy.toml
Due: dprint

chore: toml format
  .rustfmt.toml
  .typos.toml
  .vscode/settings.json
  lefthook.yml
Due: dprint, yamllint

chore(ai): sequential thinking
  CLAUDE.md
Due: dprint

chore(ai): update claude.md
  CLAUDE.md
Due: dprint

chore: remove invalid entries
  .clippy.toml
Due: dprint

fix(bundler): handle identity mappings in semantic renames for namespace imports
  .clippy.toml
  Cargo.toml
  crates/cribo/Cargo.toml
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_import_context.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  implementation_plan.md
Due: format, dprint, lint, taplo, update-index

fix(bundler): only rename symbols when there are actual conflicts
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
Due: format, lint, update-index
