Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix: handle submodules in __all__ exports correctly (#226)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
Due: format, lint, update-index

chore(deps): upgrade ruff crates to 0.12.5
  Cargo.lock
  Cargo.toml
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static_renaming.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

chore: extract helper
  crates/cribo/src/ast_builder/expressions.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: keep original range
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore(deps): upgrade ruff crates to 0.12.5 (#227)
  Cargo.lock
  Cargo.toml
  crates/cribo/src/ast_builder/expressions.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static_renaming.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

refactor: move namespace-related functions to namespace_manager module
  Cargo.lock
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: remove namespace wrapper functions and use direct module calls
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: remove unused _bundler parameter from get_unique_name_with_module_suffix
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

fix: remove unused bundler parameter from create_namespace_with_name
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: improve namespace_manager imports per review feedback
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

Refactor/move namespace functions (#229)
  Cargo.lock
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, markdownlint, dprint, lint, update-index

fix: handle forward references and re-exported symbols in module bundling
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/fixtures/forward_reference_in_exception/main.py
  crates/cribo/tests/fixtures/forward_reference_in_exception/myrequests/__init__.py
  crates/cribo/tests/fixtures/forward_reference_in_exception/myrequests/compat.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/bundled_code@multiline_strings_test.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/execution_results@multiline_strings_test.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/requirements@multiline_strings_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/ruff_lint_results@multiline_strings_test.snap
Due: format, dprint, lint, update-index, ruff-format

chore: update snapshot
  crates/cribo/tests/snapshots/bundled_code@forward_reference_in_exception.snap
Due: none

fix: change debug log levels from warn to debug
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: extract duplicated submodule assignment filtering logic
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: replace O(n³) sorting with simpler categorization approach
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@forward_reference_in_exception.snap
Due: format, lint, update-index

fix: resolve logic error and clippy warnings in filter_invalid_submodule_assignments
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

docs: fix misleading documentation about sorting algorithm
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: make collect_name_dependencies a static method
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: use debug level for diagnostic logging
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: remove unused snapshot
  crates/cribo/tests/snapshots/bundled_code@multiline_strings_test.snap
  crates/cribo/tests/snapshots/execution_results@multiline_strings_test.snap
  crates/cribo/tests/snapshots/requirements@multiline_strings_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@multiline_strings_test.snap
Due: none

Fix forward references and re-exported symbols in module bundling (#231)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/fixtures/forward_reference_in_exception/main.py
  crates/cribo/tests/fixtures/forward_reference_in_exception/myrequests/__init__.py
  crates/cribo/tests/fixtures/forward_reference_in_exception/myrequests/compat.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_in_exception.snap
Due: format, dprint, lint, update-index, ruff-format

chore(ai): update CLAUDE.md
  CLAUDE.md
Due: markdownlint, dprint

fix: resolve forward reference errors in hard dependency class inheritance
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/forward_reference_requests_compat/main.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/__init__.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/compat.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/cookies.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/exceptions.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/utils.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_requests_compat.snap
Due: format, dprint, lint, update-index, ruff-format

refactor: extract duplicated hard dependency rewriting logic into helper function
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
Due: format, lint, update-index

refactor: eliminate inefficient cloning of hard_dependencies
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

perf: optimize Vec::contains lookup with FxIndexSet
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: resolve forward reference errors in hard dependency class inheritance (#232)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/forward_reference_requests_compat/main.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/__init__.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/compat.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/cookies.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/exceptions.py
  crates/cribo/tests/fixtures/forward_reference_requests_compat/myrequests/utils.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_requests_compat.snap
Due: format, dprint, lint, update-index, ruff-format

chore(main): release 0.5.7
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.7 (#224)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore: xfail fixture
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/main.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/__init__.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/__version__.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/_internal_utils.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/certs.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/compat.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/models.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/sessions.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/utils.py
  crates/cribo/tests/snapshots/bundled_code@xfail_wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@xfail_wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/requirements@xfail_wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_wrapper_module_builtin_types.snap
Due: dprint, ruff-format

refactor: eliminate handle_imports_from_inlined_module wrapper method
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_wrapper_module_builtin_types.snap
Due: format, lint, update-index

docs: mark function as moved
  crates/cribo/src/code_generator/further-split-misses.md
Due: markdownlint, dprint

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
