Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate, release-please

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate renovate-config-validator renovate.json
    release-please:
      glob: release-please-config.json
      run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

fix(ci): upgrade actions/github-script
  .github/workflows/lint.yml
Due: dprint, yamllint

feat: add links to files
  .github/workflows/lint.yml
Due: dprint, yamllint

fix(resolver): handle imports in class methods for circular dependencies
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/tests/fixtures/bundling/mixed_import_patterns/app.py
  crates/cribo/tests/fixtures/bundling/mixed_import_patterns/config.py
  crates/cribo/tests/fixtures/bundling/mixed_import_patterns/logger.py
  crates/cribo/tests/fixtures/bundling/mixed_import_patterns/main.py
  crates/cribo/tests/fixtures/bundling/mixed_import_patterns/utils.py
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/ruff_lint_results@mixed_import_patterns.snap
Due: format, dprint, lint, update-index

fix(bundler): ensure parent packages are initialized before access
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@simple_math.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/ruff_lint_results@all_variable_handling.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_regular_import_aliases.snap
Due: format, lint, update-index

chore(ci): add comparison to main
  .github/workflows/lint.yml
Due: dprint, yamllint

fix(ci): correct comparison
  .github/workflows/lint.yml
Due: dprint, yamllint
