Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

refactor: remove no-op loop in wrapper export logging
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
Due: format, lint, update-index

fix: handle deep module paths in wrapper-init self rewrite
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
Due: format, lint, update-index

refactor(import_transformer): extract leaf and suite statement handlers to handlers/statements.rs; wire call sites; tests green
  crates/cribo/src/code_generator/import_transformer/handlers/mod.rs
  crates/cribo/src/code_generator/import_transformer/handlers/statements.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  docs/proposals/split-import-transformer-3.md
Due: format, markdownlint, dprint, lint, update-index

refactor(import_transformer): extract if and class handlers to handlers/statements.rs; tests green
  crates/cribo/src/code_generator/import_transformer/handlers/statements.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor(import_transformer): extract function definition handler to handlers/statements.rs; tests green
  crates/cribo/src/code_generator/import_transformer/handlers/statements.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

chore: set too many lines to 200
  .clippy.toml
Due: dprint

refactor(import_transformer): extract assignment handler to handlers/statements.rs; preserve continue semantics; tests green
  crates/cribo/src/code_generator/import_transformer/handlers/statements.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

docs: commit proposal 3
  docs/proposals/split-import-transformer-3.md
Due: markdownlint, dprint

docs: update status
  docs/proposals/split-import-transformer-2.md
Due: markdownlint, dprint

chore: address PR review comment 2347621816
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
Due: format, lint, update-index

fix(import_transformer): track all assigned names in destructuring assignments
  crates/cribo/src/code_generator/import_transformer/handlers/statements.rs
Due: format, lint, update-index

refactor(import_transformer): use IndexSet::default() instead of Default::default()
  crates/cribo/src/code_generator/import_transformer/handlers/statements.rs
Due: format, lint, update-index

refactor(import_transformer): pass BundledImportContext by reference
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor(import_transformer): move use statements to function start
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
Due: format, lint, update-index

refactor(import_transformer): use let...else pattern instead of manual if-let
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor(import_transformer): pass BundledImportContext by reference in transform_wrapper_symbol_imports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor(import_transformer): pass RecursiveImportTransformerParams by reference
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/state.rs
Due: format, lint, update-index

refactor(import_transformer): move use statement to function start in submodule handler
  crates/cribo/src/code_generator/import_transformer/handlers/submodule.rs
Due: format, lint, update-index

refactor(import_transformer): pass RecursiveImportTransformerParams by reference in constructor
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: add ExprContext::Load guards to prevent unsafe attribute rewrites
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
Due: format, lint, update-index

fix: preserve source ranges for stdlib-alias dotted name rewrites
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
Due: format, lint, update-index

fix: use std::mem::take to avoid move-out-of-borrowed-field error
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
Due: format, lint, update-index

refactor: complete import transformer modularization (split-import-transformer proposals) (#359)
  .clippy.toml
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/import_transformer/handlers/dynamic.rs
  crates/cribo/src/code_generator/import_transformer/handlers/fallback.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/handlers/mod.rs
  crates/cribo/src/code_generator/import_transformer/handlers/relative.rs
  crates/cribo/src/code_generator/import_transformer/handlers/statements.rs
  crates/cribo/src/code_generator/import_transformer/handlers/stdlib.rs
  crates/cribo/src/code_generator/import_transformer/handlers/submodule.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/state.rs
  crates/cribo/src/code_generator/import_transformer/statement.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_deduplication.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_edge_cases.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@simple_nested_handler.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_alike_locals.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_special_shebang.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_single_file_using_stdlib.snap
  crates/cribo/tests/snapshots/bundled_code@type_checking_imports.snap
  docs/proposals/split-import-transformer-2.md
  docs/proposals/split-import-transformer-3.md
  docs/proposals/split-import-transformer.md
Due: format, markdownlint, dprint, lint, update-index

chore: update VSCode copilot setting
  .vscode/settings.json
Due: dprint

chore: add nextest to dependencies
  Cargo.toml
Due: dprint

test: create fixture
  crates/cribo/tests/fixtures/circular_import_from_init/main.py
  crates/cribo/tests/fixtures/circular_import_from_init/rich/__init__.py
  crates/cribo/tests/fixtures/circular_import_from_init/rich/console.py
  crates/cribo/tests/fixtures/circular_import_from_init/rich/jupyter.py
Due: dprint, ruff-format

fix: handle circular imports from parent __init__ modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/snapshots/bundled_code@circular_import_from_init.snap
  crates/cribo/tests/snapshots/bundled_code@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/execution_results@circular_import_from_init.snap
  crates/cribo/tests/snapshots/execution_results@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/requirements@circular_import_from_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@circular_import_from_init.snap
Due: format, lint, update-index

chore(ai): add PR comments instructions
  .github/copilot-instructions.md
Due: markdownlint, dprint

fix: preserve intended attributes
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/execution_results@xfail_file_deduplication_symlinks.snap
Due: format, lint, update-index

chore: update Copilot settings
  .vscode/settings.json
Due: dprint

fix: duplicated assignments
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@builtin_types_circular.snap
  crates/cribo/tests/snapshots/bundled_code@circular_import_from_init.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/bundled_code@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/bundled_code@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/bundled_code@simple_two_dots.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
Due: format, lint, update-index

chore: remove copilot-instructions as copilot reads AGENTS.md now
  .github/copilot-instructions.md
Due: markdownlint, dprint

chore: remove outdated mcp settings
  .vscode/settings.json
Due: dprint

chore: add placeholder mcp config
  .vscode/mcp.json
Due: dprint

chore(namespace): address PR review comment 2348749946 by simplifying Option chaining logic
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

fix: reduce auto approval
  .vscode/settings.json
Due: dprint

chore: remove personal settings
  .vscode/settings.json
Due: dprint

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
