Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix(bundler): robust late-stage package child alias exposure and remove early exports
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: wrapper init ordering and clippy cleanups
  crates/cribo/src/ast_builder/module_wrapper.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@builtin_types_circular.snap
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@circular_import_function_reference.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_pkg.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/bundled_code@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/bundled_code@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/bundled_code@parent_child_circular.snap
  crates/cribo/tests/snapshots/bundled_code@simple_two_dots.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
Due: format, lint, update-index

chore(ecosystem): remove xfail on pyyaml tests
  ecosystem/scenarios/test_pyyaml.py
Due: dprint, ruff-format

feat: centralize __init__ and __main__ handling via python module
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/ast_builder/module_wrapper.rs
  crates/cribo/src/ast_builder/proxy_generator.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/python/constants.rs
  crates/cribo/src/python/mod.rs
  crates/cribo/src/python/module_path.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/util.rs
  crates/cribo/src/visitors/import_discovery.rs
  docs/proposals/init-discovery.md
  scripts/lint-init-usage.sh
Due: format, markdownlint, dprint, lint, update-index

fix: properly classify PEP 420 namespace packages
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: handle both __init__ and __main__ in skip-entry-package logic
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: properly convert OsStr to &str before comparing with INIT_FILE
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: don't drop imports when skipping init call for entry package
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

perf: optimize is_init_module_name to avoid string allocation
  crates/cribo/src/python/module_path.rs
Due: format, lint, update-index

refactor: use centralized predicate for init-file detection
  crates/cribo/src/semantic_bundler.rs
Due: format, lint, update-index

fix: handle __main__ in entry_package_name function
  crates/cribo/src/analyzers/module_classifier.rs
Due: format, lint, update-index

fix: make resolve_relative_import_from_package_name registry-aware
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

docs: add comprehensive documentation to ModuleKind enum
  crates/cribo/src/python/module_path.rs
Due: format, lint, update-index

refactor: use safer file_stem approach for .py extension removal
  crates/cribo/src/python/module_path.rs
Due: format, lint, update-index

refactor: remove all #[allow] attributes per repo policy
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/resolver.rs
  rustc-ice-2025-09-08T17_03_07-91331.txt
Due: format, lint, update-index

fix: use get_search_directories() in path_to_module_parts
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: properly handle directory entries for package resolution
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: remove wrong file
  .gitignore
  rustc-ice-2025-09-08T17_03_07-91331.txt
Due: none

refactor: use ModuleKind enum instead of is_package boolean in is_entry_package
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: use resolver-backed module var name for consistency
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

refactor: add is_namespace_package helper and simplify package detection
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: format
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: add debug assertion to guard against misuse of package directories
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

feat: centralize __init__ and __main__ handling via python module (#349)
  .gitignore
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/ast_builder/module_wrapper.rs
  crates/cribo/src/ast_builder/proxy_generator.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/python/constants.rs
  crates/cribo/src/python/mod.rs
  crates/cribo/src/python/module_path.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/util.rs
  crates/cribo/src/visitors/import_discovery.rs
  docs/proposals/init-discovery.md
  scripts/lint-init-usage.sh
Due: format, markdownlint, dprint, lint, update-index

chore: add Junie guide
  .junie/guidelines.md
Due: markdownlint, dprint

chore(main): release 0.6.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: handle empty import name
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: prevent global/parameter conflicts in wrapper modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore(main): release 0.6.0 (#350)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: eliminate dead code initialization in function bodies
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/symbol_usage_visitor.rs
  crates/cribo/tests/fixtures/circular_symbol_usage/main.py
  crates/cribo/tests/fixtures/circular_symbol_usage/module_a.py
  crates/cribo/tests/fixtures/circular_symbol_usage/module_b.py
  crates/cribo/tests/fixtures/symbol_usage_optimization/main.py
  crates/cribo/tests/fixtures/symbol_usage_optimization/submodule/__init__.py
  crates/cribo/tests/fixtures/symbol_usage_optimization/submodule/helpers.py
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@circular_symbol_usage.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@symbol_usage_optimization.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_multi_circular.snap
  crates/cribo/tests/snapshots/execution_results@circular_symbol_usage.snap
  crates/cribo/tests/snapshots/execution_results@symbol_usage_optimization.snap
  crates/cribo/tests/snapshots/requirements@circular_symbol_usage.snap
  crates/cribo/tests/snapshots/requirements@symbol_usage_optimization.snap
  crates/cribo/tests/snapshots/ruff_lint_results@circular_symbol_usage.snap
  crates/cribo/tests/snapshots/ruff_lint_results@symbol_usage_optimization.snap
Due: format, dprint, lint, update-index, ruff-format

fix: use globals() to access modules that might be shadowed by local variables
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: properly handle wrapper module initialization in functions
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_multi_circular.snap
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
