Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

refactor: use SELF_PARAM constant consistently across codebase (#367)
  .vscode/tasks.json
  crates/cribo/src/ast_builder/proxy_generator.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/import_transformer/handlers/stdlib.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/visitors/utils.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
Due: format, dprint, lint, update-index

fix: prevent globals() transformation in functions within circular dependency modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: preserve wrapper module imports for side effects
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_multi_circular.snap
Due: format, lint, update-index

refactor: simplify transform_globals_in_stmt_wrapper using existing function
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

fix: use SCC membership for circular dep detection in bundler
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: replace brittle type heuristic with proper usage detection
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
Due: format, lint, update-index

chore: format
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
Due: format, lint, update-index

perf: use cached used_symbols instead of recomputing per call
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

docs: add documentation for current_function_used_symbols field
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
Due: format, lint, update-index

fix: use unpruned circular module set for accurate detection
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
Due: format, lint, update-index

perf: avoid cloning used-symbols set on hot path
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
Due: format, lint, update-index

fix: use unpruned circular deps helper for all SCC checks
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

perf: thread used-symbols through BundledImportContext
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
Due: format, lint, update-index

fix: prevent globals() transformation in functions within circular dependency modules (#368)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_multi_circular.snap
Due: format, lint, update-index

chore(ai): update instructions files
  AGENTS.md
  CLAUDE.md
  crates/cribo/src/code_generator/mod.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: improve visitor pattern implementations across codebase
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/visitors/local_var_collector.rs
  crates/cribo/src/visitors/symbol_usage_visitor.rs
Due: format, lint, update-index

chore(main): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

refactor: improve import_discovery visitor to use SourceOrderVisitor pattern
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/visitors/import_discovery.rs
Due: format, lint, update-index

fix: correct visitor pattern implementations to properly call walk_stmt
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/local_var_collector.rs
Due: format, lint, update-index

fix: correct TYPE_CHECKING handling for if/else branches
  crates/cribo/src/visitors/import_discovery.rs
Due: format, lint, update-index

refactor: simplify LocalVarCollector visitor implementation
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/local_var_collector.rs
Due: format, lint, update-index

refactor: simplify WrapperGlobalCollector visitor implementation
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: improve visitor pattern implementations across codebase (#371)
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/local_var_collector.rs
  crates/cribo/src/visitors/symbol_usage_visitor.rs
Due: format, lint, update-index

feat: add idna to ecosystem tests with improved test infrastructure
  .gitmodules
  crates/cribo/benches/ecosystem.rs
  crates/cribo/tests/common/mod.rs
  crates/cribo/tests/test_bundling_snapshots.rs
  crates/cribo/tests/test_ecosystem.rs
  docs/ecosystem-tests.md
  ecosystem/pytest.ini
  ecosystem/scenarios/test_httpx.py
  ecosystem/scenarios/test_idna.py
  ecosystem/scenarios/test_pyyaml.py
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/test_rich.py
  ecosystem/scenarios/utils.py
  pyproject.toml
  uv.lock
Due: format, markdownlint, dprint, lint, update-index, ruff-format

perf: move get_workspace_root() call outside loop in ecosystem benchmarks
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

fix: add proper error handling for cargo locate-project command
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

chore: remove idna tag
  .gitmodules
Due: none

fix(ci): add git submodules initialization to all test workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/valgrind.yml
  ecosystem/scenarios/utils.py
Due: dprint, yamllint, actionlint, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
