Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

feat: make ecosystem tests continue on failure for better visibility
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

refactor: migrate ecosystem tests to pytest with xfail markers
  .github/workflows/ecosystem-tests.yml
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/test_rich.py
  pyproject.toml
  uv.lock
Due: dprint, yamllint, actionlint, ruff-format

refactor: replace pytest.fail() with proper assertions
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/test_rich.py
Due: dprint, ruff-format

docs: add ecosystem test documentation and helper script
  ecosystem/README.md
  ecosystem/run_tests.py
Due: markdownlint, dprint, ruff-format

fix: avoid double-silencing test failures in ecosystem workflow
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: remove redundant pytest installation in workflow
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

refactor: unify requirements parsing with PEP 503 normalization
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/test_rich.py
  ecosystem/scenarios/utils.py
Due: dprint, ruff-format

chore: set artifact retention to 14 days in ecosystem workflow
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

feat: publish ecosystem report to GitHub Actions Summary tab
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

refactor: use robust XML parsing for JUnit test results
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

feat: enhance pytest output with -ra flag and capture exit code
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: relative imports being incorrectly classified as stdlib imports (#267)
  .github/workflows/ecosystem-tests.yml
  .gitmodules
  Cargo.lock
  Cargo.toml
  crates/cribo/Cargo.toml
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/fixtures/stdlib_name_collision/main.py
  crates/cribo/tests/fixtures/stdlib_name_collision/mypackage/__init__.py
  crates/cribo/tests/fixtures/stdlib_name_collision/mypackage/abc.py
  crates/cribo/tests/fixtures/stdlib_name_collision/mypackage/pretty.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_collision.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_name_collision.snap
  crates/cribo/tests/snapshots/requirements@stdlib_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_name_collision.snap
  docs/ecosystem-tests.md
  ecosystem/README.md
  ecosystem/run_tests.py
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/test_rich.py
  ecosystem/scenarios/utils.py
  pyproject.toml
  uv.lock
Due: format, markdownlint, dprint, lint, taplo, yamllint, update-index, actionlint, ruff-format

chore(main): release 0.5.12
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.12 (#268)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(ai): instruct code rabbit to ignore npm/cribo/package.json
  .coderabbit.yaml
Due: dprint, yamllint

chore: cleanup
  debug_export_check.py
Due: dprint

test: create stdlib import fixture
  crates/cribo/tests/fixtures/stdlib_module_import/helper.py
  crates/cribo/tests/fixtures/stdlib_module_import/main.py
Due: dprint, ruff-format

fix: collect dependencies from nested classes and functions in graph builder
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_import.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_import.snap
  crates/cribo/tests/snapshots/requirements@stdlib_module_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_module_import.snap
Due: format, lint, update-index

refactor: use iterator chaining for parameter annotation collection
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

fix: remove redundant use statement inside loop
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: collect variables from class keyword arguments
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

fix: collect variables from parameter default values
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

fix: ensure deterministic iteration order by using FxIndexSet/FxIndexMap
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@symbol_collision_inheritance.snap
Due: format, lint, update-index

fix: collect method decorators and vararg/kwarg annotations in class methods
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

refactor: extract duplicated parameter processing into helper methods
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

fix: collect dependencies from nested classes and functions in graph builder (#272)
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/stdlib_module_import/helper.py
  crates/cribo/tests/fixtures/stdlib_module_import/main.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_import.snap
  crates/cribo/tests/snapshots/bundled_code@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_import.snap
  crates/cribo/tests/snapshots/requirements@stdlib_module_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_module_import.snap
Due: format, dprint, lint, update-index, ruff-format

fix: prevent stdlib module name conflicts in bundled imports
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/tests/fixtures/stdlib_module_name_collision/main.py
  crates/cribo/tests/fixtures/stdlib_module_name_collision/mypkg/__init__.py
  crates/cribo/tests/fixtures/stdlib_module_name_collision/mypkg/abc.py
  crates/cribo/tests/fixtures/stdlib_module_name_collision/mypkg/console.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/requirements@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_module_name_collision.snap
Due: format, dprint, lint, update-index, ruff-format

refactor: improve stdlib conflict detection to include aliases and imported symbols
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

refactor: extract stdlib conflict checking into helper function
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

refactor: make stdlib names collection more idiomatic
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: correctly handle dotted stdlib imports in conflict detection
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/stdlib_module_name_collision/mypkg/console.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_name_collision.snap
Due: format, dprint, lint, update-index, ruff-format

perf: cache stdlib names to avoid repeated computation
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: prevent stdlib module name conflicts in bundled imports (#275)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/tests/fixtures/stdlib_module_name_collision/main.py
  crates/cribo/tests/fixtures/stdlib_module_name_collision/mypkg/__init__.py
  crates/cribo/tests/fixtures/stdlib_module_name_collision/mypkg/abc.py
  crates/cribo/tests/fixtures/stdlib_module_name_collision/mypkg/console.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/requirements@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_module_name_collision.snap
Due: format, dprint, lint, update-index, ruff-format

fix: improve class ordering for cross-module inheritance
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
