Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix: simpler global transformation
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
Due: format, lint, update-index

fix: auto activate venv
  .vscode/tasks.json
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

chore: address PR review comment 2348795466
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

chore: update .vscode/tasks.json
  .vscode/tasks.json
Due: dprint

refactor(namespace): skip wrapper re-export assignment when source uses init
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

fix: prefer __init__.py over __main__.py when directory is entry point
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: use package name for __init__.py entry modules
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

feat: add logging and comprehensive tests for directory entry selection
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/fixtures/directory_entry_main/__init__.py
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_empty_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_main_stdout.snap
  crates/cribo/tests/test_cli_stdout.rs
  crates/cribo/tests/test_directory_entry_simple.rs
Due: format, dprint, lint, update-index, ruff-format

fix: prefer __init__.py over __main__.py for directory entry points (#364)
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/fixtures/directory_entry_main/__init__.py
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_empty_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_main_stdout.snap
  crates/cribo/tests/test_cli_stdout.rs
  crates/cribo/tests/test_directory_entry_simple.rs
Due: format, dprint, lint, update-index, ruff-format

fix: attach entry module exports to namespace for package imports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_init_stdout.snap
  ecosystem/scenarios/test_rich.py
Due: format, dprint, lint, update-index, ruff-format

fix: restrict namespace attachment to entry module symbols only
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: improve package name derivation for namespace attachment
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: handle renamed symbols in namespace attachment
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: ensure namespace exists before attaching entry module exports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_init_stdout.snap
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_main_stdout.snap
Due: format, lint, update-index

chore: remove redundant GH_PAGER
  CLAUDE.md
Due: markdownlint, dprint

refactor: extract namespace attachment logic to helper method
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: improve is_duplicate_simple_module_attr_assignment readability
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: check both target and value for duplicate namespace assignments
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
Due: format, lint, update-index

chore: remove redundant __main__ string check
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: update AI agent rules
  AGENTS.md
  CLAUDE.md
Due: markdownlint, dprint

chore: fix pylance indexing
  .vscode/settings.json
Due: dprint

chore: remove empty rich tests
  .vscode/settings.json
  ecosystem/scenarios/test_rich.py
Due: dprint, ruff-format

chore: add more cargo tasks
  .vscode/tasks.json
Due: dprint

fix: honor tree-shaking in namespace export attachment
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

feat: add support for more literal types in expression comparison
  crates/cribo/src/code_generator/expression_handlers.rs
Due: format, lint, update-index

fix: attach entry module exports to namespace for package imports (#366)
  .vscode/settings.json
  .vscode/tasks.json
  AGENTS.md
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_init_stdout.snap
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_main_stdout.snap
  ecosystem/scenarios/test_rich.py
Due: format, markdownlint, dprint, lint, update-index, ruff-format

refactor: use SELF_PARAM constant consistently across codebase
  crates/cribo/src/ast_builder/proxy_generator.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/import_transformer/handlers/stdlib.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: use correct module reference in add_global_sync_if_needed
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
Due: format, lint, update-index

perf: avoid unnecessary String allocation in wrapper-init path
  crates/cribo/src/code_generator/import_transformer/handlers/stdlib.rs
Due: format, lint, update-index

chore: add folderOpen task
  .vscode/tasks.json
Due: dprint

refactor: remove dead SELF_PARAM fallback in globals.rs
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

fix: handle tuple/list unpacking in global sync
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: use visitor pattern utility for collecting assignment target names
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/visitors/utils.rs
Due: format, lint, update-index

chore: update tasks
  .vscode/tasks.json
Due: dprint

refactor: replace stringly-typed introspection with enum for type safety
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

docs: convert SELF_PARAM line comment to doc comment
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
