Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

refactor: consolidate filter_exports_by_tree_shaking functions (#237)
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/tree_shaking.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: use ast_builder::expressions::dotted_name in create_dotted_attribute_assignment
  crates/cribo/src/ast_builder/misses.md
  crates/cribo/src/code_generator/expression_handlers.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: add assign_attribute and function_def to ast_builder
  crates/cribo/src/ast_builder/misses.md
  crates/cribo/src/ast_builder/statements.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: complete ast_builder refactorings for module transformer and import deduplicator
  crates/cribo/src/ast_builder/misses.md
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: move Identifier and StmtFunctionDef imports to top level
  crates/cribo/src/ast_builder/statements.rs
Due: format, lint, update-index

refactor: systematically apply ast_builder usage across codebase (#238)
  crates/cribo/src/ast_builder/misses.md
  crates/cribo/src/ast_builder/statements.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

fix: handle built-in type re-exports correctly in bundled output
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@builtin_types.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
Due: format, lint, update-index

fix: handle all builtin type references in init functions
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: use proper Python version instead of hardcoded 8 in builtin checks
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

feat: extend built-in detection to cover annotated assignments
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

feat: add missing expression types to builtin shadowing transformation
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/main.py
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/pkg/__init__.py
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/pkg/__version__.py
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/pkg/_internal_utils.py
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/pkg/certs.py
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/pkg/compat.py
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/pkg/models.py
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/pkg/sessions.py
  crates/cribo/tests/fixtures/wrapper_module_builtin_types/pkg/utils.py
Due: format, dprint, lint, update-index, ruff-format

test: keep wrapper_module_builtin_types as xfail
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/main.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/__init__.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/__version__.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/_internal_utils.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/certs.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/compat.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/models.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/sessions.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/utils.py
Due: dprint, ruff-format

test: update snapshots after builtin type fix
  crates/cribo/tests/snapshots/bundled_code@builtin_types.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@xfail_wrapper_module_builtin_types.snap
Due: none

fix: handle generator expression iterators in builtin shadowing
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: remove hardcoded Python version in reorder_cross_module_statements
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: remove unused _python_version parameter from transform_expr_for_builtin_shadowing
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: extract duplicated module_level_vars logic into helper function
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: improve readability by replacing let-chain with nested if statements
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: simplify code by removing unreachable else branches
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: combine nested if let statements with tuple pattern
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: simplify nested if statements with slice and tuple pattern matching
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: reduce duplication in builtin detection logic
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: replace unwrap() with expect() to comply with clippy rules
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: handle built-in type re-exports correctly in bundled output (#240)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@builtin_types.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_in_exception.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@xfail_wrapper_module_builtin_types.snap
Due: format, lint, update-index

refactor: return Option<Stmt> instead of pass statement
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: eliminate duplicate module exports check
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: use sanitize_module_name_for_identifier consistently
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: extract deeply nested logic into helper function
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: extract submodule namespace check into helper method
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: move process_wrapper_module_globals to globals module
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/globals.rs
Due: format, markdownlint, dprint, lint, update-index

style: use let-else statement for better readability
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

perf: use extend_from_slice to avoid unnecessary clone
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

refactor: move process_wrapper_module_globals to globals module (#243)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/globals.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: consolidate alias rewriting functions into expression_handlers
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/stdlib_normalization.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
