Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

refactor: extract common rename logic into helper function
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/tests/snapshots/bundled_code@metaclass_ordering_collision.snap
Due: format, lint, update-index

fix: handle import aliases in class argument renaming
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

fix: apply renames to metaclass keyword arguments in class definitions (#295)
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/tests/fixtures/metaclass_ordering_collision/main.py
  crates/cribo/tests/fixtures/metaclass_ordering_collision/module_a.py
  crates/cribo/tests/fixtures/metaclass_ordering_collision/module_b.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/requirements@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_ordering_collision.snap
Due: format, dprint, lint, update-index, ruff-format

fix: resolve metaclass forward references and tree-shaking for same-module dependencies
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/requirements@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_renamed_forward_ref.snap
Due: format, lint, update-index

refactor: simplify dependency resolution using is_defined_in_module helper
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

perf: avoid unnecessary cloning in metaclass rename handling
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

refactor: extract find_defining_module_preferring_local helper method
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

refactor: use and_then for more idiomatic optional chaining
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

chore: format
  .github/workflows/lint.yml
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/metaclass_renamed_forward_ref/base.py
  crates/cribo/tests/fixtures/metaclass_renamed_forward_ref/main.py
  crates/cribo/tests/fixtures/metaclass_renamed_forward_ref/other.py
Due: format, dprint, lint, yamllint, update-index, actionlint, ruff-format

fix: resolve metaclass forward references and tree-shaking for same-module dependencies (#296)
  .github/workflows/lint.yml
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/metaclass_renamed_forward_ref/base.py
  crates/cribo/tests/fixtures/metaclass_renamed_forward_ref/main.py
  crates/cribo/tests/fixtures/metaclass_renamed_forward_ref/other.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/requirements@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_renamed_forward_ref.snap
Due: format, dprint, lint, yamllint, update-index, actionlint, ruff-format

fix: resolve metaclass forward references and tree-shaking for same-module dependencies
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/fixtures/metaclass_collision/main.py
  crates/cribo/tests/fixtures/metaclass_collision/pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_collision/pkg/submodule.py
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/bundled_code@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_collision.snap
  crates/cribo/tests/snapshots/requirements@metaclass_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_collision.snap
Due: format, dprint, lint, update-index, ruff-format

chore: update snapshot
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
Due: none

fix: correctly resolve multi-level relative imports in re-export detection
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: bind existing namespace to module attribute in wrapper context
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
Due: format, lint, update-index

fix: handle aliases and symbol renames in re-export resolution
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: make metaclass detection more idiomatic using iter().any()
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index

fix: prefer precise re-export detection over coarse package heuristic
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: eliminate duplicated fallback logic in module resolution
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: resolve metaclass forward references and tree-shaking for same-module dependencies (#297)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/fixtures/metaclass_collision/main.py
  crates/cribo/tests/fixtures/metaclass_collision/pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_collision/pkg/submodule.py
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/bundled_code@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_collision.snap
  crates/cribo/tests/snapshots/requirements@metaclass_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_collision.snap
Due: format, dprint, lint, update-index, ruff-format

fix: correctly reference symbols from wrapper modules in namespace assignments
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/fixtures/metaclass_forward_ref_init/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init/yaml_pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init/yaml_pkg/base.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init/yaml_pkg/meta.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_init.snap
Due: format, dprint, lint, update-index, ruff-format

fix: handle unresolvable imports gracefully in find_symbol_source_module
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
Due: format, lint, update-index

refactor: simplify source_expr creation using dotted_name
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

fix: handle aliased imports in metaclass forward reference re-exports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/fixtures/metaclass_forward_ref_init_alias/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init_alias/yaml_pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init_alias/yaml_pkg/base.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init_alias/yaml_pkg/meta.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_init_alias.snap
Due: format, dprint, lint, update-index, ruff-format

test: accept updated snapshot for aliased metaclass forward ref test
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
Due: none

fix: ensure wrapper module initialization happens before wildcard import assignments
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/fixtures/metaclass_forward_ref_wildcard/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_wildcard/wildcard_pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_wildcard/wildcard_pkg/base.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_wildcard/wildcard_pkg/meta.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_wildcard.snap
Due: format, dprint, lint, update-index, ruff-format

refactor: use ast_builder for wildcard import AST node creation
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: avoid reordering unrelated deferred imports when handling wildcards
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: respect explicit __all__ and ensure deterministic output for wildcard imports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
Due: format, lint, update-index

refactor: use is_init_function() utility instead of hardcoded prefix
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: extract duplicate symbol source finding logic into shared utility
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

fix: continue scanning imports when encountering unresolvable imports
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

refactor: deduplicate resolve_import_module helper across modules
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

refactor: simplify wildcard import debug logging
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

docs: clarify wildcard import handling in symbol_source.rs
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

feat: recursively collect imports from nested scopes in symbol_source
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

refactor: rename import collection functions for clarity
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

docs: fix inaccurate parameter documentation in symbol_source.rs
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index
