Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

feat: add Software Architect agent with Opus model
  .claude/agents/software-architect.md
Due: markdownlint, dprint

refactor: complete stateless phase pattern for all phases
  crates/cribo/src/code_generator/phases/classification.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/initialization.rs
  crates/cribo/src/code_generator/phases/post_processing.rs
  crates/cribo/src/code_generator/phases/processing.rs.bak
  docs/proposals/refactor-bundle-modules-borrow-checker-solution.md
Due: format, markdownlint, dprint, lint, update-index

feat: wire bundle_modules to delegate to BundleOrchestrator
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
Due: format, lint, update-index

fix: add missing bundler.inline_module() call in ProcessingPhase
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

fix: sanitize top-level parent in namespace chain to handle absolute paths
  Cargo.lock
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: skip empty src_dir in find_module_in_src_dirs to prevent absolute path module names
  crates/cribo/src/orchestrator.rs
  docs/proposals/refactor-status-and-remaining-work.md
Due: format, markdownlint, dprint, lint, update-index

Revert "fix: skip empty src_dir in find_module_in_src_dirs to prevent absolute path module names"
  crates/cribo/src/orchestrator.rs
  docs/proposals/refactor-status-and-remaining-work.md
Due: format, markdownlint, dprint, lint, update-index

docs: detailed investigation status for debugging session
  INVESTIGATION_STATUS.md
Due: markdownlint, dprint

fix: add missing bundler.inline_module() call in ProcessingPhase
  .claude/agents/refactor-divergence.agent.md
  .claude/commands/refactor-divergence.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/phases/processing.rs
  crates/cribo/src/orchestrator.rs
Due: format, markdownlint, dprint, lint, update-index

chore: update refactor divergence agent model
  .claude/agents/refactor-divergence.agent.md
Due: markdownlint, dprint

chore: revert lock file changes
  Cargo.lock
Due: none

chore: remove the command and update model
  .claude/agents/refactor-divergence.agent.md
  .claude/commands/refactor-divergence.md
Due: markdownlint, dprint

refactor: remove dead code and legacy bundle_modules implementation
  crates/cribo/src/analyzers/mod.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/phases/initialization.rs
Due: format, lint, update-index

refactor: eliminate all remaining clippy warnings
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

chore: remove outdated docs
  .gitignore
  INVESTIGATION_STATUS.md
  crates/cribo/src/code_generator/phases/processing.rs.bak
  docs/proposals/refactor-bundle-modules-borrow-checker-question.md
Due: markdownlint, dprint

refactor: remove bundle_modules and rename to PhaseOrchestrator
  AGENTS.md
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
  crates/cribo/src/orchestrator.rs
Due: format, markdownlint, dprint, lint, update-index

fix: add Default derive to all phase structs for clippy
  crates/cribo/src/code_generator/phases/classification.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/initialization.rs
  crates/cribo/src/code_generator/phases/post_processing.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

refactor: simplify parent_var logic in namespace chain
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: remove unused _bundler parameter from collect_entry_symbols
  crates/cribo/src/code_generator/phases/entry_module.rs
Due: format, lint, update-index

refactor: remove unused _bundler parameter from check_duplicate_assignment
  crates/cribo/src/code_generator/phases/entry_module.rs
Due: format, lint, update-index

perf: remove unnecessary clone of entry_module_name
  crates/cribo/src/code_generator/phases/orchestrator.rs
Due: format, lint, update-index

perf: eliminate expensive clones in global symbol collection
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
Due: format, lint, update-index

refactor: remove redundant shift_remove in classification phase
  crates/cribo/src/code_generator/phases/classification.rs
Due: format, lint, update-index

fix: prevent child module exposure from shadowing entry symbols
  crates/cribo/src/code_generator/phases/entry_module.rs
Due: format, lint, update-index

test: add debug assertion for disjoint module sets
  crates/cribo/src/code_generator/phases/classification.rs
Due: format, lint, update-index

fix: use accurate SCC membership check for entry module
  crates/cribo/src/code_generator/phases/entry_module.rs
Due: format, lint, update-index

refactor: reduce log level for module processing order
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

refactor: remove unused global_deferred_imports infrastructure
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/state.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

refactor: use module_id parameter directly in process_inlinable_module
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

refactor: use module_id parameter directly in process_wrapper_module
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

refactor: use project-wide type aliases in initialization phase
  crates/cribo/src/code_generator/phases/initialization.rs
Due: format, lint, update-index

refactor: unify post-processing result type with context module
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/phases/post_processing.rs
Due: format, lint, update-index

refactor: remove redundant ENTRY module checks in process_inlinable_module
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

refactor: replace #[allow(clippy)] with #[expect(clippy)]
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/processing.rs
  crates/cribo/tests/test_bundling_snapshots.rs
  crates/cribo/tests/test_cli_stdout.rs
  crates/cribo/tests/test_directory_entry_simple.rs
Due: format, lint, update-index

fix: populate wrapper_modules during classification phase
  crates/cribo/src/code_generator/phases/classification.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

fix: preserve module docstring before proxy statements
  crates/cribo/src/code_generator/phases/post_processing.rs
  crates/cribo/tests/snapshots/bundled_code@fstring_globals_lifting.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_alike_locals.snap
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_init_stdout.snap
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_main_stdout.snap
Due: format, lint, update-index

fix: enforce sanitized key invariant for created_namespaces
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: remove duplicate namespace-import discovery
  crates/cribo/src/code_generator/phases/initialization.rs
  crates/cribo/src/code_generator/phases/post_processing.rs
Due: format, lint, update-index

refactor: eliminate duplication in entry symbol rename logic
  crates/cribo/src/code_generator/phases/orchestrator.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
