Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

refactor: simplify control flow for relative import handling
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: skip redundant self-assignments in relative import handling
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: handle relative imports referencing inlined modules
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/relative_import_inlined_module/main.py
  crates/cribo/tests/fixtures/relative_import_inlined_module/pkg/__init__.py
  crates/cribo/tests/fixtures/relative_import_inlined_module/pkg/console.py
  crates/cribo/tests/fixtures/relative_import_inlined_module/pkg/errors.py
Due: format, dprint, lint, update-index, ruff-format

fix: use ModuleIds properly for relative import resolution
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: relative imports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/fixtures/relative_import_inlined_module/main.py
  crates/cribo/tests/fixtures/relative_import_inlined_module/pkg/__init__.py
  crates/cribo/tests/fixtures/relative_import_inlined_module/pkg/console.py
  crates/cribo/tests/fixtures/relative_import_inlined_module/pkg/errors.py
Due: format, dprint, lint, update-index, ruff-format

fix: duplicated assignments
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/fixtures/package_relative_import_reexport/main.py
  crates/cribo/tests/fixtures/package_relative_import_reexport/pkg/__init__.py
  crates/cribo/tests/fixtures/package_relative_import_reexport/pkg/definitions.py
  crates/cribo/tests/fixtures/package_relative_import_reexport/pkg/module_with_sideeffects.py
  crates/cribo/tests/snapshots/bundled_code@package_relative_import_reexport.snap
  crates/cribo/tests/snapshots/execution_results@package_relative_import_reexport.snap
  crates/cribo/tests/snapshots/requirements@package_relative_import_reexport.snap
  crates/cribo/tests/snapshots/ruff_lint_results@package_relative_import_reexport.snap
Due: format, dprint, lint, update-index, ruff-format

fix: main entry shadow
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/entry_module_circular_import/child_with_init.py
  crates/cribo/tests/fixtures/entry_module_circular_import/main.py
  crates/cribo/tests/snapshots/bundled_code@entry_module_circular_import.snap
  crates/cribo/tests/snapshots/execution_results@entry_module_circular_import.snap
  crates/cribo/tests/snapshots/requirements@entry_module_circular_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@entry_module_circular_import.snap
Due: format, dprint, lint, update-index, ruff-format

fix: clippy warnings
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore: address PR review comment 2343616133
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: prefer canonicalize_path in resolver: path_to_module_parts + registry.register caller
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: warn on name->id mismatch when re-registering by path (PR comment 2343616118)
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: replicate name collision guard on initial name insert (PR comment 2343616126)
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: set GH_PAGER=cat for claude
  .claude/settings.json
Due: dprint

refactor(import_transformer): extract module-attr add into closure to dedupe in symbol-import branch (PR comment 2343860563)
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor(resolver): use is_special_entry_file_name for entry file check to align with orchestrator
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix(bundler): skip wildcard relative imports and early-continue after alias transform to avoid duplicate module-attrs (PR comment 2342594469)
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: enable in-project mcp
  .claude/settings.json
Due: dprint

fix: handle relative imports in wrapper module init functions (#356)
  .claude/settings.json
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/fixtures/entry_module_circular_import/child_with_init.py
  crates/cribo/tests/fixtures/entry_module_circular_import/main.py
  crates/cribo/tests/fixtures/package_relative_import_reexport/main.py
  crates/cribo/tests/fixtures/package_relative_import_reexport/pkg/__init__.py
  crates/cribo/tests/fixtures/package_relative_import_reexport/pkg/definitions.py
  crates/cribo/tests/fixtures/package_relative_import_reexport/pkg/module_with_sideeffects.py
  crates/cribo/tests/snapshots/bundled_code@entry_module_circular_import.snap
  crates/cribo/tests/snapshots/bundled_code@package_relative_import_reexport.snap
  crates/cribo/tests/snapshots/execution_results@entry_module_circular_import.snap
  crates/cribo/tests/snapshots/execution_results@package_relative_import_reexport.snap
  crates/cribo/tests/snapshots/requirements@entry_module_circular_import.snap
  crates/cribo/tests/snapshots/requirements@package_relative_import_reexport.snap
  crates/cribo/tests/snapshots/ruff_lint_results@entry_module_circular_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@package_relative_import_reexport.snap
Due: format, dprint, lint, update-index, ruff-format

refactor: convert import_transformer.rs to module directory
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/import_transformer/handlers/dynamic.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/handlers/mod.rs
  crates/cribo/src/code_generator/import_transformer/handlers/stdlib.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/state.rs
  crates/cribo/src/code_generator/import_transformer/statement.rs
Due: format, lint, update-index

refactor: restore working state and create basic state.rs structure
  crates/cribo/src/code_generator/import_transformer/state.rs
Due: format, lint, update-index

feat: extract stdlib handler - first successful handler extraction
  crates/cribo/src/code_generator/import_transformer/handlers/stdlib.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor: complete dynamic handler extraction
  crates/cribo/src/code_generator/import_transformer/handlers/dynamic.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor: start wrapper handler extraction
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

feat: complete TransformerState integration throughout import transformer
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/state.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

feat: extract substantial wrapper handler embedded logic
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

Revert "feat: extract substantial wrapper handler embedded logic"
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

feat: extract expression rewriter module (~539 lines)
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/state.rs
Due: format, lint, update-index

feat: complete inlined handler extraction (~93 lines)
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor: extract statement utilities to statement.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/statement.rs
Due: format, lint, update-index

refactor: extract collect_assigned_names helper to statement.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/statement.rs
Due: format, lint, update-index

refactor: remove unused importlib_transformed field and method
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/import_transformer/handlers/dynamic.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/import_transformer/state.rs
Due: format, lint, update-index

refactor: remove redundant wrapper methods, use resolver directly
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor: wire up wrapper handler functions and remove dead code
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor: convert alias_local_to_namespace_if_needed to associated function
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor: extract alias_local_to_namespace_if_needed to inlined handler
  crates/cribo/src/code_generator/import_transformer/handlers/import_from.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/handlers/mod.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor: extract handle_imports_from_inlined_module_with_context to inlined handler
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
Due: format, lint, update-index

refactor: remove unused import_from handler placeholder
  crates/cribo/src/code_generator/import_transformer/handlers/import_from.rs
  crates/cribo/src/code_generator/import_transformer/handlers/mod.rs
Due: format, lint, update-index

docs: move import transformer refactoring proposal to docs/proposals
  docs/proposals/split-import-transformer.md
Due: markdownlint, dprint

chore(main): release 0.6.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint
