Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

fix: install msbuild on windows
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore(deps): pin lower pyarrow
  pyproject.toml
  uv.lock
Due: dprint

chore: try choco
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: arm win build
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: try more
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: install pip
  .github/actionlint.yaml
  .github/workflows/release.yml
  .shellcheckrc
Due: dprint, yamllint, actionlint

chore: unpin maturin version
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: unpin maturin for sdist
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: don't install tooling on normal windows
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: don't test on ARM Windows
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

docs: update platform description for npm package
  npm/cribo/README.md
Due: markdownlint, dprint

chore(main): release 0.5.11
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

feat: add rich to ecosystem tests
  .gitmodules
  docs/ecosystem-tests.md
  ecosystem/scenarios/test_rich.py
  pyproject.toml
  uv.lock
Due: markdownlint, dprint, ruff-format

chore(main): release 0.5.11 (#266)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: prevent relative imports from being incorrectly classified as stdlib imports
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/fixtures/stdlib_name_collision/main.py
  crates/cribo/tests/fixtures/stdlib_name_collision/mypackage/__init__.py
  crates/cribo/tests/fixtures/stdlib_name_collision/mypackage/abc.py
  crates/cribo/tests/fixtures/stdlib_name_collision/mypackage/pretty.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_collision.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_name_collision.snap
  crates/cribo/tests/snapshots/requirements@stdlib_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_name_collision.snap
Due: format, dprint, lint, update-index, ruff-format

feat: map import names to package names using venv metadata
  Cargo.lock
  Cargo.toml
  crates/cribo/Cargo.toml
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  ecosystem/scenarios/test_rich.py
  ecosystem/scenarios/utils.py
Due: format, dprint, lint, taplo, update-index, ruff-format

fix: make package_root resolution robust to CWD in test_rich.py
  ecosystem/scenarios/test_rich.py
Due: dprint, ruff-format

refactor: reduce nesting with early continue for relative imports
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

feat: use packaging library for robust PEP 508 dependency parsing
  ecosystem/scenarios/utils.py
Due: dprint, ruff-format

refactor: remove fallback parsing logic for cleaner code
  ecosystem/scenarios/utils.py
Due: dprint, ruff-format

perf: make submodules shallow to speed up CI cloning
  .gitmodules
Due: none

chore: promote import checking log from trace to debug level
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

refactor: improve RECORD file parsing to avoid false positives
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: reduce log noise by using debug! for package mapping messages
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

refactor: hoist Requirement import and parse Poetry extras robustly
  ecosystem/scenarios/utils.py
Due: dprint, ruff-format

fix: handle single-file modules and compiled extensions in package name resolution
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

feat: update ecosystem tests workflow to dynamically discover all test files
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

chore: keep tree shaking enabled for rich
  ecosystem/scenarios/test_rich.py
Due: dprint, ruff-format
