Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

test: use deterministic output
  crates/serpen/tests/fixtures/bundling/late_future_imports/main.py
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@late_future_imports.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@late_future_imports.snap
Due: dprint

fix: python is at Scripts on windows
  crates/serpen/src/util.rs
Due: format, lint, update-index

chore: update release-please config
  .lefthook.yaml
  .yamllint
  release-please-config.json
Due: dprint, yamllint

feat: integrate ruff linting for bundle output for cross-validation (#66)
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .lefthook.yaml
  .python-version
  .yamllint
  Cargo.lock
  Cargo.toml
  crates/serpen/Cargo.toml
  crates/serpen/src/emit.rs
  crates/serpen/src/util.rs
  crates/serpen/tests/fixtures/bundling/late_future_imports/main.py
  crates/serpen/tests/snapshots/integration_tests__requirements_generation.snap
  crates/serpen/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@late_future_imports.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@late_future_imports.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@late_future_imports.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@simple_math.snap
  crates/serpen/tests/test_bundling_snapshots.rs
  pyproject.toml
  release-please-config.json
  renovate.json
  uv.lock
Due: format, dprint, lint, taplo, yamllint, update-index, renovate

chore(main): release 0.4.7
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

chore(main): release 0.4.7 (#65)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

ai: update claude permissions
  .claude/settings.json
Due: dprint

fix: handle relative imports with module names in package __init__ files
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_in_init.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
Due: format, lint, update-index

refactor: reduce parameter count to fix clippy warnings
  .claude/settings.json
  crates/serpen/src/ast_rewriter.rs
Due: format, dprint, lint, update-index

test: add coverage for process_relative_dot_import method
  coverage_output.txt
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/tests/fixtures/bundling/relative_dot_import/greetings/__init__.py
  crates/serpen/tests/fixtures/bundling/relative_dot_import/greetings/greeting.py
  crates/serpen/tests/fixtures/bundling/relative_dot_import/main.py
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@relative_dot_import.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@relative_dot_import.snap
Due: format, dprint, lint, update-index

refactor: address review feedback
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/tests/fixtures/bundling/relative_dot_import/greetings/__init__.py
  crates/serpen/tests/fixtures/bundling/relative_dot_import/greetings/greeting.py
  crates/serpen/tests/fixtures/bundling/relative_dot_import/main.py
Due: format, dprint, lint, update-index

chore: update Cargo.lock for CI compatibility
  Cargo.lock
Due: none

fix: handle relative imports with module names in package __init__ files (#69)
  .claude/settings.json
  Cargo.lock
  coverage_output.txt
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_in_init.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@relative_dot_import.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@relative_dot_import.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

chore: update lock file
  Cargo.lock
Due: none

feat(ast): handle relative imports from parent packages
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_from_parent_package.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@relative_dot_import.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
Due: format, lint, update-index

feat(ast): handle relative imports from parent packages (#70)
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_from_parent_package.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@relative_dot_import.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
Due: format, lint, update-index

chore(main): release 0.4.8
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

fix: enable test_explicit_relative_imports_with_single_dot_are_resolved_correctly
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/src/emit.rs
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot.snap
  crates/serpen/tests/snapshots/test_circular_dependencies__relative_import_cycles_bundled.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
Due: format, lint, update-index

fix: enable test_explicit_relative_imports_with_single_dot_are_resolved_correctly
  .insta.yaml
  docs/type-stripping-system-design.md
Due: dprint, yamllint

fix: clippy warnings
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/src/emit.rs
Due: format, lint, update-index

chore: improve code
  crates/serpen/src/ast_rewriter.rs
Due: format, lint, update-index

chore: add SonarCloud scanning
  .github/workflows/lint.yml
  sonar-project.properties
Due: dprint, yamllint

chore: cache regex
  crates/serpen/src/emit.rs
Due: format, lint, update-index

chore: resolving clippy warnings
  crates/serpen/src/ast_rewriter.rs
Due: format, lint, update-index

fix: sonar config
  .github/workflows/lint.yml
  sonar-project.properties
Due: dprint, yamllint

fix: make Windows CI test more robust by adding serial execution and environment check
  .vscode/extensions.json
  .vscode/settings.json
  crates/serpen/src/util.rs
Due: format, dprint, lint, update-index

Feat/enable more stickytape tests (#72)
  .github/workflows/lint.yml
  .insta.yaml
  .vscode/extensions.json
  .vscode/settings.json
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/src/emit.rs
  crates/serpen/src/util.rs
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot.snap
  crates/serpen/tests/snapshots/test_circular_dependencies__relative_import_cycles_bundled.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
  docs/type-stripping-system-design.md
  sonar-project.properties
Due: format, dprint, lint, yamllint, update-index

Update release-please-config.json
  release-please-config.json
Due: dprint

feat(ci): add comprehensive benchmarking infrastructure
  .cargo/config.toml
  .github/workflows/benchmark-dashboard.yml
  .github/workflows/benchmarks.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/serpen/Cargo.toml
  crates/serpen/benches/bundling.rs
  docs/benchmarking.md
  docs/python-popular-libraries-research-o4-mini-high.md
  docs/rust-benchmarking-tools-research.md
  scripts/bench.sh
Due: format, dprint, lint, taplo, yamllint, update-index

fix(ci): correct implementation to use Bencher.dev as specified in proposal #1
  .github/workflows/benchmark-dashboard.yml
  .github/workflows/benchmarks.yml
  CLAUDE.md
  README.md
  docs/benchmarking.md
Due: dprint, yamllint

feat(ci): add workflow_dispatch trigger for manual benchmark runs
  .github/workflows/benchmarks.yml
Due: dprint, yamllint

feat(ci): add local Bencher CLI integration and documentation
  .cargo/config.toml
  .env.example
  .gitignore
  CLAUDE.md
  docs/bencher-setup-guide.md
  docs/benchmarking.md
  scripts/bench-bencher.sh
Due: dprint, taplo

fix(ci): update Bencher project name from 'serpen' to 'cribo'
  .env.example
  .github/workflows/benchmarks.yml
  scripts/bench-bencher.sh
Due: dprint, yamllint

fix(ci): resolve debug logging and update Bencher.dev integration
  .github/workflows/benchmarks.yml
  crates/serpen/src/dependency_graph.rs
  scripts/bench-bencher.sh
Due: format, dprint, lint, yamllint, update-index

feat(ci): restructure benchmarks workflows per Bencher.dev best practices
  .github/workflows/base_benchmarks.yml
  .github/workflows/benchmarks.yml
  .github/workflows/pr_benchmarks.yml
  .github/workflows/pr_cleanup.yml
  docs/benchmarking.md
Due: dprint, yamllint

fix(ci): remove baseline dependency from PR benchmark workflow
  .github/workflows/pr_benchmarks.yml
Due: dprint, yamllint

feat(ci): add comprehensive benchmarking infrastructure (#75)
  .cargo/config.toml
  .env.example
  .github/workflows/base_benchmarks.yml
  .github/workflows/pr_benchmarks.yml
  .github/workflows/pr_cleanup.yml
  .gitignore
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/serpen/Cargo.toml
  crates/serpen/benches/bundling.rs
  crates/serpen/src/dependency_graph.rs
  docs/bencher-setup-guide.md
  docs/benchmarking.md
  docs/python-popular-libraries-research-o4-mini-high.md
  docs/rust-benchmarking-tools-research.md
  scripts/bench-bencher.sh
  scripts/bench.sh
Due: format, dprint, lint, taplo, yamllint, update-index

chore(main): release 0.4.8
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

chore(main): release 0.4.8 (#71)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

fix(ci): establish baseline benchmarks for performance tracking
  docs/benchmarking.md
Due: dprint
