Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

test: tree shaking
  crates/cribo/tests/fixtures/simple_treeshaking_inlining/main.py
  crates/cribo/tests/fixtures/simple_treeshaking_inlining/speaking.py
  crates/cribo/tests/snapshots/bundled_code@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/execution_results@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/requirements@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_treeshaking_inlining.snap
Due: dprint

feat: enable tree-shaking by default with --no-tree-shake flag
  CLAUDE.md
  README.md
  crates/cribo/src/code_generator.rs
  crates/cribo/src/config.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/simple_treeshaking_inlining/main.py
  crates/cribo/tests/fixtures/simple_treeshaking_inlining/speaking.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/execution_results@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/requirements@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_treeshaking_inlining.snap
  docs/simple-tree-shaking.md
Due: format, markdownlint, dprint, lint, update-index

fix(graph): track module-level variable access without global statements
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

fix: enhance tree-shaking to handle namespace attribute access and relative imports
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@simple_project.snap
  crates/cribo/tests/snapshots/bundled_code@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pydantic_project.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_project.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_treeshaking_inlining.snap
Due: format, lint, update-index

fix(graph): implement tree-shaking aware import removal
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/ruff_lint_results@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pandera-polars.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pydantic_project.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_project.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_treeshaking_inlining.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(bundler): add F401 regression test and fix unnecessary types import
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/core/__init__.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/core/config.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/core/processor.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/main.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/models/__init__.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/models/user.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/utils/__init__.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/utils/constants.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/utils/helpers.py
  crates/cribo/tests/snapshots/bundled_code@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/bundled_code@pandera-polars.snap
  crates/cribo/tests/snapshots/execution_results@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/requirements@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/ruff_lint_results@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pandera-polars.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

fix(bundler): prevent hoisting third-party imports to avoid duplicates
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

chore: update snapshot
  crates/cribo/tests/snapshots/bundled_code@pandera-polars.snap
Due: none

fix: resolve all clippy warnings and improve tree-shaking import removal
  crates/cribo/src/code_generator.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@simple_project.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pydantic_project.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_project.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

test: update snapshot after merge conflict resolution
  crates/cribo/tests/snapshots/bundled_code@simple_treeshaking_inlining.snap
Due: none

fix: filter __all__ lists to exclude tree-shaken symbols
  crates/cribo/src/code_generator.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/all_variable_handling/main.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/execution_results@all_variable_handling.snap
Due: format, dprint, lint, update-index

fix: improve tree-shaking with __all__ filtering and nested attribute tracking
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
Due: format, lint, update-index

fix: only add __all__ to namespace objects when original module had explicit __all__
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@function_level_module_import.snap
Due: format, lint, update-index

fix: simplify cargo-valgrind install and fix fixture path
  .github/workflows/valgrind.yml
Due: dprint, yamllint, actionlint

refactor: extract duplicate import checking logic into helper methods
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

refactor: extract duplicate export-filtering logic into helper methods
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix: valgrind install
  .github/workflows/valgrind.yml
Due: dprint, yamllint, actionlint

test: try instrument-coverage
  .github/workflows/coverage.yml
Due: dprint, yamllint, actionlint

chore(main): release 0.5.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.1 (#153)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

test: add fixture
  crates/cribo/tests/fixtures/importlib_static/2024-config.py
  crates/cribo/tests/fixtures/importlib_static/api-client.py
  crates/cribo/tests/fixtures/importlib_static/class.py
  crates/cribo/tests/fixtures/importlib_static/data-processor.py
  crates/cribo/tests/fixtures/importlib_static/def.py
  crates/cribo/tests/fixtures/importlib_static/for.py
  crates/cribo/tests/fixtures/importlib_static/main.py
Due: dprint

chore: research
  crates/cribo/tests/fixtures/import_shadowing/main.py
  crates/cribo/tests/fixtures/import_shadowing/package_a/__init__.py
  crates/cribo/tests/fixtures/import_shadowing/package_a/processor.py
  crates/cribo/tests/fixtures/import_shadowing/package_a/utils.py
  crates/cribo/tests/fixtures/import_shadowing/package_b/__init__.py
  crates/cribo/tests/fixtures/import_shadowing/package_b/processor.py
  crates/cribo/tests/fixtures/import_shadowing/package_b/utils.py
  crates/cribo/tests/fixtures/import_shadowing/utils.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/main.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/mymodule.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/package/__init__.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/package/submodule.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/test_complete_picture.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/test_edge_cases.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/test_parent_registration.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/test_paths.py
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/test_sys_modules.py
  crates/cribo/tests/fixtures/xfail_importlib_static/2024-config.py
  crates/cribo/tests/fixtures/xfail_importlib_static/api-client.py
  crates/cribo/tests/fixtures/xfail_importlib_static/class.py
  crates/cribo/tests/fixtures/xfail_importlib_static/data-processor.py
  crates/cribo/tests/fixtures/xfail_importlib_static/def.py
  crates/cribo/tests/fixtures/xfail_importlib_static/for.py
  crates/cribo/tests/fixtures/xfail_importlib_static/main.py
  crates/cribo/tests/snapshots/bundled_code@import_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/execution_results@import_shadowing.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/requirements@import_shadowing.snap
  crates/cribo/tests/snapshots/requirements@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/requirements@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/ruff_lint_results@import_shadowing.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_importlib_static.snap
  docs/importlib-sys-modules.md
  docs/resolving-to-absolute-path-for-deduplication.md
Due: markdownlint, dprint

chore: foundation
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/tests/fixtures/xfail_file_deduplication_basic/app/__init__.py
  crates/cribo/tests/fixtures/xfail_file_deduplication_basic/app/utils.py
  crates/cribo/tests/fixtures/xfail_file_deduplication_basic/main.py
  crates/cribo/tests/fixtures/xfail_file_deduplication_symlinks/lib/__init__.py
  crates/cribo/tests/fixtures/xfail_file_deduplication_symlinks/lib/helpers.py
  crates/cribo/tests/fixtures/xfail_file_deduplication_symlinks/main.py
  crates/cribo/tests/fixtures/xfail_file_deduplication_symlinks/shared/__init__.py
  crates/cribo/tests/fixtures/xfail_file_deduplication_symlinks/shared/common.py
  crates/cribo/tests/fixtures/xfail_importlib_edge_cases/main.py
  crates/cribo/tests/fixtures/xfail_importlib_edge_cases/my-module.py
  crates/cribo/tests/snapshots/bundled_code@xfail_file_deduplication_basic.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_edge_cases.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/bundling_error@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/execution_results@xfail_file_deduplication_basic.snap
  crates/cribo/tests/snapshots/execution_results@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_edge_cases.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/requirements@xfail_file_deduplication_basic.snap
  crates/cribo/tests/snapshots/requirements@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/requirements@xfail_importlib_edge_cases.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_file_deduplication_basic.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_importlib_edge_cases.snap
  docs/file-deduplication-implementation-proposal.md
Due: format, markdownlint, dprint, lint, update-index

feat: post-checkout hooks
  lefthook.yml
Due: dprint, yamllint

docs(ai): disable main investigation
  CLAUDE.md
Due: markdownlint, dprint

feat(bundler): implement static importlib import rewriting for modules with invalid identifiers
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/tests/fixtures/importlib_edge_cases/main.py
  crates/cribo/tests/fixtures/importlib_edge_cases/my-module.py
  crates/cribo/tests/fixtures/importlib_static/2024-config.py
  crates/cribo/tests/fixtures/importlib_static/api-client.py
  crates/cribo/tests/fixtures/importlib_static/class.py
  crates/cribo/tests/fixtures/importlib_static/data-processor.py
  crates/cribo/tests/fixtures/importlib_static/def.py
  crates/cribo/tests/fixtures/importlib_static/for.py
  crates/cribo/tests/fixtures/importlib_static/main.py
  crates/cribo/tests/snapshots/bundled_code@importlib_edge_cases.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_file_deduplication_basic.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_edge_cases.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/bundling_error@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/execution_results@importlib_edge_cases.snap
  crates/cribo/tests/snapshots/execution_results@importlib_static.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_edge_cases.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/requirements@importlib_edge_cases.snap
  crates/cribo/tests/snapshots/requirements@importlib_static.snap
  crates/cribo/tests/snapshots/ruff_lint_results@importlib_edge_cases.snap
  crates/cribo/tests/snapshots/ruff_lint_results@importlib_static.snap
Due: format, dprint, lint, update-index

fix(bundler): ensure types import is added for importlib namespace objects
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/stickytape_script_with_dynamic_import/greeting.py
  crates/cribo/tests/fixtures/stickytape_script_with_dynamic_import/main.py
  crates/cribo/tests/snapshots/bundled_code@future_imports_multiple.snap
  crates/cribo/tests/snapshots/bundled_code@simple_math.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_file_deduplication_basic.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_file_deduplication_basic.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/requirements@stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_script_with_dynamic_import.snap
Due: format, dprint, lint, update-index

feat(graph): add assert statement handling for accurate tree-shaking
  crates/cribo/src/graph_builder.rs
  crates/cribo/tests/fixtures/file_deduplication_basic/app/__init__.py
  crates/cribo/tests/fixtures/file_deduplication_basic/app/utils.py
  crates/cribo/tests/fixtures/file_deduplication_basic/main.py
  crates/cribo/tests/snapshots/bundled_code@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/execution_results@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/execution_results@xfail_file_deduplication_basic.snap
  crates/cribo/tests/snapshots/requirements@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/ruff_lint_results@file_deduplication_basic.snap
Due: format, dprint, lint, update-index

test: add importlib renaming fixture
  crates/cribo/tests/fixtures/importlib_static_renaming/bar.py
  crates/cribo/tests/fixtures/importlib_static_renaming/foo.py
  crates/cribo/tests/fixtures/importlib_static_renaming/main.py
Due: dprint

fix(bundler): preserve symbols from importlib.import_module() imports
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/tests/fixtures/importlib_static_renaming/main.py
  crates/cribo/tests/snapshots/bundled_code@importlib_static_renaming.snap
  crates/cribo/tests/snapshots/execution_results@importlib_static_renaming.snap
  crates/cribo/tests/snapshots/requirements@importlib_static_renaming.snap
  crates/cribo/tests/snapshots/ruff_lint_results@importlib_static_renaming.snap
Due: format, dprint, lint, update-index

chore: delete unreferenced snapshot
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/requirements@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_script_with_dynamic_import.snap
Due: none

fix(bundler): prevent duplicate ImportlibStatic imports
  crates/cribo/src/visitors/import_discovery.rs
Due: format, lint, update-index

fix(graph): implement item sharing for modules referencing the same file
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix(graph): make duplicate import name error message actionable
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

docs(graph): document path canonicalization in get_primary_module_for_file
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
