Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix: regenerate lockfile
  Cargo.lock
  scripts/install-dev-tools.sh
Due: none

fix: bencher install
  scripts/install-dev-tools.sh
Due: none

chore: install rust-analyzer
  scripts/install-dev-tools.sh
Due: none

chore: update vscode settings
  .vscode/extensions.json
  .vscode/tasks.json
Due: dprint

chore(main): release 0.7.2
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.7.2 (#378)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

docs: refactor contributing and development guides
  CONTRIBUTING.md
  README.md
Due: markdownlint, dprint

chore: remove redundant links
  README.md
Due: markdownlint, dprint

chore: update gemini settings
  .gemini/settings.json
Due: dprint

test: update pydantic fixture to V2 ConfigDict API
  crates/cribo/tests/fixtures/pydantic_project/schemas/user.py
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  uv.lock
Due: dprint, ruff-format

test: update pydantic fixture to V2 ConfigDict API (#384)
  crates/cribo/tests/fixtures/pydantic_project/schemas/user.py
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  uv.lock
Due: dprint, ruff-format

chore: update more snapshots
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
Due: none

chore: address PR review comment 2423224224
  crates/cribo/src/code_generator/multiline_strings.rs
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
Due: format, lint, update-index

chore: remove ruff_linter from runtime deps
  crates/cribo/Cargo.toml
Due: dprint, taplo

fix: correctly handle docstrings after __future__ imports
  crates/cribo/src/code_generator/docstring_extractor.rs
Due: format, lint, update-index

refactor: add error handling infrastructure for init function refactoring
  README.md
  analyze_functions.py
  clippy_count.txt
  clippy_pedantic_output.txt
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/mod.rs
  docs/proposals/refactor-transform-module-to-init-function.md
  ecosystem/scenarios/test_httpx.py
  ecosystem/scenarios/test_idna.py
  sonar-project.properties
Due: format, markdownlint, dprint, lint, update-index, ruff-format

refactor: create InitFunctionState container for phase communication
  .vscode/settings.json
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/init_function/state.rs
  crates/cribo/src/config.rs
  crates/cribo/src/orchestrator.rs
  docs/proposals/refactor-transform-module-to-init-function.md
Due: format, markdownlint, dprint, lint, update-index

refactor: extract Initialization phase from transform_module_to_init_function
  clippy_pedantic_output.txt
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/mod.rs
  docs/proposals/refactor-transform-module-to-init-function.md
Due: format, markdownlint, dprint, lint, update-index

refactor: extract Finalization phase from transform_module_to_init_function
  crates/cribo/src/code_generator/init_function/finalization.rs
  crates/cribo/src/code_generator/init_function/mod.rs
  docs/proposals/refactor-transform-module-to-init-function.md
Due: format, markdownlint, dprint, lint, update-index

refactor: extract 8 phases from transform_module_to_init_function
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/cleanup.rs
  crates/cribo/src/code_generator/init_function/import_analysis.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/init_function/submodules.rs
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
  crates/cribo/src/code_generator/init_function/wrapper_globals.rs
  crates/cribo/src/code_generator/init_function/wrapper_symbols.rs
  crates/cribo/src/code_generator/module_transformer.rs
  docs/proposals/refactor-transform-module-to-init-function.md
Due: format, markdownlint, dprint, lint, update-index

docs: add NEXT_STEPS for remaining refactoring work
  crates/cribo/src/code_generator/init_function/NEXT_STEPS.md
Due: markdownlint, dprint

feat: create InitFunctionBuilder orchestrator to coordinate phases
  .mailmap
  clippy_pedantic_full.txt
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/init_function/orchestrator.rs
Due: format, lint, update-index

docs: mark orchestrator as WIP - Statement Processing phase required
  crates/cribo/src/code_generator/init_function/orchestrator.rs
  crates/cribo/src/code_generator/init_function/submodules.rs
Due: format, lint, update-index

chore: export InitFunctionBuilder with WIP marker
  clippy_pedantic_output.txt
  crates/cribo/src/code_generator/init_function/mod.rs
Due: format, lint, update-index

docs: add comprehensive README and clean clippy warnings
  crates/cribo/src/code_generator/init_function/README.md
  crates/cribo/src/code_generator/init_function/orchestrator.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: make module_transformer helpers pub(crate)
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: extract statement processing into process_statements_for_init_function
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
