Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

feat: proper __all__ support
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/emit.rs
  crates/cribo/tests/fixtures/bundling/all_variable_handling/conflict_module.py
  crates/cribo/tests/fixtures/bundling/all_variable_handling/main.py
  crates/cribo/tests/fixtures/bundling/all_variable_handling/nested_package/__init__.py
  crates/cribo/tests/fixtures/bundling/all_variable_handling/nested_package/submodule.py
  crates/cribo/tests/fixtures/bundling/all_variable_handling/nested_package/utils.py
  crates/cribo/tests/fixtures/bundling/all_variable_handling/simple_module.py
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_import_from_as_value.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_script_using_from_to_import_multiple_values.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_script_with_single_local_from_import.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__comprehensive_bundling_results.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@all_variable_handling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@all_variable_handling.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__relative_import_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_bundled.snap
Due: format, dprint, lint, update-index

test: use repository-local tmp dir
  crates/cribo/Cargo.toml
  crates/cribo/build.rs
Due: format, dprint, lint, taplo, update-index

fix(bundler): correct module execution order in circular dependency resolution
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/bundler.rs
  crates/cribo/src/emit.rs
  crates/cribo/tests/fixtures/bundling/init_reexports/main.py
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__relative_import_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_bundled.snap
  crates/cribo/tests/test_comprehensive_ast_rewrite.rs
Due: format, dprint, lint, update-index

chore: reduce code duplication
  crates/cribo/src/emit.rs
Due: format, lint, update-index

chore: reduce code duplication
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/emit.rs
Due: format, lint, update-index

chore: remove test leftovers
  coverage_output.txt
  test_bundle.py
  test_bundle_corrected.py
  test_bundle_debug.py
  test_bundle_final.py
  test_bundle_fixed.py
  test_crlf.txt
  test_explicit_debug.py
  test_explicit_debug2.py
  test_explicit_debug3.py
  test_explicit_debug4.py
  test_our_fixture_final.py
  test_syntax.py
Due: dprint

chore: improve error handling
  crates/cribo/src/emit.rs
Due: format, lint, update-index

test: require higher project coverage
  .codecov.yml
Due: dprint, yamllint, codecov

chore(ai): try to prevent classification as pre-existing issue
  CLAUDE.md
Due: dprint

feat(ai): add AI powered release not summary
  .github/workflows/release-please.yml
  .yamllint
Due: dprint, yamllint

chore(main): release 0.4.11
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.11 (#84)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

feat(cli): add verbose flag repetition support
  AGENTS.md
  CLAUDE.md
  README.md
  crates/cribo/src/main.rs
  crates/cribo/tests/test_cli_verbose.rs
Due: format, dprint, lint, update-index

feat(cli): add verbose flag repetition support for progressive debugging (#85)
  AGENTS.md
  CLAUDE.md
  README.md
  crates/cribo/src/main.rs
  crates/cribo/tests/test_cli_verbose.rs
Due: format, dprint, lint, update-index

chore(main): release 0.4.12
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.12 (#86)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(ci): set GH_TOKEN
  .github/workflows/release-please.yml
Due: dprint, yamllint

chore: increase max commit message body len
  .commitlintrc.yaml
Due: dprint, yamllint

feat(cli): add stdout output mode for debugging workflows
  AGENTS.md
  CLAUDE.md
  crates/cribo/src/bundler.rs
  crates/cribo/src/main.rs
  crates/cribo/tests/test_cli_stdout.rs
Due: format, dprint, lint, update-index

fix(cli): address PR review feedback on stdout implementation
  crates/cribo/src/bundler.rs
  crates/cribo/src/main.rs
  crates/cribo/tests/test_cli_stdout.rs
Due: format, lint, update-index

perf(bundler): fix performance regression from bundle_core refactoring
  crates/cribo/src/bundler.rs
Due: format, lint, update-index

feat(cli): add stdout output mode for debugging workflows (#87)
  AGENTS.md
  CLAUDE.md
  crates/cribo/src/bundler.rs
  crates/cribo/src/main.rs
  crates/cribo/tests/test_cli_stdout.rs
Due: format, dprint, lint, update-index

test: enable test_explicit_relative_imports_with_module_name_are_resolved_correctly
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, lint, update-index

fix(ci): serpen leftovers
  .github/workflows/release.yml
Due: dprint, yamllint

fix: serpen leftovers
  .cargo/config.toml
Due: dprint, taplo

fix: serpen leftovers
  npm/README.md
  scripts/publish-npm.js
Due: dprint

chore(main): release 0.4.13
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.13 (#88)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore: git MCP reminder
  CLAUDE.md
Due: dprint

fix(ci): missing -r for jq
  .github/workflows/release-please.yml
Due: dprint, yamllint

chore(main): release 0.4.14
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.14 (#89)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

fix(ci): use --quiet for codex
  .github/workflows/release-please.yml
Due: dprint, yamllint

chore(main): release 0.4.15
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.15 (#90)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

fix(ci): add missing TAG reference
  .github/workflows/release-please.yml
Due: dprint, yamllint

chore(main): release 0.4.16
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.16 (#91)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

docs: small fixes to README
  README.md
Due: dprint
