Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

perf: avoid String clones when building future import aliases
  crates/cribo/src/code_generator/phases/initialization.rs
Due: format, lint, update-index

fix: pass empty string for init_func_name when init body is None
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

docs: update InitializationPhase documentation to match implementation
  crates/cribo/src/code_generator/phases/initialization.rs
Due: format, lint, update-index

chore: reduce tools for refactore-divergence
  .claude/agents/refactor-divergence.agent.md
  .claude/agents/software-architect.agent.md
Due: markdownlint, dprint

fix: clippy config wasn't propagating to crate
  .clippy.toml
  Cargo.toml
  crates/cribo/Cargo.toml
Due: dprint, taplo

chore: switch off docs warnings for now
  Cargo.toml
Due: dprint

fix: more configs
  Cargo.toml
Due: dprint

fix: add explicit lifetime annotations to address elided lifetime warnings
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/import_transformer/handlers/dynamic.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/handlers/relative.rs
  crates/cribo/src/code_generator/import_transformer/handlers/statements.rs
  crates/cribo/src/code_generator/import_transformer/handlers/stdlib.rs
  crates/cribo/src/code_generator/import_transformer/handlers/submodule.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/cleanup.rs
  crates/cribo/src/code_generator/init_function/finalization.rs
  crates/cribo/src/code_generator/init_function/import_analysis.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: complete elided lifetime annotations in init_function modules
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
Due: format, lint, update-index

fix: complete lifetime annotations across remaining modules
  crates/cribo/src/code_generator/init_function/statement_processing.rs
  crates/cribo/src/code_generator/init_function/submodules.rs
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
  crates/cribo/src/code_generator/init_function/wrapper_symbols.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
Due: format, lint, update-index

fix: eliminate final warnings - namespace_manager and trivial cast
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: update deprecated and removed clippy lint names in Cargo.toml
  Cargo.toml
Due: dprint

fix: disable redundant_pub_crate lint to resolve conflict
  Cargo.toml
Due: dprint

fix: remove redundant else blocks after early returns
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: make benchmark-required APIs public
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

chore: clippy --fix
  Cargo.toml
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
Due: format, dprint, lint, update-index

fix: resolve needless_collect clippy warnings
  crates/cribo/src/resolver.rs
  crates/cribo/src/visitors/variable_collector.rs
Due: format, lint, update-index

refactor: replace option if-let-else with map_or/map_or_else (partial)
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: replace option if-let-else patterns (batch 1)
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/dirs.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/visitors/symbol_collector.rs
Due: format, lint, update-index

refactor: replace option if-let-else patterns (batch 2)
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/src/visitors/utils.rs
Due: format, lint, update-index

refactor: replace option if-let-else patterns (final batch)
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/visitors/local_var_collector.rs
Due: format, lint, update-index

refactor: eliminate dead code warnings in benchmark builds
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: remove needless mutable references
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
  crates/cribo/src/code_generator/phases/processing.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: use map_or_else for option in ecosystem benchmark
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

fix: format
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: make BundleOrchestrator and CriboGraph public for benchmarks
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: make benchmark-required methods public
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: replace single-item array iterators with std::iter::once
  Cargo.toml
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
Due: format, dprint, lint, update-index

feat: add Debug implementations to orchestrator types
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: pass parameters by reference instead of by value
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

refactor: replace print!/eprintln! with proper I/O and logging
  crates/cribo/benches/ecosystem.rs
  crates/cribo/src/main.rs
Due: format, lint, update-index

fix: make ModuleDepGraph public to match CriboGraph visibility
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix: make graph types public to match ModuleDepGraph visibility
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index
