Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

chore: remove excessive nesting
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: reduce nesting
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore: remove dead code
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: remove dead code
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore: petgraph
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

chore: petgraph #2
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@simple_two_dots.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_setattr_with_circular_deps.snap
Due: format, lint, update-index

refactor: petgraph #3
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
Due: format, lint, update-index

refactor: petgraph #4
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
Due: format, lint, update-index

refactor: petgraph #5
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

fix: inline handle_from_import to resolve Clippy too-many-args error
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

refactor: fix clippy warnings for excessive nesting and disallowed methods
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: fix too-many-arguments clippy warning in module_transformer
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

chore: update AGENTS.md for snapshots info
  AGENTS.md
Due: markdownlint, dprint

chore: fix benchmark
  crates/cribo/benches/bundling.rs
Due: format, lint, update-index

fix: remove underscore filtering for __all__ entries in tree shaking
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

docs: fix nextest commands in AGENTS.md
  AGENTS.md
Due: markdownlint, dprint

docs: add mandatory workflow for handling GitHub PR review comments
  AGENTS.md
Due: markdownlint, dprint

chore: address PR review comment 2315746971
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
Due: format, lint, update-index

refactor: rename misleading variable from module_name to module_id
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

chore: address PR review comment 2315746957
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

chore: include self-loop SCCs in symbol cycle detection (address PR review 2315746942)
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

fix: don't pre-seed side effects for all modules in tree shaking
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

Revert "fix: don't pre-seed side effects for all modules in tree shaking"
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

refactor: use FxIndexMap instead of FxHashMap for deterministic output
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

fix: reverse SCC mini-graph edges for correct dependency ordering
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: replace FxHashMap
  crates/cribo/src/import_alias_tracker.rs
Due: format, lint, update-index

refactor: remove redundant emptiness check in dependency analyzer
  crates/cribo/src/analyzers/dependency_analyzer.rs
Due: format, lint, update-index

refactor: use ModuleId instead of String for module fields in HardDependency
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: use ModuleId directly in HardDependency instead of String
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

fix: preserve module-level imports in circular modules to prevent AttributeError
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/fixtures/builtin_types_circular/main.py
  crates/cribo/tests/fixtures/builtin_types_circular/pkg/__init__.py
  crates/cribo/tests/fixtures/builtin_types_circular/pkg/__version__.py
  crates/cribo/tests/fixtures/builtin_types_circular/pkg/_internal_utils.py
  crates/cribo/tests/fixtures/builtin_types_circular/pkg/certs.py
  crates/cribo/tests/fixtures/builtin_types_circular/pkg/compat.py
  crates/cribo/tests/fixtures/builtin_types_circular/pkg/models.py
  crates/cribo/tests/fixtures/builtin_types_circular/pkg/sessions.py
  crates/cribo/tests/fixtures/builtin_types_circular/pkg/utils.py
  crates/cribo/tests/snapshots/bundled_code@builtin_types_circular.snap
  crates/cribo/tests/snapshots/execution_results@builtin_types_circular.snap
  crates/cribo/tests/snapshots/execution_results@xfail_builtin_types_circular.snap
  crates/cribo/tests/snapshots/requirements@builtin_types_circular.snap
  crates/cribo/tests/snapshots/ruff_lint_results@builtin_types_circular.snap
Due: format, dprint, lint, update-index, ruff-format

fix: rewrite annotation expressions in annotated assignments
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

fix: skip parent package init calls from inlined submodules
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/main.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/__init__.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/_client.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/_main.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/_models.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/_types.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/execution_results@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/requirements@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/ruff_lint_results@module_setattr_with_circular_deps.snap
Due: format, dprint, lint, update-index, ruff-format

refactor: use consistent TreeShaker API with ModuleId
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

fix: properly handle relative imports in unused import removal
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
Due: format, lint, update-index

fix: resolve symlinks to canonical module names for correct references
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_symlink_multi_circular.snap
Due: format, lint, update-index

fix: add global declarations for function-level wrapper module imports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/symlink_circular_dependency/main.py
  crates/cribo/tests/fixtures/symlink_circular_dependency/moduleA.py
  crates/cribo/tests/fixtures/symlink_circular_dependency/moduleB.py
  crates/cribo/tests/fixtures/symlink_circular_dependency/moduleC.py
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_symlink_multi_circular.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/execution_results@xfail_symlink_multi_circular.snap
  crates/cribo/tests/snapshots/requirements@symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/ruff_lint_results@symlink_circular_dependency.snap
Due: format, dprint, lint, update-index, ruff-format

fix: scope wrapper_module_imports to prevent cross-function contamination
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: correct function-scoped import distribution in circular dependencies
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/tests/fixtures/symlink_multi_circular/link_c.py
  crates/cribo/tests/fixtures/symlink_multi_circular/link_d.py
  crates/cribo/tests/fixtures/symlink_multi_circular/link_e.py
  crates/cribo/tests/fixtures/symlink_multi_circular/main.py
  crates/cribo/tests/fixtures/symlink_multi_circular/real_a.py
  crates/cribo/tests/fixtures/symlink_multi_circular/real_b.py
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_circular_dependency.snap
  crates/cribo/tests/snapshots/bundled_code@symlink_multi_circular.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@symlink_multi_circular.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/requirements@symlink_multi_circular.snap
  crates/cribo/tests/snapshots/ruff_lint_results@symlink_multi_circular.snap
Due: format, dprint, lint, update-index, ruff-format

chore: remove unreferenced snapshots
  crates/cribo/tests/snapshots/bundled_code@xfail_symlink_multi_circular.snap
  crates/cribo/tests/snapshots/execution_results@xfail_symlink_multi_circular.snap
  crates/cribo/tests/snapshots/requirements@xfail_symlink_multi_circular.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_symlink_multi_circular.snap
Due: none
