Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

fix: add certifi to typos allow list (#456)
  .typos.toml
Due: dprint

fix: update hash formatting for sha2 0.11 compatibility
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

perf: use fold with write! for efficient hash formatting
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

chore(main): release 0.8.3
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: adapt to ruff 0.15.9 API changes
  Cargo.lock
  Cargo.toml
  crates/cribo/src/ast_builder/statements.rs
  crates/cribo/tests/test_bundling_snapshots.rs
  rust-toolchain.toml
Due: format, dprint, lint, update-index

chore(main): release 0.8.3 (#450)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore: update minor project settings
  .claude/settings.json
  .gitignore
  .vscode/settings.json
Due: dprint

refactor: split bundler.rs (4151 LoC) into bundler/ directory module
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/bundler/imports.rs
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/bundler/transforms.rs
Due: format, lint, update-index

chore: update ai settings
  .claude/skills/pr-comment/SKILL.md
  .serena/.gitignore
  .serena/project.yml
Due: markdownlint, dprint, yamllint

fix: use proper attribute chain for dotted namespace targets
  crates/cribo/src/code_generator/bundler/imports.rs
Due: format, lint, update-index

fix: correct relative import fallback to traverse up by level
  crates/cribo/src/code_generator/bundler/imports.rs
Due: format, lint, update-index

fix: populate SymbolDependencyGraph for circular module reordering
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

fix: remove unreachable dead code in should_inline_symbol
  crates/cribo/src/code_generator/bundler/symbols.rs
Due: format, lint, update-index

fix: handle missing statement types in module var transformation
  crates/cribo/src/code_generator/bundler/transforms.rs
Due: format, lint, update-index

fix: prefer resolver path over module_asts for relative imports
  crates/cribo/src/code_generator/bundler/imports.rs
Due: format, lint, update-index

fix: use sanitized identifier and proper attribute chain in module reference assignments
  crates/cribo/src/code_generator/bundler/imports.rs
Due: format, lint, update-index

refactor: deduplicate wrapper dependency collection methods
  crates/cribo/src/code_generator/bundler/imports.rs
Due: format, lint, update-index

fix: clarify intentional identity mapping for __all__ re-exports
  crates/cribo/src/code_generator/bundler/mod.rs
Due: format, lint, update-index

fix: replace O(n) counter loop with direct AtomicU32::store
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/transformation_context.rs
Due: format, lint, update-index

fix: avoid cloning every statement in function body transformation
  crates/cribo/src/code_generator/bundler/transforms.rs
Due: format, lint, update-index

fix: avoid unnecessary String allocation in export list contains checks
  crates/cribo/src/code_generator/bundler/imports.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
Due: format, lint, update-index

fix: eliminate intermediate Vec when building modules_map
  crates/cribo/src/code_generator/bundler/mod.rs
Due: format, lint, update-index

chore: bump nightly to 2026-04-06 and clean up unused workspace deps
  Cargo.toml
  rust-toolchain.toml
Due: dprint

Update .serena/project.yml
  .serena/project.yml
Due: dprint, yamllint

fix: document create_parent_namespaces immutable borrow limitation
  crates/cribo/src/code_generator/bundler/imports.rs
Due: format, lint, update-index

fix: handle missing expression types in module var transformation
  crates/cribo/src/code_generator/bundler/transforms.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
Due: format, lint, update-index

fix: rewrite definition-time expressions in entry module functions
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/tests/fixtures/ast_rewriting_entry_func_def_renames/helpers.py
  crates/cribo/tests/fixtures/ast_rewriting_entry_func_def_renames/main.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_entry_func_def_renames.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_entry_func_def_renames.snap
  crates/cribo/tests/snapshots/requirements@ast_rewriting_entry_func_def_renames.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_entry_func_def_renames.snap
Due: format, dprint, lint, update-index, ruff-format

fix: resolve new clippy lints from nightly-2026-04-06
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/post_processing.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/common/mod.rs
Due: format, lint, update-index

fix: use fetch_max for monotonic counter advancement
  crates/cribo/src/transformation_context.rs
Due: format, lint, update-index

fix: scope comprehension target bindings as locals during module var rewrite
  .github/workflows/lint.yml
  crates/cribo/src/code_generator/bundler/transforms.rs
Due: format, dprint, lint, yamllint, update-index, actionlint

fix: remove global kept_symbols_global cache, use per-module checks
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
Due: format, lint, update-index

fix: check wrapper imports before __all__ exclusion in should_inline_symbol
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
Due: format, lint, update-index

fix: collect parameter annotations and method decorators in dependency graph
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

fix: resolve relative imports in build_import_source_map
  crates/cribo/src/code_generator/bundler/mod.rs
Due: format, lint, update-index

fix: generate explicit bindings for wildcard imports from inlined modules
  crates/cribo/src/code_generator/bundler/transforms.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/tests/fixtures/conditional_wildcard_import/config.py
  crates/cribo/tests/fixtures/conditional_wildcard_import/defaults.py
  crates/cribo/tests/fixtures/conditional_wildcard_import/main.py
  crates/cribo/tests/snapshots/bundled_code@conditional_wildcard_import.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_entry_simple.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_last_wins_simple.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/execution_results@conditional_wildcard_import.snap
  crates/cribo/tests/snapshots/requirements@conditional_wildcard_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@conditional_wildcard_import.snap
Due: format, dprint, lint, update-index, ruff-format

fix: transform loop else blocks for module vars and lifted globals
  crates/cribo/src/code_generator/bundler/transforms.rs
  crates/cribo/tests/fixtures/ast_rewriting_loop_else_globals/loops.py
  crates/cribo/tests/fixtures/ast_rewriting_loop_else_globals/main.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_loop_else_globals.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_loop_else_globals.snap
  crates/cribo/tests/snapshots/requirements@ast_rewriting_loop_else_globals.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_loop_else_globals.snap
Due: format, dprint, lint, update-index, ruff-format

fix: collect name references from f-string interpolations in circular deps
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

fix: build comprehension locals incrementally per generator
  crates/cribo/src/code_generator/bundler/transforms.rs
Due: format, lint, update-index

refactor: accept ModuleId-keyed maps in ImportAnalyzer directly
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/code_generator/bundler/mod.rs
Due: format, lint, update-index

fix: collect name references from comprehension expressions in circular deps
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index
