Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

chore: add httpx ecosystem deps
  pyproject.toml
  uv.lock
Due: dprint

fix: ensure TYPE_CHECKING blocks have valid syntax when empty
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@type_checking_imports.snap
  crates/cribo/tests/snapshots/execution_results@type_checking_imports.snap
  crates/cribo/tests/snapshots/requirements@type_checking_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@type_checking_imports.snap
Due: format, lint, update-index

feat: add httpx to ecosystem tests and type_checking_imports fixture (#306)
  .gitmodules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/type_checking_imports/README.md
  crates/cribo/tests/fixtures/type_checking_imports/advanced.py
  crates/cribo/tests/fixtures/type_checking_imports/main.py
  crates/cribo/tests/fixtures/type_checking_imports/module_a.py
  crates/cribo/tests/fixtures/type_checking_imports/module_b.py
  crates/cribo/tests/fixtures/type_checking_imports/module_c.py
  crates/cribo/tests/snapshots/bundled_code@type_checking_imports.snap
  crates/cribo/tests/snapshots/execution_results@type_checking_imports.snap
  crates/cribo/tests/snapshots/requirements@type_checking_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@type_checking_imports.snap
  ecosystem/scenarios/test_httpx.py
  pyproject.toml
  uv.lock
Due: format, markdownlint, dprint, lint, update-index, ruff-format

fix: handle locals() calls in wrapped modules by static analysis
  crates/cribo/src/ast_builder/expressions.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/visitors/variable_collector.rs
  crates/cribo/tests/fixtures/all_variable_loop_reference/main.py
  crates/cribo/tests/fixtures/all_variable_loop_reference/mypkg/__init__.py
  crates/cribo/tests/fixtures/all_variable_loop_reference/mypkg/_internal.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/execution_results@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/requirements@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/ruff_lint_results@all_variable_loop_reference.snap
Due: format, dprint, lint, update-index, ruff-format

chore: remove unused dict_item helper function
  crates/cribo/src/ast_builder/expressions.rs
Due: format, lint, update-index

feat: improve locals() replacement with PR review feedback
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
Due: format, lint, update-index

fix: skip annotated __all__ assignments in wrapper functions when not referenced
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: ensure correct module attribute assignment for renamed imports in wrapper init
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
Due: format, lint, update-index

feat: add comprehensive locals() transformation for wrapper init functions
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: unify locals() and globals() transformation functions
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
Due: format, lint, update-index

refactor: remove redundant locals() transformation code
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
Due: format, lint, update-index

fix: add missing introspection transformations in with and except clauses
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

refactor: import MODULE_VAR constant to reduce repetition
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: remove dead import_alias_bindings tracking
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: extract generator transformation into helper function
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

fix: skip annotated __all__ assignments in reference pre-pass
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: import MODULE_VAR to reduce path noise in bundler and related modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: don't transform locals() in comprehensions/generators (nested scopes)
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

fix: always transform decorators/signatures, fix comprehension scope handling
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

feat: add f-string transformation support for locals()/globals()
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

fix: handle wildcard imports in wrapper modules with setattr pattern
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/wildcard_all_setattr/main.py
  crates/cribo/tests/fixtures/wildcard_all_setattr/package/__init__.py
  crates/cribo/tests/fixtures/wildcard_all_setattr/package/_subpackage/__init__.py
  crates/cribo/tests/fixtures/wildcard_all_setattr/package/_subpackage/module_a.py
  crates/cribo/tests/fixtures/wildcard_all_setattr/package/_subpackage/module_b.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/requirements@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_all_setattr.snap
Due: format, dprint, lint, update-index, ruff-format

refactor: simplify tree-shaking logic per review feedback
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
Due: format, lint, update-index

fix: handle symbol renaming and improve determinism for wildcard imports
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
Due: format, lint, update-index

fix: handle wildcard imports in wrapper modules with setattr pattern (#310)
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/wildcard_all_setattr/main.py
  crates/cribo/tests/fixtures/wildcard_all_setattr/package/__init__.py
  crates/cribo/tests/fixtures/wildcard_all_setattr/package/_subpackage/__init__.py
  crates/cribo/tests/fixtures/wildcard_all_setattr/package/_subpackage/module_a.py
  crates/cribo/tests/fixtures/wildcard_all_setattr/package/_subpackage/module_b.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/requirements@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_all_setattr.snap
Due: format, dprint, lint, update-index, ruff-format

fix: correct wildcard import handling for __all__ symbols in tree-shaking
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/main.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/__init__.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/another.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/base.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/child.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/subpkg/__init__.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/subpkg/submodule.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_from_parent_init.snap
Due: format, dprint, lint, update-index, ruff-format

fix: improve wildcard import handling for symbols from wrapper modules in httpx
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: handle wildcard imports from inlined modules that re-export wrapper module symbols
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: resolve clippy warnings about excessive nesting
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: handle wildcard imports from inlined modules that re-export wrapper module symbols (#311)
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/main.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/__init__.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/another.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/base.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/child.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/subpkg/__init__.py
  crates/cribo/tests/fixtures/forward_reference_from_parent_init/parent/subpkg/submodule.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_from_parent_init.snap
Due: format, dprint, lint, update-index, ruff-format

chore(main): release 0.5.17
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: include explicitly imported private symbols in circular dependencies
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/circular_import_function_reference/main.py
  crates/cribo/tests/fixtures/circular_import_function_reference/pkg/__init__.py
  crates/cribo/tests/fixtures/circular_import_function_reference/pkg/adapters.py
  crates/cribo/tests/fixtures/circular_import_function_reference/pkg/auth.py
  crates/cribo/tests/fixtures/circular_import_function_reference/pkg/models.py
  crates/cribo/tests/fixtures/circular_import_function_reference/pkg/utils.py
  crates/cribo/tests/snapshots/bundled_code@circular_import_function_reference.snap
  crates/cribo/tests/snapshots/execution_results@circular_import_function_reference.snap
  crates/cribo/tests/snapshots/requirements@circular_import_function_reference.snap
  crates/cribo/tests/snapshots/ruff_lint_results@circular_import_function_reference.snap
Due: format, dprint, lint, update-index, ruff-format

chore(main): release 0.5.17 (#307)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

refactor: remove redundant tree-shaking check
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index
