Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate

renovate:
  run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

docs(bundler): add inline comments explaining stdlib module side effects
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

chore(ci): add graph scope to commitlint configuration
  .commitlintrc.yaml
Due: dprint, yamllint

refactor(graph): use .into() instead of .to_string() for string literals
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix(graph): reduce nesting in build_import_chain_for_scc to satisfy clippy
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

feat(bundler): add warning log for missing module paths
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor(graph): reduce nesting in classify_cycle_type to fix clippy warnings
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

chore(main): release 0.4.23
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.23 (#114)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(ai): improve release notes prompt
  .github/workflows/release-please.yml
Due: dprint, yamllint

feat(bundler): migrate unused import detection to graph-based tree-shaking
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/unused_imports.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__relative_import_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_error.snap
  crates/cribo/tests/test_dependency_graph_comprehensive.rs
Due: format, lint, update-index

fix: resolve clippy linting errors for PR checks
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix(bundler): resolve final clippy warning for too many arguments
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

fix: address code review feedback from automated tools
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

feat(bundler): migrate unused imports trimmer to graph-based approach (#115)
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/unused_imports.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__relative_import_cycles_error.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_error.snap
  crates/cribo/tests/test_dependency_graph_comprehensive.rs
Due: format, lint, update-index

chore(main): release 0.4.24
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

docs: update CriboGraph documentation with latest v0.4.23 enhancements
  docs/cribo-graph-implementation.md
Due: dprint

chore(main): release 0.4.24 (#116)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

Update .typos.toml
  .typos.toml
Due: dprint

Create .markdownlint.yaml
  .markdownlint.yaml
Due: dprint, yamllint

chore(docs): update README with cribo explanation
  .lefthook.yaml
  .vscode/extensions.json
  README.md
Due: dprint, yamllint

Update README.md
  README.md
Due: dprint

chore(docs): update README with AI ingestion
  README.md
Due: dprint

chore(docs): add sonar badge
  README.md
Due: dprint

fix(ai): remove LSP recommendations
  .mcp.json
  CLAUDE.md
Due: dprint

chore(ai): update Claude instructions
  CLAUDE.md
Due: dprint

chore(ci): suggest emoji for changelog
  .github/workflows/release-please.yml
Due: dprint, yamllint

feat(bundler): implement advanced symbol resolution for module inlining
  .mcp.json
  Cargo.lock
  Cargo.toml
  crates/cribo/Cargo.toml
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/database/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/database/connection.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/utils/helpers.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/main.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/base.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/user.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/auth/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/auth/manager.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
  docs/cribo-semantic-analysis-implementation.md
  docs/ruff-semantic-analysis-patterns.md
  docs/ruff_python_semantic_examples.md
  docs/semantic-vs-symbol-tracking-comparison.md
Due: format, dprint, lint, taplo, update-index

feat(bundler): implement advanced symbol resolution for module inlining
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/main.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_module_with_triple_quotes.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, dprint, lint, update-index

docs: add comprehensive analysis of Python global namespace handling
  docs/global-namespace-analysis.md
  docs/global-namespace-implementation-proposal.md
  docs/global-transformation-example.py
Due: dprint

docs: add LLM readability analysis to global namespace documentation
  docs/global-namespace-analysis.md
Due: dprint

chore: add wiki as subtree
  .gitmodules
Due: none

fix(test): make comprehensive_ast_rewrite fixture runnable
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/__init__.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/core/__init__.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/core/database/__init__.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/core/database/connection.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/core/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/core/utils/helpers.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/main.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/models/__init__.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/models/base.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/models/user.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/services/__init__.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/services/auth/__init__.py
  crates/cribo/tests/fixtures/bundling/comprehensive_ast_rewrite/services/auth/manager.py
Due: dprint

test: add original vs bundled output comparison
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

feat(bundler): implement module globals lifting and fix comprehensive AST test
  crates/cribo/src/code_generator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/ruff_lint_results@comprehensive_ast_rewrite.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

docs: update semantic analysis implementation documentation
  docs/cribo-semantic-analysis-implementation.md
Due: dprint

docs: add f-string globals lifting problem analysis
  docs/f-string-globals-lifting-problem.md
Due: dprint

fix: compilation errors in code_generator.rs
  .clippy.toml
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/bundling/fstring_globals_lifting/main.py
  crates/cribo/tests/fixtures/bundling/fstring_module_globals/main.py
  crates/cribo/tests/fixtures/bundling/fstring_module_globals/worker.py
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_globals_lifting.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_module_globals.snap
  crates/cribo/tests/snapshots/execution_results@fstring_globals_lifting.snap
  crates/cribo/tests/snapshots/execution_results@fstring_module_globals.snap
  crates/cribo/tests/snapshots/ruff_lint_results@fstring_globals_lifting.snap
  crates/cribo/tests/snapshots/ruff_lint_results@fstring_module_globals.snap
  temp/bundled_test.py
  temp/hybrid_bundled.py
Due: format, dprint, lint, update-index

Path conditions:
  format: any of: **/*.rs
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
