Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate

renovate:
  run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

fix(test): normalize Python error messages across versions
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(test): normalize Windows path separators in Python library paths
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(test): remove no-effect replace to fix clippy warning
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

refactor(test): use xfail_ prefix for expected failure fixtures
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_dynamic_import/.expected_failure
  crates/cribo/tests/fixtures/bundling/xfail_stickytape_script_with_dynamic_import/greeting.py
  crates/cribo/tests/fixtures/bundling/xfail_stickytape_script_with_dynamic_import/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

test: migrate ast_rewriting happy_path fixture to bundling framework
  crates/cribo/tests/fixtures/ast_rewriting/happy_path/expected_output.txt
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/main.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/models/__init__.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/models/user.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/services/__init__.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/services/database.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/utils/helpers.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_happy_path.snap
Due: dprint

test: migrate ast_rewriting class_name_collision fixture to bundling framework
  crates/cribo/tests/fixtures/ast_rewriting/class_name_collision/expected_output.txt
  crates/cribo/tests/fixtures/bundling/ast_rewriting_class_name_collision/entities.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_class_name_collision/main.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_class_name_collision/models.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_class_name_collision.snap
Due: dprint

test: migrate ast_rewriting function_name_collision fixture to bundling framework
  crates/cribo/tests/fixtures/ast_rewriting/function_name_collision/expected_output.txt
  crates/cribo/tests/fixtures/bundling/ast_rewriting_function_name_collision/main.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_function_name_collision/module_a.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_function_name_collision/module_b.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_function_name_collision.snap
Due: dprint

test: migrate ast_rewriting regular_import_aliases fixture to bundling framework
  crates/cribo/tests/fixtures/ast_rewriting/regular_import_aliases/expected_output.txt
  crates/cribo/tests/fixtures/bundling/ast_rewriting_regular_import_aliases/main.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_regular_import_aliases/utils/config.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_regular_import_aliases/utils/helpers.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_regular_import_aliases.snap
Due: dprint

test: migrate ast_rewriting variable_name_collision fixture to bundling framework
  crates/cribo/tests/fixtures/ast_rewriting/variable_name_collision/expected_output.txt
  crates/cribo/tests/fixtures/bundling/ast_rewriting_variable_name_collision/config.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_variable_name_collision/constants.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_variable_name_collision/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_variable_name_collision.snap
Due: dprint

fix: remove test_ast_rewriting_happy_path after fixture migration
  crates/cribo/tests/test_ast_rewriting.rs
Due: format, lint, update-index

test: migrate ast_rewriting fixtures to bundling snapshots framework (#102)
  crates/cribo/tests/fixtures/ast_rewriting/class_name_collision/expected_output.txt
  crates/cribo/tests/fixtures/ast_rewriting/function_name_collision/expected_output.txt
  crates/cribo/tests/fixtures/ast_rewriting/happy_path/expected_output.txt
  crates/cribo/tests/fixtures/ast_rewriting/regular_import_aliases/expected_output.txt
  crates/cribo/tests/fixtures/ast_rewriting/variable_name_collision/expected_output.txt
  crates/cribo/tests/fixtures/bundling/ast_rewriting_class_name_collision/entities.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_class_name_collision/main.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_class_name_collision/models.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_function_name_collision/main.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_function_name_collision/module_a.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_function_name_collision/module_b.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/main.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/models/__init__.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/models/user.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/services/__init__.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/services/database.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_happy_path/utils/helpers.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_regular_import_aliases/main.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_regular_import_aliases/utils/config.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_regular_import_aliases/utils/helpers.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_variable_name_collision/config.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_variable_name_collision/constants.py
  crates/cribo/tests/fixtures/bundling/ast_rewriting_variable_name_collision/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/test_ast_rewriting.rs
Due: format, dprint, lint, update-index

Update sonar-project.properties
  sonar-project.properties
Due: none

fix(bundler): resolve module dependency ordering bug
  crates/cribo/src/bundler.rs
  crates/cribo/src/dependency_graph.rs
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/database/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/database/connection.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/core/utils/helpers.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/main.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/base.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/models/user.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/auth/__init__.py
  crates/cribo/tests/fixtures/bundling/xfail_comprehensive_ast_rewrite/services/auth/manager.py
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@xfail_comprehensive_ast_rewrite.snap
Due: format, dprint, lint, update-index

feat(bundler): implement stdlib import hoisting with deduplication
  crates/cribo/src/emit.rs
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@ast_rewriting_regular_import_aliases.snap
Due: format, lint, update-index

fix(emit): prevent duplicate stdlib imports in preserved imports section
  crates/cribo/src/emit.rs
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@late_future_imports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_script_with_special_shebang.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_single_file_using_stdlib.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@xfail_stickytape_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@init_reexports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@late_future_imports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@xfail_comprehensive_ast_rewrite.snap
  docs/type-checking-hoisting-design.md
Due: format, dprint, lint, update-index

refactor(emit): fix clippy excessive_nesting warnings
  crates/cribo/src/emit.rs
Due: format, lint, update-index

feat(bundler): implement transitive dependency checking for proper module ordering
  crates/cribo/src/bundler.rs
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@all_variable_handling.snap
Due: format, lint, update-index

feat(bundler): add initial static bundler implementation
  crates/cribo/src/lib.rs
  crates/cribo/src/static_bundler.rs
Due: format, lint, update-index

feat(bundler): implement static bundler with module-to-class transformation
  crates/cribo/src/static_bundler.rs
  crates/cribo/tests/test_static_bundler.rs
Due: format, lint, update-index

feat(bundler): add support for all Python statement types in static bundler
  crates/cribo/src/static_bundler.rs
  crates/cribo/tests/test_static_bundler_advanced.rs
Due: format, lint, update-index

feat(bundler): implement import rewriting for static bundler
  crates/cribo/src/static_bundler.rs
  crates/cribo/tests/test_static_bundler_imports.rs
Due: format, lint, update-index

feat(bundler): implement static bundling to eliminate exec() usage
  crates/cribo/src/bundler.rs
  crates/cribo/src/config.rs
  crates/cribo/src/main.rs
  crates/cribo/src/static_bundler.rs
  crates/cribo/tests/test_static_bundler.rs
  crates/cribo/tests/test_static_bundler_advanced.rs
  crates/cribo/tests/test_static_bundler_imports.rs
  crates/cribo/tests/test_static_bundler_integration.rs
  docs/no-runtime-eval-sd.md
  docs/static-bundling.md
Due: format, dprint, lint, update-index

chore: add default-run
  Cargo.toml
Due: dprint

test: use Insta filters
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

test(bundler): fix stickytape_single_file test case
  crates/cribo/tests/fixtures/bundling/stickytape_single_file/main.py
  crates/cribo/tests/snapshots/bundled_code@stickytape_single_file.snap
Due: dprint

test(bundler): fix stickytape_single_file_using_stdlib test case
  crates/cribo/tests/fixtures/bundling/stickytape_single_file_using_stdlib/main.py
  crates/cribo/tests/snapshots/bundled_code@stickytape_single_file_using_stdlib.snap
Due: dprint

test(bundler): fix stickytape_script_with_single_local_import test case
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_single_local_import/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_single_local_import/main.py
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
Due: dprint

chore: remove debug analyzer binary and unused import trimmer
  crates/cribo/src/bin/debug_analyzer.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/unused_import_trimmer.rs
Due: format, lint, update-index

refactor: remove unused AstRewriter implementation
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/hybrid_static_bundler.rs
  crates/cribo/src/lib.rs
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
  crates/cribo/tests/test_regular_import_aliases.rs
Due: format, lint, update-index

fix(bundler): re-enable filtering of unreachable modules
  crates/cribo/src/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_multiple.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@simple_math.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/ruff_lint_results@future_imports_basic.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__class_level_cycles_error.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

feat(bundler): add circular import detection for relative imports
  crates/cribo/src/hybrid_static_bundler.rs
Due: format, lint, update-index

feat(bundler): expand side effect detection for edge cases
  crates/cribo/src/hybrid_static_bundler.rs
Due: format, lint, update-index

fix(bundler): resolve module ordering and Python identifier issues
  crates/cribo/src/hybrid_static_bundler.rs
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_in_init/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_in_init/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_in_init/main.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@test_all_exports.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__four_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__three_module_cycle_bundled.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
  crates/cribo/tests/test_alias_transformation.rs
  crates/cribo/tests/test_comprehensive_ast_rewrite.rs
Due: format, dprint, lint, update-index

fix(bundler): resolve clippy excessive nesting warnings in hybrid_static_bundler
  crates/cribo/src/hybrid_static_bundler.rs
Due: format, lint, update-index

refactor(bundler): introduce context structs to reduce function parameters
  crates/cribo/src/hybrid_static_bundler.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
