Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix: handle relative and bare imports in cross-cycle detection
  crates/cribo/src/analyzers/dependency_analyzer.rs
Due: format, lint, update-index

refactor: simplify dependency graph logic and eliminate data duplication (#466)
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/analyzers/types.rs
  crates/cribo/src/dependency_graph.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

chore: update CLAUDE.md
  CLAUDE.md
Due: markdownlint, dprint

chore: disable renovate GA digest pin
  renovate.json
Due: dprint, renovate

refactor: address PR review — avoid needless clones, clarify Arc deref, slim module_asts
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/code_generator/bundler/imports.rs
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
  crates/cribo/src/code_generator/phases/processing.rs
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

chore: switch from nightly to stable Rust 1.94.1
  .cargo/config.toml
  .github/workflows/release.yml
  lefthook.yml
  rust-toolchain.toml
Due: dprint, taplo, yamllint, actionlint

perf: hoist get_module_path out of inner statement loop in is_symbol_imported_by_wrapper
  crates/cribo/src/code_generator/bundler/symbols.rs
Due: format, lint, update-index

fix: don't skip absolute imports when module path is unavailable
  crates/cribo/src/code_generator/bundler/imports.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

fix: replace futile Arc::unwrap_or_clone with direct clone in processing phase
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

fix: don't bail on pathless modules in find_symbol_source_from_wrapper_module
  crates/cribo/src/code_generator/symbol_source.rs
Due: format, lint, update-index

perf: use `Arc<ModModule>` in module AST maps to avoid cloning all ASTs in `prepare_modules` (#465)
  .cargo/config.toml
  .github/workflows/release.yml
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/code_generator/bundler/imports.rs
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/phases/classification.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
  crates/cribo/src/code_generator/phases/processing.rs
  crates/cribo/src/code_generator/symbol_source.rs
  lefthook.yml
  rust-toolchain.toml
Due: format, dprint, lint, taplo, yamllint, update-index, actionlint

chore(main): release 0.8.4
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.8.4 (#464)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

refactor: unify analysis facts
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/circular_deps.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/dependency_graph.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/module_facts.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

test: cover namespace attribute lookup
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

refactor: simplify import extraction helpers
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

test: address remaining review feedback
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/module_facts.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

feat: unify bundling and tree-shaking analysis facts (#468)
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/circular_deps.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/dependency_graph.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/module_facts.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

chore: add kiro config
  .kiro/settings/cli.json
  .kiro/settings/lsp.json
Due: dprint

refactor: improve tree shaking liveness
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/module_alias_namespace_escape/main.py
  crates/cribo/tests/fixtures/module_alias_namespace_escape/package/__init__.py
  crates/cribo/tests/fixtures/module_alias_namespace_escape/package/helper.py
  crates/cribo/tests/fixtures/wildcard_all_tuple/exporter.py
  crates/cribo/tests/fixtures/wildcard_all_tuple/main.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@module_alias_namespace_escape.snap
  crates/cribo/tests/snapshots/bundled_code@simple_project.snap
  crates/cribo/tests/snapshots/bundled_code@symbol_usage_optimization.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_tuple.snap
  crates/cribo/tests/snapshots/execution_results@module_alias_namespace_escape.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_all_tuple.snap
  crates/cribo/tests/snapshots/requirements@module_alias_namespace_escape.snap
  crates/cribo/tests/snapshots/requirements@wildcard_all_tuple.snap
  crates/cribo/tests/snapshots/ruff_lint_results@module_alias_namespace_escape.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_all_tuple.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, dprint, lint, update-index, ruff-format

fix: address tree shaking review feedback
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

ci: fix portable Rust builds
  .cargo/config.toml
  .clippy.toml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
Due: dprint, taplo, yamllint, actionlint

[codex] Refactor tree shaking liveness (#486)
  .cargo/config.toml
  .clippy.toml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  crates/cribo/src/code_generator/bundler/mod.rs
  crates/cribo/src/code_generator/bundler/symbols.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/import_transformer/handlers/wrapper.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/module_alias_namespace_escape/main.py
  crates/cribo/tests/fixtures/module_alias_namespace_escape/package/__init__.py
  crates/cribo/tests/fixtures/module_alias_namespace_escape/package/helper.py
  crates/cribo/tests/fixtures/wildcard_all_tuple/exporter.py
  crates/cribo/tests/fixtures/wildcard_all_tuple/main.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@module_alias_namespace_escape.snap
  crates/cribo/tests/snapshots/bundled_code@simple_project.snap
  crates/cribo/tests/snapshots/bundled_code@symbol_usage_optimization.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_tuple.snap
  crates/cribo/tests/snapshots/execution_results@module_alias_namespace_escape.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_all_tuple.snap
  crates/cribo/tests/snapshots/requirements@module_alias_namespace_escape.snap
  crates/cribo/tests/snapshots/requirements@wildcard_all_tuple.snap
  crates/cribo/tests/snapshots/ruff_lint_results@module_alias_namespace_escape.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_all_tuple.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, dprint, lint, taplo, yamllint, update-index, actionlint, ruff-format

ci: use mehen metrics action
  .github/workflows/lint.yml
Due: dprint, yamllint, actionlint

chore: update
  .agents/skills/pr-comment/SKILL.md
  .codex/config.toml
  .github/workflows/lint.yml
Due: markdownlint, dprint, taplo, yamllint, actionlint

ci: replace rust-code-analysis with mehen action (#487)
  .agents/skills/pr-comment/SKILL.md
  .codex/config.toml
  .github/workflows/lint.yml
Due: markdownlint, dprint, taplo, yamllint, actionlint

chore(main): release 0.8.5
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.9.3
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
