Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

refactor: replace &Option<T> with Option<&T> for better ergonomics
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/orchestrator.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: remove unnecessary Result wrappers from infallible functions
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/cleanup.rs
  crates/cribo/src/code_generator/init_function/import_analysis.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/orchestrator.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
  crates/cribo/src/code_generator/init_function/submodules.rs
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
  crates/cribo/src/code_generator/init_function/wrapper_globals.rs
  crates/cribo/src/code_generator/init_function/wrapper_symbols.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
Due: format, lint, update-index

refactor: remove unused NamespaceInfo struct and namespace_registry field
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: use let...else instead of if-let-return pattern
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: remove unused NamespaceInfo and NamespaceRequirement infrastructure
  crates/cribo/src/code_generator/import_transformer/handlers/inlined.rs
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

refactor: remove unused collections that are never read
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

refactor: extract common code from if/else branches
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

refactor: pass small Copy types by value instead of reference
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

refactor: remove unused recursion parameter from collect_direct_imports_recursive
  crates/cribo/src/analyzers/import_analyzer.rs
Due: format, lint, update-index

refactor: remove unnecessary mut from context variables
  crates/cribo/src/code_generator/import_transformer/mod.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

refactor: use if expression for variable initialization
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/phases/post_processing.rs
Due: format, lint, update-index

refactor: replace map().unwrap_or_else() with map_or_else()
  crates/cribo/src/code_generator/init_function/import_analysis.rs
Due: format, lint, update-index

refactor: tighten scope of mutex lock in register_module
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

refactor: use clone_from for more efficient assignment
  crates/cribo/src/code_generator/phases/classification.rs
Due: format, lint, update-index

refactor: use write!() instead of push_str(&format!())
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

docs: use backticks instead of quotes for code in doc comments
  crates/cribo/src/code_generator/import_transformer/expr_rewriter.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

refactor: further tighten mutex lock scope in register_module
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

refactor: replace unwrap() with expect() for write! calls
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor: replace wildcard patterns with explicit variant matches
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/visitors/symbol_usage_visitor.rs
Due: format, lint, update-index

refactor: remove unused path variable from module indexing loop
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: rename SemanticBundler to SymbolConflictResolver
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/phases/initialization.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
  crates/cribo/src/code_generator/phases/processing.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/symbol_conflict_resolver.rs
  crates/cribo/src/visitors/import_discovery.rs
Due: format, lint, update-index

refactor: rename CriboGraph to DependencyGraph
  CLAUDE.md
  crates/cribo/benches/bundling.rs
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/dependency_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: use unwrap_or_else for lazy evaluation in logging
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: update dependencies to latest compatible versions
  Cargo.lock
Due: none

chore: set max thinking tokens
  .claude/settings.json
Due: dprint

chore: silence known duplicate crate version warnings
  .clippy.toml
Due: dprint

fix: update readme path in Cargo.toml to point to workspace root
  crates/cribo/Cargo.toml
Due: dprint, taplo

refactor: deduplicate module_level_vars extraction logic
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: use canonical path for semantic analysis in both cache paths
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

perf: avoid String allocation in __all__ assignment check
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

chore(main): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.7.0 (#387)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.7.0
  CHANGELOG.md
Due: markdownlint, dprint

chore(main): release 0.7.0 (#399)
  CHANGELOG.md
Due: markdownlint, dprint

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
