Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix(ci): add git submodules initialization to all test workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/valgrind.yml
  ecosystem/scenarios/utils.py
Due: dprint, yamllint, actionlint, ruff-format

fix(ci): initialize only ecosystem submodules to avoid wiki Windows issue
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/valgrind.yml
Due: dprint, yamllint, actionlint

fix(ecosystem): eliminate duplicate bundle sizes in test report
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

perf(bench): optimize ecosystem benchmarks with prebuilt binary and better error handling
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

refactor(test): reuse Python executable detection in bundling snapshot tests
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

test(idna): make emoji test deterministic with explicit assertions
  ecosystem/scenarios/test_idna.py
Due: dprint, ruff-format

fix: remove unnecessary ecosystem submodule init from npm generation job
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

fix: export CARGO_BIN_EXE_cribo to use prebuilt binary in ecosystem tests
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: improve bundle size parsing in ecosystem tests workflow
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: narrow Ruff exclusion to ecosystem/packages only
  ecosystem/scenarios/test_httpx.py
  ecosystem/scenarios/test_idna.py
  ecosystem/scenarios/test_pyyaml.py
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/test_rich.py
  ecosystem/scenarios/utils.py
  pyproject.toml
Due: dprint, ruff-format

docs: fix ecosystem test command in CI documentation
  docs/ecosystem-tests.md
Due: markdownlint, dprint

refactor: return PathBuf from get_python_executable
  crates/cribo/tests/common/mod.rs
Due: format, lint, update-index

test: use pytest.raises for proper IDNA error assertions
  ecosystem/scenarios/test_idna.py
Due: dprint, ruff-format

chore: format
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

fix: use PathBuf.display() for formatting in test_ecosystem
  crates/cribo/tests/test_ecosystem.rs
Due: format, lint, update-index

fix(bench): handle missing ecosystem submodules gracefully
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

fix(ci): properly initialize submodules in GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/ecosystem-tests.yml
  .github/workflows/release.yml
  .github/workflows/valgrind.yml
  crates/cribo/benches/ecosystem.rs
Due: format, dprint, lint, yamllint, update-index, actionlint

chore: remove wiki submodule
  .gitmodules
Due: none

fix(bench): add lib3/ path support for PyYAML package
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

fix(bench): avoid PyYAML Cython directory in package discovery
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
