Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix: replace all unwrap() with expect() as required by clippy rules
  crates/cribo/src/config.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/transformation_context.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

fix(lib): add missing module declarations for bench feature compilation
  crates/cribo/src/lib.rs
Due: format, lint, update-index

fix(ci): add --features bench flag to ecosystem and PR benchmark workflows
  .github/workflows/ecosystem-tests.yml
  .github/workflows/pr_benchmarks.yml
Due: dprint, yamllint, actionlint

fix(tests): use virtual environment Python and set PYTHONPATH for Windows CI
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

chore: remove empty ModuleDependencyInfo struct
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

chore: remove empty impl block for EnhancedFromImport
  crates/cribo/src/import_alias_tracker.rs
Due: format, lint, update-index

refactor: improve base class extraction with dedicated helper method
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore: remove unused _is_stdlib variable and computation
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix(globals): improve globals() call argument checking
  crates/cribo/src/code_generator/globals.rs
Due: format, lint, update-index

fix(import_transformer): prevent duplicate namespace entries
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix(code_generator): remove all sys.modules emitting logic
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
Due: format, lint, update-index

fix(module_registry): check import statements for name conflicts
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

chore(main): release 0.5.3
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.3 (#164)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore: rust rover config
  .idea/.gitignore
  .idea/cribo.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

chore: exclude idea
  .vscode/settings.json
Due: dprint

fix(bundler): handle conditional imports in if/else and try/except blocks
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/conditional_imports/conditional_module.py
  crates/cribo/tests/fixtures/conditional_imports/main.py
  crates/cribo/tests/fixtures/conditional_imports/try_except_module.py
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
  crates/cribo/tests/snapshots/execution_results@conditional_imports.snap
  crates/cribo/tests/snapshots/requirements@conditional_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@conditional_imports.snap
Due: format, dprint, lint, update-index, ruff-format

fix: import local_name check
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix(bundler): eliminate duplicate module attribute assignments
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
Due: format, lint, update-index

fix(bundler): handle conditional imports in if/else and try/except blocks (#184)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/conditional_imports/conditional_module.py
  crates/cribo/tests/fixtures/conditional_imports/main.py
  crates/cribo/tests/fixtures/conditional_imports/try_except_module.py
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
  crates/cribo/tests/snapshots/execution_results@conditional_imports.snap
  crates/cribo/tests/snapshots/requirements@conditional_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@conditional_imports.snap
Due: format, dprint, lint, update-index, ruff-format

chore(main): release 0.5.4
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

test: add conditional_exports fixture
  crates/cribo/tests/fixtures/conditional_exports/compat_module.py
  crates/cribo/tests/fixtures/conditional_exports/exceptions_module.py
  crates/cribo/tests/fixtures/conditional_exports/main.py
Due: dprint, ruff-format

chore(main): release 0.5.4 (#185)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix(tree-shaking): preserve entry module classes and fix namespace duplication
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/execution_results@conditional_exports.snap
  crates/cribo/tests/snapshots/requirements@conditional_exports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@conditional_exports.snap
Due: format, lint, update-index

fix(tree-shaking): preserve entry module classes and fix namespace duplication (#186)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/conditional_exports/compat_module.py
  crates/cribo/tests/fixtures/conditional_exports/exceptions_module.py
  crates/cribo/tests/fixtures/conditional_exports/main.py
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/execution_results@conditional_exports.snap
  crates/cribo/tests/snapshots/requirements@conditional_exports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@conditional_exports.snap
Due: format, dprint, lint, update-index, ruff-format

chore: update .idea setting
  .idea/cribo.iml
  .idea/dprintProjectConfig.xml
  .idea/dprintUserConfig.xml
Due: none

feat: add __qualname__
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/backup/.gitignore
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
Due: format, lint, update-index

fix(bundler): apply symbol renames to class base classes during inheritance
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/symbol_collision_inheritance/auth_module.py
  crates/cribo/tests/fixtures/symbol_collision_inheritance/colliding_module.py
  crates/cribo/tests/fixtures/symbol_collision_inheritance/main.py
  crates/cribo/tests/snapshots/bundled_code@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/execution_results@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/requirements@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/ruff_lint_results@symbol_collision_inheritance.snap
Due: format, dprint, lint, update-index, ruff-format

perf(bundler): hoist combined rename map construction outside class processing
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix(bundler): apply symbol renames to class base classes during inheritance (#188)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/symbol_collision_inheritance/auth_module.py
  crates/cribo/tests/fixtures/symbol_collision_inheritance/colliding_module.py
  crates/cribo/tests/fixtures/symbol_collision_inheritance/main.py
  crates/cribo/tests/snapshots/bundled_code@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/execution_results@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/requirements@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/ruff_lint_results@symbol_collision_inheritance.snap
Due: format, dprint, lint, update-index, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
