Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix(bundler): prevent duplicate namespace assignments when processing parent modules (#216)
  .mcp.json
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/version_import_with_init_functions/main.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/__init__.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/__version__.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/execution_results@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/requirements@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/ruff_lint_results@version_import_with_init_functions.snap
Due: format, markdownlint, dprint, lint, update-index, ruff-format

fix(bundler): improve side effect detection for relative imports
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
Due: format, lint, update-index

fix(bundler): wrap modules in circular deps that access imported attributes
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/fixtures/module_side_effects_circular_order/main.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/__init__.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/mod_a.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/mod_b.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/mod_c.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/mod_l.py
Due: format, dprint, lint, update-index, ruff-format

fix(bundler): refine circular dependency wrapping to only check imported modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/main.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/__init__.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/mod_a.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/mod_b.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/mod_c.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/mod_l.py
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_module_side_effects_circular_order.snap
Due: format, dprint, lint, update-index, ruff-format

fix(bundler): wrap modules in circular deps that access imported attributes (#218)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/main.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/__init__.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/mod_a.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/mod_b.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/mod_c.py
  crates/cribo/tests/fixtures/xfail_module_side_effects_circular_order/my_package/mod_l.py
  crates/cribo/tests/snapshots/bundled_code@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_module_side_effects_circular_order.snap
Due: format, dprint, lint, update-index, ruff-format

fix(bundler): handle circular dependencies with module-level attribute access
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/module_side_effects_circular_order/main.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/__init__.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/mod_a.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/mod_b.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/mod_c.py
  crates/cribo/tests/fixtures/module_side_effects_circular_order/my_package/mod_l.py
  crates/cribo/tests/snapshots/bundled_code@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/execution_results@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/requirements@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/ruff_lint_results@module_side_effects_circular_order.snap
Due: format, dprint, lint, update-index, ruff-format

refactor(bundler): eliminate duplicated circular dependency check logic
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: remove unreferenced snapshots
  crates/cribo/tests/snapshots/bundled_code@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_module_side_effects_circular_order.snap
Due: none

fix(bundler): handle circular dependencies with module-level attribute access (#219)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_module_side_effects_circular_order.snap
Due: format, lint, update-index

fix(bundler): handle re-exported symbols in __init__.py files correctly
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/fixtures/module_attribute_fstring/main.py
  crates/cribo/tests/fixtures/module_attribute_fstring/mypackage/__init__.py
  crates/cribo/tests/fixtures/module_attribute_fstring/mypackage/constants.py
  crates/cribo/tests/fixtures/module_attribute_fstring/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/execution_results@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/requirements@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/ruff_lint_results@module_attribute_fstring.snap
Due: format, dprint, lint, update-index, ruff-format

perf(bundler): optimize FromImport lookup from O(M*N) to O(M)
  crates/cribo/src/semantic_bundler.rs
Due: format, lint, update-index

fix(bundler): handle re-exported symbols in __init__.py files correctly (#220)
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/fixtures/module_attribute_fstring/main.py
  crates/cribo/tests/fixtures/module_attribute_fstring/mypackage/__init__.py
  crates/cribo/tests/fixtures/module_attribute_fstring/mypackage/constants.py
  crates/cribo/tests/fixtures/module_attribute_fstring/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/execution_results@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/requirements@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/ruff_lint_results@module_attribute_fstring.snap
Due: format, dprint, lint, update-index, ruff-format

chore(main): release 0.5.6
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore: add gemini code review config
  .gemini/config.yaml
Due: dprint, yamllint

refactor: simplify symbol rename lookup with Option chaining
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

perf: optimize unique imports collection to avoid unnecessary clones
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

chore: remove unused transform_bundled_import_from_multiple_with_context method
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split.md
Due: format, markdownlint, dprint, lint, update-index

fix(bundler): ensure init function results are properly assigned
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/cross_module_attribute_import/main.py
  crates/cribo/tests/fixtures/cross_module_attribute_import/mypackage/__init__.py
  crates/cribo/tests/fixtures/cross_module_attribute_import/mypackage/__version__.py
  crates/cribo/tests/fixtures/cross_module_attribute_import/mypackage/core.py
  crates/cribo/tests/fixtures/cross_module_attribute_import/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/execution_results@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/requirements@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_module_attribute_import.snap
Due: format, dprint, lint, update-index, ruff-format

perf: avoid string allocation in submodule check
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
Due: format, lint, update-index

chore(main): release 0.5.6 (#198)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: assign init function results to modules in sorted initialization
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@module_side_effects_circular_order.snap
Due: format, lint, update-index

test: allow duplicate init calls in test runner
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: assign init function results to modules in sorted initialization (#222)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/cross_module_attribute_import/main.py
  crates/cribo/tests/fixtures/cross_module_attribute_import/mypackage/__init__.py
  crates/cribo/tests/fixtures/cross_module_attribute_import/mypackage/__version__.py
  crates/cribo/tests/fixtures/cross_module_attribute_import/mypackage/core.py
  crates/cribo/tests/fixtures/cross_module_attribute_import/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@module_side_effects_circular_order.snap
  crates/cribo/tests/snapshots/execution_results@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/requirements@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_module_attribute_import.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index, ruff-format

fix: include all module-scope symbols in namespace to support private imports
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/private_module_vars/main.py
  crates/cribo/tests/fixtures/private_module_vars/pkg/__init__.py
  crates/cribo/tests/fixtures/private_module_vars/pkg/_internal.py
  crates/cribo/tests/fixtures/private_module_vars/pkg/consumer.py
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@private_module_vars.snap
  crates/cribo/tests/snapshots/execution_results@private_module_vars.snap
  crates/cribo/tests/snapshots/requirements@private_module_vars.snap
  crates/cribo/tests/snapshots/ruff_lint_results@private_module_vars.snap
Due: format, dprint, lint, update-index, ruff-format

refactor: extract should_include_symbol helper function
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@private_module_vars.snap
Due: format, lint, update-index

fix: include all module-scope symbols in namespace to support private imports (#225)
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/private_module_vars/main.py
  crates/cribo/tests/fixtures/private_module_vars/pkg/__init__.py
  crates/cribo/tests/fixtures/private_module_vars/pkg/_internal.py
  crates/cribo/tests/fixtures/private_module_vars/pkg/consumer.py
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@private_module_vars.snap
  crates/cribo/tests/snapshots/execution_results@private_module_vars.snap
  crates/cribo/tests/snapshots/requirements@private_module_vars.snap
  crates/cribo/tests/snapshots/ruff_lint_results@private_module_vars.snap
Due: format, dprint, lint, update-index, ruff-format

fix: handle submodules in __all__ exports correctly
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/namespace_attribute_reference/main.py
  crates/cribo/tests/fixtures/namespace_attribute_reference/mypkg/__init__.py
  crates/cribo/tests/fixtures/namespace_attribute_reference/mypkg/compat.py
  crates/cribo/tests/fixtures/namespace_attribute_reference/mypkg/exceptions.py
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/execution_results@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/requirements@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/ruff_lint_results@namespace_attribute_reference.snap
Due: format, dprint, lint, update-index, ruff-format

fix: deduplicate namespace init function calls
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
