Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate

renovate:
  run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

fix(ci): establish baseline benchmarks for performance tracking (#77)
  docs/benchmarking.md
Due: dprint

fix(test): replace deprecated criterion::black_box with std::hint::black_box
  crates/serpen/benches/bundling.rs
  docs/benchmarking.md
Due: format, dprint, lint, update-index

fix(test): replace deprecated criterion::black_box with std::hint::black_box
  crates/serpen/benches/bundling.rs
Due: format, lint, update-index

Update codecov badge
  README.md
Due: dprint

fix(ci): restore start-point parameters for proper PR benchmarking
  .github/workflows/pr_benchmarks.yml
Due: dprint, yamllint

fix(ci): restore start-point parameters for proper PR benchmarking (#79)
  .github/workflows/pr_benchmarks.yml
Due: dprint, yamllint

chore(main): release 0.4.9
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

chore(main): release 0.4.9 (#78)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

feat(test): re-enable single dot relative import test
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot_in_init.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
Due: format, lint, update-index

feat(test): re-enable single dot relative import test (#80)
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot_in_init.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
Due: format, lint, update-index

chore: add zed settomgs
  .zed/settings.json
Due: dprint

chore(main): release 0.4.10
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

chore(ai): restore git MCP
  .mcp.json
Due: dprint

chore(main): release 0.4.10 (#81)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

chore: restore Claude instructions to use git MCP
  CLAUDE.md
Due: dprint

fix: rename remaining documentation files with 'serpen' in filenames
  docs/cribo-npm-publishing-plan.md
  docs/cribo_aqua_ubi.md
  docs/cribo_full_impl_plan.md
  docs/cribo_import_resolution_analysis.md
  docs/cribo_unused_imports_and_unparsing.md
Due: dprint

docs(ai): fix placeholder text in CLAUDE.md
  CLAUDE.md
Due: dprint

docs: address CodeRabbit review comments
  README.md
  docs/ast-rewrite-research.md
  docs/bencher-setup-guide.md
  docs/cribo-npm-publishing-plan.md
  docs/stickytape.md
  npm/cribo/README.md
Due: dprint

refactor(dirs): extract string constants for config directory and file
  crates/cribo/src/dirs.rs
Due: format, lint, update-index

chore: update Cargo.lock file
  Cargo.lock
Due: none

fix(dirs): add missing imports for constants in test module
  crates/cribo/src/dirs.rs
Due: format, lint, update-index

fix(docs): add missing detectMusl function definition in launcher script
  docs/cribo-npm-publishing-plan.md
Due: dprint

refactor(scripts): rename all Serpen references to Cribo
  scripts/bench-bencher.sh
  scripts/bench.sh
  scripts/build-npm-binaries.sh
  scripts/coverage.sh
  scripts/publish-npm.js
  scripts/setup-branch-coverage.sh
  scripts/test-npm-package.js
  scripts/test-wheel-tag-fix.sh
Due: none

style: fix code formatting issues
  crates/cribo/benches/bundling.rs
  crates/cribo/src/dirs.rs
  crates/cribo/tests/test_circular_dependencies.rs
Due: format, lint, update-index

fix(ci): update CI workflow to use cribo package name
  .github/workflows/ci.yml
Due: dprint, yamllint

chore: replace git mcp server
  .mcp.json
Due: dprint

chore: hide zed from VSCode users
  .vscode/settings.json
Due: dprint

fix(bundler): re-enable package init test and fix parent package imports
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/bundler.rs
  crates/cribo/src/emit.rs
  crates/cribo/src/unused_imports_simple.rs
  crates/cribo/tests/fixtures/bundling/init_reexports/main.py
  crates/cribo/tests/fixtures/bundling/init_reexports/mypackage/__init__.py
  crates/cribo/tests/fixtures/bundling/init_reexports/mypackage/config.py
  crates/cribo/tests/fixtures/bundling/init_reexports/mypackage/data_processor.py
  crates/cribo/tests/fixtures/bundling/init_reexports/mypackage/formatter.py
  crates/cribo/tests/fixtures/bundling/init_reexports/mypackage/utils/__init__.py
  crates/cribo/tests/fixtures/bundling/init_reexports/mypackage/utils/constants.py
  crates/cribo/tests/fixtures/bundling/init_reexports/mypackage/utils/helper.py
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_implicit_init_import.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@init_reexports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@init_reexports.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

refactor(ast_rewriter): replace string comparisons with enum pattern matching
  crates/cribo/src/ast_rewriter.rs
Due: format, lint, update-index

chore: formatting
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/bundler.rs
  crates/cribo/src/emit.rs
  crates/cribo/src/unused_imports_simple.rs
Due: format, lint, update-index

chore: disable python tests in vscode
  .vscode/settings.json
Due: dprint

chore(ai): update codex instructions
  AGENTS.md
  CLAUDE.md
Due: dprint

chore(ai): update Claude instructions
  CLAUDE.md
Due: dprint

chore: update uv.lock
  uv.lock
Due: none

test: restore bug highlighting fixture
  crates/cribo/tests/fixtures/bundling/init_reexports/mypackage/__init__.py
Due: dprint

fix: resolve exposure statement generation for bundled variables
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/emit.rs
  crates/cribo/tests/fixtures/bundling/init_reexports/main.py
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_implicit_init_import.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_import_from_as_value.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_script_using_from_to_import_multiple_values.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_script_with_dynamic_import.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_script_with_single_local_from_import.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__comprehensive_bundling_results.snap
  test_bundle.py
  test_bundle_corrected.py
  test_bundle_debug.py
  test_bundle_final.py
  test_bundle_fixed.py
  test_explicit_debug.py
  test_explicit_debug2.py
  test_explicit_debug3.py
  test_explicit_debug4.py
  test_our_fixture_final.py
Due: format, dprint, lint, update-index

refactor(ast): replace string comparisons with enum pattern matching
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/emit.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
