Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    markdownlint:
      glob: '*.md'
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: '.github/workflows/*.{yaml,yml}'
      run: actionlint {staged_files}
    release-please:
      glob: release-please-config.json
      run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

fix: remove unused helper methods flagged as dead code
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

feat: handle relative imports
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

feat: use nextest on CI
  .github/workflows/ci.yml
Due: dprint, yamllint, actionlint

test: deterministic test output
  crates/cribo/tests/fixtures/xfail_module_shadowing/test_import.py
  crates/cribo/tests/fixtures/xfail_module_shadowing_package/test_import.py
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_shadowing_package.snap
Due: dprint

chore: increase CI test timeout
  .config/nextest.toml
Due: dprint, taplo

chore: remove dead code
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

chore: remove redundant pattern
  .markdownlint-cli2.yaml
Due: dprint, yamllint

perf(resolver): add caching to classify_import method
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/test_pythonpath_support.rs
  crates/cribo/tests/test_virtualenv_support.rs
Due: format, lint, update-index

docs(ai): use single quote
  CLAUDE.md
Due: markdownlint, dprint

chore(deps): remove unused walkdir dependency
  Cargo.lock
  Cargo.toml
  crates/cribo/Cargo.toml
Due: dprint, taplo

fix: detect side effects in function decorators, defaults, and annotations
  crates/cribo/src/visitors/side_effect_detector.rs
  docs/cribo-semantic-misses.md
  docs/proper-ruff-semantic-usage.md
  docs/pymermaider-semantic.md
  docs/ruff-semantics-api.md
Due: format, markdownlint, dprint, lint, update-index

refactor: avoid cloning ASTs in analyze_movable_imports_semantic
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

perf: cache semantic analysis results to avoid redundant work
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

fix(bundler): preserve import aliases and use actual byte offsets
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

fix(bundler): track import aliases in semantic analysis
  crates/cribo/src/semantic_analysis.rs
Due: format, lint, update-index

fix(graph): don't declare '*' as a variable for star imports
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

chore: increase timeout
  .config/nextest.toml
Due: dprint, taplo

docs: organize
  docs/CIRCULAR_DEPENDENCY_ORDERING_FIX.md
  docs/INLINING_EXPLANATION.md
  docs/MODULE_IMPORT_REGRESSION_ANALYSIS.md
  docs/NAMESPACE_IMPORT_REGRESSION_ANALYSIS.md
  docs/RECURSIVE_BUNDLER_PLAN.md
  docs/SEMANTIC_ANALYSIS_SUMMARY.md
  docs/SEMANTIC_IMPORT_ANALYSIS.md
  docs/implementation_plan.md
  docs/wrapper_module_fix_implementation_plan.md
Due: markdownlint, dprint

test: use nextest for coverage and native junit
  .config/nextest.toml
  .github/workflows/coverage.yml
Due: dprint, taplo, yamllint, actionlint

fix: install nextest
  .github/workflows/coverage.yml
Due: dprint, yamllint, actionlint

perf(test): fix slow cli_stdout tests by using pre-built binary
  crates/cribo/tests/test_cli_stdout.rs
Due: format, lint, update-index

perf(test): fix slow cli_stdout tests by using pre-built binary (#149)
  crates/cribo/tests/test_cli_stdout.rs
Due: format, lint, update-index

chore(deps): upgrade ruff dependencies from 0.11.13 to 0.12.0
  Cargo.lock
  Cargo.toml
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/visitors/no_ops_removal.rs
Due: format, dprint, lint, update-index

feat(ast): implement proper node index support for future source maps
  crates/cribo/src/ast_indexer.rs
  crates/cribo/src/ast_indexer/tests.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/transformation_context.rs
  crates/cribo/src/transformation_context/tests.rs
Due: format, lint, update-index

fix(ast): fix double counter increment in create_new_node
  crates/cribo/src/transformation_context.rs
Due: format, lint, update-index

feat(ast): add overflow detection for module index allocation
  crates/cribo/src/ast_indexer.rs
  crates/cribo/src/ast_indexer/tests.rs
Due: format, lint, update-index

perf(ast): optimize NodeIndexMap to avoid PathBuf cloning
  crates/cribo/src/ast_indexer.rs
  crates/cribo/src/ast_indexer/tests.rs
  crates/cribo/src/transformation_context.rs
  crates/cribo/src/transformation_context/tests.rs
  docs/IMPLEMENTATION_PLAN.md
  docs/ruff-vs-ty-semantic.md
Due: format, markdownlint, dprint, lint, update-index

chore(deps): upgrade ruff to 0.12.0 and implement node index support (#151)
  Cargo.lock
  Cargo.toml
  crates/cribo/src/ast_indexer.rs
  crates/cribo/src/ast_indexer/tests.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/transformation_context.rs
  crates/cribo/src/transformation_context/tests.rs
  crates/cribo/src/visitors/no_ops_removal.rs
  docs/IMPLEMENTATION_PLAN.md
  docs/ruff-vs-ty-semantic.md
Due: format, markdownlint, dprint, lint, update-index

chore(main): release 0.5.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.0 (#150)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

test: re-enable all stdout tests
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stdout.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
  crates/cribo/tests/test_cli_stdout.rs
Due: format, lint, update-index

test: tree shaking
  crates/cribo/tests/fixtures/simple_treeshaking_inlining/main.py
  crates/cribo/tests/fixtures/simple_treeshaking_inlining/speaking.py
  crates/cribo/tests/snapshots/bundled_code@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/execution_results@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/requirements@simple_treeshaking_inlining.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_treeshaking_inlining.snap
Due: dprint
