Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

refactor: simplify nested logic for parent_imports_submodule check
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

perf: optimize module removal from registries using retain
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: preserve stdlib imports and fix module initialization order for wrapper modules (#283)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/tests/fixtures/stdlib_decorator/main.py
  crates/cribo/tests/fixtures/stdlib_decorator/mypackage/__init__.py
  crates/cribo/tests/fixtures/stdlib_decorator/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_decorator.snap
  crates/cribo/tests/snapshots/requirements@stdlib_decorator.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_decorator.snap
  rust-toolchain.toml
Due: format, dprint, lint, update-index, ruff-format

feat: add bun and dprint installation to copilot setup workflow (#287)
  .github/workflows/copilot-setup-steps.yml
Due: dprint, yamllint, actionlint

Fix platform-dependent path in stdlib_decorator test fixture (#285)
  .gitignore
  crates/cribo/tests/fixtures/stdlib_decorator/main.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_decorator.snap
Due: dprint, ruff-format

fix: track all dependencies in side-effect modules during tree-shaking
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/main.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/__init__.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/exceptions.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@private_module_vars.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/requirements@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@tree_shake_side_effect_import.snap
Due: format, dprint, lint, update-index, ruff-format

refactor: extract common variable resolution logic into helper method
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
Due: format, lint, update-index

perf: remove redundant eventual_read_vars processing in side-effect modules
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

fix: add attribute access tracking for side-effect modules
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

fix: track all dependencies in side-effect modules during tree-shaking (#288)
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/main.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/__init__.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/exceptions.py
  crates/cribo/tests/fixtures/tree_shake_side_effect_import/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@private_module_vars.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/requirements@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@tree_shake_side_effect_import.snap
Due: format, dprint, lint, update-index, ruff-format

chore: update claude envs
  .claude/settings.json
Due: dprint

chore(main): release 0.5.14
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

test: submodule parent import fixture
  crates/cribo/tests/fixtures/submodule_imports_parent_function/main.py
  crates/cribo/tests/fixtures/submodule_imports_parent_function/pkg/__init__.py
  crates/cribo/tests/fixtures/submodule_imports_parent_function/pkg/submodule.py
Due: dprint, ruff-format

fix: initialize wrapper modules for lazy imports in inlined modules
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/execution_results@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/requirements@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/ruff_lint_results@submodule_imports_parent_function.snap
Due: format, lint, update-index

fix: properly handle deferred import patterns in side-effect-free modules
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

refactor: optimize parent module handling with single rsplit_once call
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore(main): release 0.5.14 (#282)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: initialize wrapper modules for lazy imports in inlined modules (#289)
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/tests/fixtures/submodule_imports_parent_function/main.py
  crates/cribo/tests/fixtures/submodule_imports_parent_function/pkg/__init__.py
  crates/cribo/tests/fixtures/submodule_imports_parent_function/pkg/submodule.py
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/execution_results@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/requirements@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/ruff_lint_results@submodule_imports_parent_function.snap
Due: format, dprint, lint, update-index, ruff-format

fix: handle wildcard imports correctly for wrapper and inlined modules
  crates/cribo/src/ast_builder/expressions.rs
  crates/cribo/src/ast_builder/statements.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_imports.snap
  crates/cribo/tests/snapshots/requirements@wildcard_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_imports.snap
Due: format, lint, update-index

test: add wildcard_imports test fixture and update snapshots
  crates/cribo/tests/fixtures/wildcard_imports/__init__.py
  crates/cribo/tests/fixtures/wildcard_imports/clash_module_a.py
  crates/cribo/tests/fixtures/wildcard_imports/clash_module_b.py
  crates/cribo/tests/fixtures/wildcard_imports/explicit_all.py
  crates/cribo/tests/fixtures/wildcard_imports/main.py
  crates/cribo/tests/fixtures/wildcard_imports/with_side_effects.py
  crates/cribo/tests/snapshots/requirements@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_shadowing_package.snap
Due: dprint, ruff-format

feat: add native extensions classification
  crates/cribo/src/resolver.rs
  crates/cribo/tests/snapshots/requirements@cross_package_mixed_import.snap
Due: format, lint, update-index

chore: format
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

Update crates/cribo/src/resolver.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: address PR review - remove incorrect renaming logic for wrapper modules
  .gitmodules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  pyproject.toml
  uv.lock
Due: format, dprint, lint, update-index

fix: skip wildcard imports when generating global statements
  crates/cribo/src/code_generator/module_transformer.rs
  ecosystem/scenarios/test_pyyaml.py
Due: format, dprint, lint, update-index, ruff-format

chore: shallow submodule
  .gitmodules
Due: none

fix: preserve 'last import wins' semantics for wildcard imports from inlined modules
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/wildcard_last_wins_simple/__init__.py
  crates/cribo/tests/fixtures/wildcard_last_wins_simple/first.py
  crates/cribo/tests/fixtures/wildcard_last_wins_simple/main.py
  crates/cribo/tests/fixtures/wildcard_last_wins_simple/second.py
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_last_wins_simple.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_last_wins_simple.snap
  crates/cribo/tests/snapshots/requirements@wildcard_last_wins_simple.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_last_wins_simple.snap
Due: format, dprint, lint, update-index, ruff-format

perf: cache explicit __all__ lookup to avoid repeated map access
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

perf: cache explicit __all__ lookup in bundler wildcard import handling
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: update submodule
  .gitmodules
Due: none

fix: handle wildcard imports correctly for wrapper and inlined modules (#294)
  .gitmodules
  crates/cribo/src/ast_builder/expressions.rs
  crates/cribo/src/ast_builder/statements.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/fixtures/wildcard_imports/__init__.py
  crates/cribo/tests/fixtures/wildcard_imports/clash_module_a.py
  crates/cribo/tests/fixtures/wildcard_imports/clash_module_b.py
  crates/cribo/tests/fixtures/wildcard_imports/explicit_all.py
  crates/cribo/tests/fixtures/wildcard_imports/main.py
  crates/cribo/tests/fixtures/wildcard_imports/with_side_effects.py
  crates/cribo/tests/fixtures/wildcard_last_wins_simple/__init__.py
  crates/cribo/tests/fixtures/wildcard_last_wins_simple/first.py
  crates/cribo/tests/fixtures/wildcard_last_wins_simple/main.py
  crates/cribo/tests/fixtures/wildcard_last_wins_simple/second.py
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_last_wins_simple.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_imports.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_last_wins_simple.snap
  crates/cribo/tests/snapshots/requirements@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/requirements@wildcard_imports.snap
  crates/cribo/tests/snapshots/requirements@wildcard_last_wins_simple.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_shadowing_package.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_last_wins_simple.snap
  ecosystem/scenarios/test_pyyaml.py
  pyproject.toml
  uv.lock
Due: format, dprint, lint, update-index, ruff-format

fix: apply renames to metaclass keyword arguments in class definitions
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/tests/fixtures/metaclass_ordering_collision/main.py
  crates/cribo/tests/fixtures/metaclass_ordering_collision/module_a.py
  crates/cribo/tests/fixtures/metaclass_ordering_collision/module_b.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/requirements@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_ordering_collision.snap
Due: format, dprint, lint, update-index, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
