Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix: properly handle symlinked modules and submodule imports in inlined modules
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/fixtures/xfail_file_deduplication_symlinks/main.py
  crates/cribo/tests/snapshots/bundled_code@builtin_types_circular.snap
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/execution_results@xfail_file_deduplication_symlinks.snap
Due: format, dprint, lint, update-index, ruff-format

fix: handle module shadowing to match Python's standard behavior
  crates/cribo/src/ast_builder/statements.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/requirements@xfail_module_shadowing.snap
Due: format, lint, update-index

fix: trim leading dots before returning on relative import overshoot
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

fix: only remove import statement when all aliases are movable
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

fix: include relative-from imports in deduplication check
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

chore: fmt nightly
  crates/cribo/benches/bundling.rs
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/ast_builder/expressions.rs
  crates/cribo/src/ast_builder/module_wrapper.rs
  crates/cribo/src/ast_builder/proxy_generator.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/symbol_source.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/src/visitors/local_var_collector.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

chore: rust toolchain
  .github/workflows/lint.yml
  rust-toolchain.toml
Due: dprint, yamllint, actionlint

chore: nightly rust
  .github/workflows/base_benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/commitlint.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/coverage.yml
  .github/workflows/ecosystem-tests.yml
  .github/workflows/pr_benchmarks.yml
  .github/workflows/pr_cleanup.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/valgrind.yml
  crates/cribo/src/ast_indexer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, yamllint, update-index, actionlint

chore: stable fixture
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/main.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/__init__.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/abc.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/color.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/console.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/pretty.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/style.py
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/execution_results@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/execution_results@xfail_circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/requirements@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/requirements@xfail_circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/ruff_lint_results@circular_deps_with_stdlib_name_conflict.snap
Due: dprint, ruff-format

chore: fix mixed_import_patterns
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/mixed_import_patterns/app.py
  crates/cribo/tests/fixtures/mixed_import_patterns/config.py
  crates/cribo/tests/fixtures/mixed_import_patterns/logger.py
  crates/cribo/tests/fixtures/mixed_import_patterns/main.py
  crates/cribo/tests/fixtures/mixed_import_patterns/utils.py
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/requirements@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/ruff_lint_results@mixed_import_patterns.snap
Due: format, dprint, lint, update-index, ruff-format

chore: checkout is not required
  .github/workflows/pr_cleanup.yml
Due: dprint, yamllint, actionlint

chore: adjust pinned actions versions
  .github/workflows/ecosystem-tests.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

refactor: remove dead hard dependency code
  .github/workflows/release.yml
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/tests/snapshots/bundled_code@forward_reference_pkg.snap
Due: format, dprint, lint, yamllint, update-index, actionlint

refactor: fix all clippy warnings
  crates/cribo/src/ast_builder/expressions.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: use ModuleId-aware identifier for init function self argument
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

fix: iterate all items when searching for __all__ assignments
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

fix: handle missing module names gracefully in init emission
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

refactor: replace custom resolve_relative_module with central resolver
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

refactor(core): remove dead code, fix resolver, align logging
  crates/cribo/src/ast_indexer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

chore: address PR review comment 2328853377
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

test(fixtures): add namespace_pkg_no_init to cover missing parent ModuleId case
  crates/cribo/tests/fixtures/namespace_pkg_no_init/main.py
  crates/cribo/tests/fixtures/namespace_pkg_no_init/pkg/submodule.py
  crates/cribo/tests/snapshots/bundled_code@namespace_pkg_no_init.snap
  crates/cribo/tests/snapshots/execution_results@namespace_pkg_no_init.snap
  crates/cribo/tests/snapshots/requirements@namespace_pkg_no_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@namespace_pkg_no_init.snap
Due: dprint, ruff-format

refactor(ast_builder): move merge-module-attributes AST builder out of bundler
  crates/cribo/src/ast_builder/mod.rs
  crates/cribo/src/ast_builder/module_attr_merge.rs
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: remove obsolete file
  crates/cribo/src/ast_builder/misses.md
Due: markdownlint, dprint

chore: address PR review comment 2328858430
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

refactor: use get_module_var_identifier for wrapper-init namespace qualification (PR review 2328858431)
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

refactor: rename fallback module_id -> parent_module_id and use ModuleId-aware ns (PR review 2328858432)
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

chore: format
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

fix: build nested attribute target for dotted module init assignment (PR review 2328867593)
  crates/cribo/src/ast_builder/statements.rs
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

chore: use statements::if_stmt in module_attr_merge (PR review 2328867591)
  crates/cribo/src/ast_builder/module_attr_merge.rs
Due: format, lint, update-index

chore: use statements::for_loop in module_attr_merge for consistency
  crates/cribo/src/ast_builder/module_attr_merge.rs
Due: format, lint, update-index

refactor(codegen): use ModuleId for wrapper deps tracking and needed-by-inlined sets; avoid string names in transitive resolution
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(codegen): use ModuleId for inlinable_set and wrapper_set lookups; compare by id instead of name
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(codegen): drop String-keyed module_map; use ModuleId lookups against modules map
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(codegen): track processed_modules by ModuleId; avoid name-based checks and fix shadowing in wrapper branch
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

feat(analyzers): liftable globals for global statements
  crates/cribo/src/analyzers/global_analyzer.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/semantic_bundler.rs
Due: format, lint, update-index

chore: address PR review comment 2329418873
  crates/cribo/src/visitors/import_discovery.rs
Due: format, lint, update-index

fix(tree-shaking): seed from resolved entry_id, not always ModuleId::ENTRY (addresses PR comment 2329418862)
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

fix(bundler): preserve package exports and avoid entry package circular init
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: use module_registry::is_init_function instead of hardcoded '_cribo_init_' checks
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
