Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

Update .lefthook.yaml
  .lefthook.yaml
Due: dprint, yamllint

ci: add cargo cache
  .github/workflows/lint.yml
Due: dprint, yamllint

fix: remove misleading underscore prefix from index_mapping variable
  crates/serpen/src/dependency_graph.rs
Due: format, lint, update-index

refactor: replace broad clippy allow with specific lint suppression
  crates/serpen/src/bundler.rs
Due: format, lint, update-index

fix: correct import alias filtering logic inversion
  crates/serpen/src/emit.rs
Due: format, lint, update-index

ci: trigger on pr
  .github/workflows/lint.yml
Due: dprint, yamllint

Linting (#62)
  .clippy.toml
  .github/workflows/lint.yml
  .lefthook.yaml
  Cargo.lock
  Cargo.toml
  README.md
  crates/serpen/src/ast_rewriter.rs
  crates/serpen/src/bundler.rs
  crates/serpen/src/combine.rs
  crates/serpen/src/config.rs
  crates/serpen/src/dependency_graph.rs
  crates/serpen/src/dirs.rs
  crates/serpen/src/emit.rs
  crates/serpen/src/resolver.rs
  crates/serpen/src/unused_import_trimmer.rs
  crates/serpen/src/unused_imports_simple.rs
  crates/serpen/src/util.rs
  crates/serpen/tests/integration_tests.rs
  crates/serpen/tests/snapshots/stickytape_compatibility_tests__bundled_script_with_dynamic_import.snap
  crates/serpen/tests/stickytape_compatibility_tests.rs
  crates/serpen/tests/test_alias_transformation.rs
  crates/serpen/tests/test_ast_rewriting.rs
  crates/serpen/tests/test_circular_dependencies.rs
  crates/serpen/tests/test_comprehensive_ast_rewrite.rs
  crates/serpen/tests/test_dependency_graph_comprehensive.rs
  crates/serpen/tests/test_python_version_config.rs
  crates/serpen/tests/test_pythonpath_support.rs
  crates/serpen/tests/test_regular_import_aliases.rs
  crates/serpen/tests/test_relative_imports.rs
  crates/serpen/tests/test_unused_imports_simple.rs
  crates/serpen/tests/test_virtualenv_support.rs
Due: format, dprint, lint, yamllint, update-index

feat: add support for Python `from __future__` imports
  crates/serpen/src/emit.rs
  crates/serpen/tests/fixtures/future_imports/basic_test/main.py
  crates/serpen/tests/fixtures/future_imports/basic_test/mypackage/__init__.py
  crates/serpen/tests/fixtures/future_imports/basic_test/mypackage/core.py
  crates/serpen/tests/fixtures/future_imports/basic_test/mypackage/submodule/__init__.py
  crates/serpen/tests/fixtures/future_imports/basic_test/mypackage/submodule/utils.py
  crates/serpen/tests/fixtures/future_imports/multiple_features/main.py
  crates/serpen/tests/fixtures/future_imports/multiple_features/module_a.py
  crates/serpen/tests/fixtures/future_imports/multiple_features/module_b.py
  crates/serpen/tests/test_future_imports.rs
Due: format, dprint, lint, update-index

refactor: improve deterministic output for deployment reproducibility
  CLAUDE.md
  crates/serpen/src/emit.rs
  crates/serpen/tests/test_future_imports.rs
Due: format, dprint, lint, update-index

fix: correct Python syntax in future imports test fixtures
  crates/serpen/tests/fixtures/future_imports/multiple_features/main.py
  crates/serpen/tests/fixtures/future_imports/multiple_features/module_a.py
  crates/serpen/tests/fixtures/future_imports/multiple_features/module_b.py
  docs/python-stdlib-imports.md
Due: dprint

feat: implement generic bundling snapshot test framework
  crates/serpen/tests/fixtures/bundling/future_imports_basic/main.py
  crates/serpen/tests/fixtures/bundling/future_imports_basic/mypackage/__init__.py
  crates/serpen/tests/fixtures/bundling/future_imports_basic/mypackage/core.py
  crates/serpen/tests/fixtures/bundling/future_imports_basic/mypackage/submodule/__init__.py
  crates/serpen/tests/fixtures/bundling/future_imports_basic/mypackage/submodule/utils.py
  crates/serpen/tests/fixtures/bundling/future_imports_multiple/main.py
  crates/serpen/tests/fixtures/bundling/future_imports_multiple/module_a.py
  crates/serpen/tests/fixtures/bundling/future_imports_multiple/module_b.py
  crates/serpen/tests/fixtures/bundling/simple_math/calculator.py
  crates/serpen/tests/fixtures/bundling/simple_math/main.py
  crates/serpen/tests/fixtures/bundling/simple_math/utils.py
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundling_future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundling_future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundling_simple_math.snap
  crates/serpen/tests/snapshots/test_circular_dependencies__class_level_cycles_bundled.snap
  crates/serpen/tests/test_bundling_snapshots.rs
  crates/serpen/tests/test_future_imports.rs
Due: format, dprint, lint, update-index

refactor: enhance snapshot testing with insta named snapshots
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@simple_math.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@simple_math.snap
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

feat: enhance execution snapshots with insta debug formatting
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@simple_math.snap
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

docs: document generic snapshot testing framework for reuse
  CLAUDE.md
Due: dprint

fix: suppress clippy disallowed_methods warning for insta macros
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: normalize line endings in execution results for cross-platform compatibility
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: normalize line endings in bundled code snapshots for Windows CI
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: separate line ending normalization for better debugging
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: normalize CRLF line endings in bundled code snapshots
  crates/serpen/tests/test_bundling_snapshots.rs
  test_crlf.txt
  test_replace
  test_replace.rs
Due: format, lint, update-index

fix: normalize line endings at source file reading level
  crates/serpen/src/bundler.rs
  crates/serpen/src/emit.rs
  crates/serpen/src/util.rs
Due: format, lint, update-index

refactor: address CodeRabbit review feedback
  CLAUDE.md
  crates/serpen/tests/test_bundling_snapshots.rs
  docs/python-stdlib-imports.md
  test_replace
  test_replace.rs
Due: format, dprint, lint, update-index

feat: add comprehensive `from __future__` imports support with generic snapshot testing framework (#63)
  CLAUDE.md
  crates/serpen/src/bundler.rs
  crates/serpen/src/emit.rs
  crates/serpen/src/util.rs
  crates/serpen/tests/fixtures/bundling/future_imports_basic/main.py
  crates/serpen/tests/fixtures/bundling/future_imports_basic/mypackage/__init__.py
  crates/serpen/tests/fixtures/bundling/future_imports_basic/mypackage/core.py
  crates/serpen/tests/fixtures/bundling/future_imports_basic/mypackage/submodule/__init__.py
  crates/serpen/tests/fixtures/bundling/future_imports_basic/mypackage/submodule/utils.py
  crates/serpen/tests/fixtures/bundling/future_imports_multiple/main.py
  crates/serpen/tests/fixtures/bundling/future_imports_multiple/module_a.py
  crates/serpen/tests/fixtures/bundling/future_imports_multiple/module_b.py
  crates/serpen/tests/fixtures/bundling/simple_math/calculator.py
  crates/serpen/tests/fixtures/bundling/simple_math/main.py
  crates/serpen/tests/fixtures/bundling/simple_math/utils.py
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@simple_math.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@simple_math.snap
  crates/serpen/tests/snapshots/test_circular_dependencies__class_level_cycles_bundled.snap
  crates/serpen/tests/test_bundling_snapshots.rs
  crates/serpen/tests/test_future_imports.rs
  docs/python-stdlib-imports.md
  test_crlf.txt
Due: format, dprint, lint, update-index

chore(main): release 0.4.6
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

chore(main): release 0.4.6 (#64)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  npm/serpen/package.json
  version.txt
Due: dprint

fix(ci): avoid double run of lint on PRs
  .github/workflows/lint.yml
Due: dprint, yamllint

feat: integrate ruff linting for unused imports cross-validation
  Cargo.lock
  Cargo.toml
  crates/serpen/Cargo.toml
  crates/serpen/src/emit.rs
  crates/serpen/tests/snapshots/integration_tests__requirements_generation.snap
  crates/serpen/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@future_imports_basic.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@simple_math.snap
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, taplo, update-index

feat: enhance ruff integration with F404 rule validation
  crates/serpen/tests/fixtures/bundling/late_future_imports/main.py
  crates/serpen/tests/snapshots/test_bundling_snapshots__bundled_code@late_future_imports.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@late_future_imports.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@future_imports_multiple.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@late_future_imports.snap
  crates/serpen/tests/snapshots/test_bundling_snapshots__ruff_lint_results@simple_math.snap
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index

fix: improve module name matching to prevent substring false positives
  crates/serpen/src/emit.rs
Due: format, lint, update-index

chore: lower requires-python to 3.7 to align with ruff
  pyproject.toml
Due: dprint

chore(ci): test only with Python 3.12 as we are no exposing lib
  .github/workflows/ci.yml
Due: dprint, yamllint

chore: pin python to 3.12
  .python-version
Due: none

fix: better check for total violations
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: use pinned python 3.12
  crates/serpen/tests/snapshots/test_bundling_snapshots__execution_results@late_future_imports.snap
Due: none

fix: remove normalizing and trimming of bundle output as it should be deterministic
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: remove dependencies which requires higher version of Python
  pyproject.toml
  uv.lock
Due: dprint

fix(ci): activate-environment: true
  .github/workflows/ci.yml
Due: dprint, yamllint

chore(ci): python version on Windows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: dprint, yamllint

chore(ci): run typos
  .github/workflows/lint.yml
Due: dprint, yamllint

chore: enable semantic commits for renovate
  .lefthook.yaml
  renovate.json
Due: dprint, yamllint, renovate

feat: support VIRTUAL_ENV for python discovery
  crates/serpen/src/util.rs
  crates/serpen/tests/test_bundling_snapshots.rs
Due: format, lint, update-index
