Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

feat(bundler): implement dumb plan executor architecture
  .gemini/settings.json
  .gitignore
  crates/cribo/src/analysis/potential_exports.rs
  crates/cribo/src/bundle_plan/mod.rs
  crates/cribo/src/bundle_plan/symbol_origin_tests.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/plan_executor.rs
  crates/cribo/tests/fixtures/stickytape_script_with_single_local_import/greeting.py
  crates/cribo/tests/fixtures/stickytape_script_with_single_local_import/main.py
Due: format, dprint, lint, update-index, ruff-format

refactor: rename build_execution_plan_v2 to build_execution_plan
  crates/cribo/src/bundle_plan/mod.rs
Due: format, lint, update-index

fix(bundler): use renamed symbols in namespace population and fix import handling
  crates/cribo/src/bundle_plan/compiler.rs
  crates/cribo/src/bundle_vm.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

refactor(bundler): complete BundlePlan removal and rename module
  crates/cribo/src/bundle_compiler/compiler.rs
  crates/cribo/src/bundle_compiler/mod.rs
  crates/cribo/src/bundle_plan/builder.rs
  crates/cribo/src/bundle_plan/final_layout.rs
  crates/cribo/src/bundle_plan/mod.rs
  crates/cribo/src/bundle_plan/symbol_origin_tests.rs
  crates/cribo/src/bundle_plan/tests.rs
  crates/cribo/src/bundle_vm.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  docs/plans/bundleplan-1.md
  docs/plans/bundleplan-2.md
  docs/plans/bundleplan-refactoring-completion.md
Due: format, markdownlint, dprint, lint, update-index

perf(bundler): optimize live_items lookup from O(n) to O(1)
  crates/cribo/src/bundle_compiler/compiler.rs
Due: format, lint, update-index

feat(bundler): formalize Compiler/VM interface with embedded renames
  crates/cribo/src/bundle_compiler/compiler.rs
  crates/cribo/src/bundle_vm.rs
  docs/plans/bundleplan-2.md
Due: format, markdownlint, dprint, lint, update-index

refactor(bundler): centralize stdlib detection to single source of truth
  crates/cribo/src/bundle_compiler/compiler.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/side_effects.rs
  crates/cribo/src/stdlib_detection.rs
Due: format, lint, update-index

refactor(bundler): update import_rewriter to use centralized stdlib detection
  crates/cribo/src/bundle_vm.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/stdlib_detection.rs
Due: format, lint, update-index

fix(graph_builder): track variables in annotated assignment values
  .commitlintrc.yaml
  crates/cribo/src/graph_builder.rs
Due: format, dprint, lint, yamllint, update-index

chore: ast transformer implementation
  crates/cribo/src/analysis/mod.rs
  crates/cribo/src/ast_indexer.rs
  crates/cribo/src/ast_transformer.rs
  crates/cribo/src/bundle_compiler/compiler.rs
  crates/cribo/src/bundle_vm.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/transformation_detector.rs
  crates/cribo/src/transformations.rs
  docs/design/transformation-plan-architecture.md
  docs/plans/transformation-architecture-completion.md
Due: format, markdownlint, dprint, lint, update-index

fix(ast_transformer): replace debug placeholder with proper code generation
  crates/cribo/src/ast_transformer.rs
Due: format, lint, update-index

fix(circular_analyzer): return all import edges between modules
  crates/cribo/src/analysis/circular_analyzer.rs
Due: format, lint, update-index

fix(potential_exports): parse actual __all__ values instead of empty vector
  crates/cribo/src/analysis/potential_exports.rs
Due: format, lint, update-index

fix(symbol_conflict_detector): implement filter_duplicate_origins to prevent false conflicts
  crates/cribo/src/analysis/symbol_conflict_detector.rs
Due: format, lint, update-index

fix(bundle_compiler): simplify nested namespace handling to preserve Python structure
  crates/cribo/src/bundle_compiler/compiler.rs
Due: format, lint, update-index

fix(bundler): use original symbol names for namespace attributes
  crates/cribo/src/bundle_compiler/compiler.rs
Due: format, lint, update-index

test: update snapshots
  crates/cribo/tests/fixtures/import_shadowing/main.py
  crates/cribo/tests/fixtures/import_shadowing/package_a/__init__.py
  crates/cribo/tests/fixtures/import_shadowing/package_a/processor.py
  crates/cribo/tests/fixtures/import_shadowing/package_a/utils.py
  crates/cribo/tests/fixtures/import_shadowing/package_b/__init__.py
  crates/cribo/tests/fixtures/import_shadowing/package_b/processor.py
  crates/cribo/tests/fixtures/import_shadowing/package_b/utils.py
  crates/cribo/tests/fixtures/import_shadowing/utils.py
  crates/cribo/tests/fixtures/importlib_edge_cases/main.py
  crates/cribo/tests/fixtures/importlib_edge_cases/my-module.py
  crates/cribo/tests/snapshots/bundled_code@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_mixed_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_unresolvable_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_function_level_module_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_future_imports_multiple.snap
  crates/cribo/tests/snapshots/execution_results@xfail_ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/execution_results@xfail_cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_function_level_module_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_future_imports_basic.snap
  crates/cribo/tests/snapshots/execution_results@xfail_future_imports_multiple.snap
Due: dprint, ruff-format

fix(import_rewriter): enable movable import analysis by fixing module ID conversion
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

refactor: remove unused ProcessedModule fields for stdlib normalization
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor(cribo_graph): remove deprecated suggest_resolution_for_cycle function
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

refactor(transformation_detector): remove test-specific debug code
  crates/cribo/src/transformation_detector.rs
Due: format, lint, update-index

fix(circular_analyzer): fix parent-child package detection to avoid false positives
  crates/cribo/src/analysis/circular_analyzer.rs
Due: format, lint, update-index

refactor(circular_analyzer): use import_chain for more accurate cycle classification
  crates/cribo/src/analysis/circular_analyzer.rs
Due: format, lint, update-index

chore: update snapshots
  crates/cribo/src/import_rewriter.rs
  crates/cribo/tests/snapshots/bundled_code@import_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_edge_cases.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/execution_results@xfail_importlib_static.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_importlib_static.snap
Due: format, lint, update-index

fix(symbol_origin_analyzer): implement proper tracking for module imports
  crates/cribo/src/analysis/symbol_origin_analyzer.rs
Due: format, lint, update-index

refactor(ast_builder): remove duplicate from_import_with_aliases function
  crates/cribo/src/ast_builder.rs
  crates/cribo/src/bundle_compiler/compiler.rs
Due: format, lint, update-index

fix(ast_transformer): extend symbol rewrite to handle Attribute expressions
  crates/cribo/src/ast_transformer.rs
Due: format, lint, update-index

chore: Pr
  crates/cribo/src/analysis/circular_analyzer.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

fix(graph_builder): add support for AnnAssign and With statements in Pass A symbol discovery
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

fix(tree_shaking): correct module parameter in side effect check
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

refactor(bundle_compiler): simplify get_renamed_symbol_name with chained operations
  crates/cribo/src/bundle_compiler/compiler.rs
Due: format, lint, update-index

perf(circular_analyzer): optimize SCC containment check with HashSet
  crates/cribo/src/analysis/circular_analyzer.rs
Due: format, lint, update-index

fix(compiler): remove hardcoded Python version and use config
  crates/cribo/src/bundle_compiler/compiler.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

chore: remove mandatory scope
  .commitlintrc.yaml
  .gitignore
Due: dprint, yamllint

chore(ai): add gemini config
  .gemini/settings.json
Due: dprint

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
