Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

refactor: complete init function decomposition with statement processing phase
  crates/cribo/src/code_generator/init_function/README.md
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/init_function/orchestrator.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
Due: format, markdownlint, dprint, lint, update-index

chore: cleanup
  analyze_functions.py
  clippy_count.txt
  clippy_pedantic_full.txt
  clippy_pedantic_output.txt
Due: dprint

refactor: complete init function decomposition - 100% done
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/init_function/finalization.rs
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

chore: remove all temporary allow(dead_code) attributes
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/cleanup.rs
  crates/cribo/src/code_generator/init_function/finalization.rs
  crates/cribo/src/code_generator/init_function/import_analysis.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/init_function/state.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
  crates/cribo/src/code_generator/init_function/submodules.rs
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
  crates/cribo/src/code_generator/init_function/wrapper_globals.rs
  crates/cribo/src/code_generator/init_function/wrapper_symbols.rs
Due: format, lint, update-index

chore: format imports in module_transformer after function deletion
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

docs: update orchestrator status - bug fixed, production ready
  crates/cribo/src/code_generator/init_function/orchestrator.rs
Due: format, lint, update-index

refactor: reduce StatementProcessingPhase arguments from 8 to 4
  crates/cribo/src/code_generator/init_function/orchestrator.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
Due: format, lint, update-index

chore: remove unnecessary allow(unused_imports) from finalization
  crates/cribo/src/code_generator/init_function/finalization.rs
Due: format, lint, update-index

chore: remove all remaining unused_imports allowances
  crates/cribo/src/code_generator/init_function/import_analysis.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: format, markdownlint, dprint, lint, update-index

chore: remove accidentally committed file
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

refactor: remove unused fields from InitFunctionState
  crates/cribo/src/code_generator/init_function/state.rs
Due: format, lint, update-index

refactor: centralize SELF_PARAM constant in module_transformer
  crates/cribo/src/code_generator/init_function/finalization.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

docs: remove stale documents
  crates/cribo/src/code_generator/init_function/NEXT_STEPS.md
  crates/cribo/src/code_generator/init_function/README.md
Due: markdownlint, dprint

fix: build proper AST nodes for wildcard import value expressions
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
Due: format, lint, update-index

docs: update submodules.rs to remove deferred imports references
  crates/cribo/src/code_generator/init_function/submodules.rs
Due: format, lint, update-index

docs: remove brittle line number reference from comment
  crates/cribo/src/code_generator/init_function/import_analysis.rs
Due: format, lint, update-index

docs: clarify that globals are only added for bare/non-inlined symbols
  crates/cribo/src/code_generator/init_function/import_transformation.rs
Due: format, lint, update-index

refactor: narrow phase visibility to crate-private
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/cleanup.rs
  crates/cribo/src/code_generator/init_function/finalization.rs
  crates/cribo/src/code_generator/init_function/import_analysis.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
  crates/cribo/src/code_generator/init_function/submodules.rs
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
  crates/cribo/src/code_generator/init_function/wrapper_globals.rs
  crates/cribo/src/code_generator/init_function/wrapper_symbols.rs
Due: format, lint, update-index

chore: remove unused TransformError variants
  crates/cribo/src/code_generator/init_function/mod.rs
Due: format, lint, update-index

fix: sonar config
  .github/workflows/lint.yml
  sonar-project.properties
Due: dprint, yamllint, actionlint

refactor: use ast_builder helper for global statement
  crates/cribo/src/code_generator/init_function/import_transformation.rs
Due: format, lint, update-index

refactor: make all phase execute methods crate-private
  crates/cribo/src/code_generator/init_function/cleanup.rs
  crates/cribo/src/code_generator/init_function/finalization.rs
  crates/cribo/src/code_generator/init_function/import_analysis.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
  crates/cribo/src/code_generator/init_function/submodules.rs
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
  crates/cribo/src/code_generator/init_function/wrapper_globals.rs
  crates/cribo/src/code_generator/init_function/wrapper_symbols.rs
Due: format, lint, update-index

Refactor: Decompose transform_module_to_init_function into 12 testable phases (#394)
  .github/workflows/lint.yml
  .mailmap
  .vscode/settings.json
  README.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/init_function/body_preparation.rs
  crates/cribo/src/code_generator/init_function/cleanup.rs
  crates/cribo/src/code_generator/init_function/finalization.rs
  crates/cribo/src/code_generator/init_function/import_analysis.rs
  crates/cribo/src/code_generator/init_function/import_transformation.rs
  crates/cribo/src/code_generator/init_function/initialization.rs
  crates/cribo/src/code_generator/init_function/mod.rs
  crates/cribo/src/code_generator/init_function/orchestrator.rs
  crates/cribo/src/code_generator/init_function/state.rs
  crates/cribo/src/code_generator/init_function/statement_processing.rs
  crates/cribo/src/code_generator/init_function/submodules.rs
  crates/cribo/src/code_generator/init_function/wildcard_imports.rs
  crates/cribo/src/code_generator/init_function/wrapper_globals.rs
  crates/cribo/src/code_generator/init_function/wrapper_symbols.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/config.rs
  crates/cribo/src/orchestrator.rs
  docs/proposals/refactor-transform-module-to-init-function.md
  ecosystem/scenarios/test_httpx.py
  ecosystem/scenarios/test_idna.py
  sonar-project.properties
Due: format, markdownlint, dprint, lint, yamllint, update-index, actionlint, ruff-format

refactor: add phase result types for bundle_modules decomposition (phase 1)
  crates/cribo/src/code_generator/context.rs
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: format, markdownlint, dprint, lint, update-index

docs: mark phase 1 as completed in refactoring proposal
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

refactor: add InitializationPhase for bundle_modules decomposition (phase 2)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/code_generator/phases/initialization.rs
  crates/cribo/src/code_generator/phases/mod.rs
Due: format, lint, update-index

docs: mark phase 2 as completed in refactoring proposal
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

refactor: add ClassificationPhase for bundle_modules decomposition (phase 3)
  crates/cribo/src/code_generator/phases/classification.rs
  crates/cribo/src/code_generator/phases/mod.rs
Due: format, lint, update-index

docs: mark phase 3 as completed in refactoring proposal
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

refactor: add ProcessingPhase for bundle_modules decomposition (phase 4)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/phases/mod.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

docs: mark phase 4 as completed in refactoring proposal
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

refactor: add EntryModulePhase for bundle_modules decomposition (phase 5)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/mod.rs
Due: format, lint, update-index

docs: mark phase 5 as completed in refactoring proposal
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

refactor: add PostProcessingPhase for bundle_modules decomposition (phase 6)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/phases/mod.rs
  crates/cribo/src/code_generator/phases/post_processing.rs
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

docs: mark phase 6 as completed in refactoring proposal
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

refactor: add BundleOrchestrator for bundle_modules decomposition (phase 7)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/phases/entry_module.rs
  crates/cribo/src/code_generator/phases/mod.rs
  crates/cribo/src/code_generator/phases/orchestrator.rs
Due: format, lint, update-index

docs: mark phase 7 as completed in refactoring proposal
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

docs: complete phase 8 with implementation results summary
  docs/proposals/refactor-bundle-modules-decomposition.md
Due: markdownlint, dprint

fix: pass symbol_renames mutably to preserve rename mutations
  crates/cribo/src/code_generator/phases/processing.rs
Due: format, lint, update-index

docs: add borrow checker question for original architect
  docs/proposals/refactor-bundle-modules-borrow-checker-question.md
Due: markdownlint, dprint
