Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

fix: empty output of rust-code-analysis
  .github/workflows/lint.yml
Due: dprint, yamllint

fix: too long body in the comment
  .github/workflows/lint.yml
Due: dprint, yamllint

fix: rust-code-analysis
  .github/workflows/lint.yml
Due: dprint, yamllint

fix: remove .json suffix
  .github/workflows/lint.yml
Due: dprint, yamllint

chore: update previous comment
  .github/workflows/lint.yml
Due: dprint, yamllint

feat(ci): add valgrind test
  .github/workflows/lint.yml
Due: dprint, yamllint

fix: rust-code-analysis run error
  .github/workflows/lint.yml
Due: dprint, yamllint

feat: implement AST visitor pattern for comprehensive import discovery
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/mod.rs
  docs/ast-visitor-system-design.md
Due: format, dprint, lint, update-index

fix(ci): remove RUSTFLAGS for sonar
  .github/workflows/lint.yml
Due: dprint, yamllint

chore(ci): improve sort and loose version
  .github/workflows/lint.yml
Due: dprint, yamllint

fix(ci): correct fixture name
  .github/workflows/lint.yml
Due: dprint, yamllint

fix: resolve relative import submodule detection and namespace module creation
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
Due: format, lint, update-index

chore(ci): separate valgrind
  .github/workflows/lint.yml
  .github/workflows/valgrind.yml
Due: dprint, yamllint

chore(ci): fix valgrind log
  .github/workflows/valgrind.yml
Due: dprint, yamllint

fix(bundler): eliminate duplicate module assignments in generated code
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_implicit_init_import.snap
Due: format, lint, update-index

chore(ci): always upload log
  .github/workflows/valgrind.yml
Due: dprint, yamllint

fix(bundler): handle dotted module names in assignments to avoid invalid Python syntax
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

chore(ci): cache valgrind
  .github/workflows/valgrind.yml
Due: dprint, yamllint

fix(parser): correct import location classification for nested functions
  crates/cribo/src/visitors/import_discovery.rs
Due: format, lint, update-index

refactor(bundler): optimize import collection to O(n) complexity
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

chore: remove unreferenced snapshots for xfail test cases
  crates/cribo/tests/snapshots/bundled_code@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/execution_results@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_three_module_cycle.snap
Due: none

fix(ci): add valgrind suppressions for env_logger false positives
  .github/workflows/valgrind.yml
  valgrind.supp
Due: dprint, yamllint

fix(ci): update valgrind suppressions with correct stack traces
  valgrind.supp
Due: none

chore(ci): disable valgrind exit code for now
  .github/workflows/valgrind.yml
Due: dprint, yamllint

chore(ci): --gen-suppressions=all
  .github/workflows/valgrind.yml
Due: dprint, yamllint

chore: adjust valgrind.supp path
  .github/workflows/valgrind.yml
Due: dprint, yamllint

chore(ci): verbose valgrind
  .github/workflows/valgrind.yml
Due: dprint, yamllint

chore(ci): definite valgrind
  .github/workflows/valgrind.yml
Due: dprint, yamllint

chore(ci): ignore valgrind
  .github/workflows/valgrind.yml
Due: dprint, yamllint

feat: implement AST visitor pattern for comprehensive import discovery (#130)
  .github/workflows/lint.yml
  .github/workflows/valgrind.yml
  crates/cribo/src/code_generator.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/execution_results@xfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_three_module_cycle.snap
  docs/ast-visitor-system-design.md
  valgrind.supp
Due: format, dprint, lint, yamllint, update-index

chore(main): release 0.4.29
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.29 (#129)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

feat(ci): flamegraph
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  crates/cribo/Cargo.toml
  crates/cribo/src/main.rs
Due: format, dprint, lint, taplo, yamllint, update-index

feat(ci): flamegraph 1
  .github/workflows/lint.yml
  crates/cribo/src/main.rs
Due: format, dprint, lint, yamllint, update-index

chore(ci): show only changes files in rust analyzer
  .github/workflows/lint.yml
Due: dprint, yamllint

feat(ci): only show rust analyzer for changed files
  .github/workflows/lint.yml
  crates/cribo/src/main.rs
Due: format, dprint, lint, yamllint, update-index

feat(ci): only show rust analyzer for changed files (#132)
  .github/workflows/lint.yml
  crates/cribo/src/main.rs
Due: format, dprint, lint, yamllint, update-index

chore(main): release 0.4.30
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint
