Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

refactor: remove redundant namespace creation check
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: add namespace_is_created helper method to reduce duplication
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: move namespace_is_created helper to namespace_manager module
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: remove redundant is_created assignment in bundler
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: improve namespace existence checks and stdlib import handling
  crates/cribo/src/code_generator/namespace_manager.rs
  docs/namespaces-central-registry-next.md
Due: format, markdownlint, dprint, lint, update-index

refactor: simplify namespace attribute assignment using bundler helper
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

fix: resolve type mismatch in namespace attribute name extraction
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: use let-else pattern instead of manual match
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/types.rs
Due: format, lint, update-index

refactor: use map_or_else instead of map().unwrap_or_else()
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: remove underscore prefix from used global_info parameter
  crates/cribo/src/code_generator/expression_handlers.rs
Due: format, lint, update-index

fix: pass SelfReferentialAssignmentCheck by reference
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: use let-else pattern for current_dir in resolver
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: remove redundant continue expressions
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index

fix: base branch bench missed feature
  .github/workflows/base_benchmarks.yml
Due: dprint, yamllint, actionlint

chore: try npm trusted publish
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore(main): release 0.5.10
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

Refactor/centralized namespace management (#265)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/types.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  docs/namespaces-central-registry-next.md
Due: format, markdownlint, dprint, lint, update-index

chore(main): release 0.5.10 (#259)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

feat: use taplo and stable rust
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: force rustup override
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: switch to stable rust
  .github/workflows/release.yml
  rust-toolchain.toml
Due: dprint, yamllint, actionlint

chore: install more tools
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: consolidate uv install
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: install python deps
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore: test with insta and nextest
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
