Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

fix: preserve symbols accessed dynamically via locals/globals with __all__ (#317)
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/main.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/__init__.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/_client.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/_main.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/_models.py
  crates/cribo/tests/fixtures/module_setattr_with_circular_deps/pkg/_types.py
  crates/cribo/tests/snapshots/bundled_code@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/execution_results@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/requirements@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/ruff_lint_results@module_setattr_with_circular_deps.snap
Due: format, dprint, lint, update-index, ruff-format

fix: add module namespace assignments for wildcard imports in wrapper inits
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

test: httpx enable loading test
  ecosystem/scenarios/test_httpx.py
Due: dprint, ruff-format

test: add xfail for pyyaml
  ecosystem/scenarios/test_pyyaml.py
Due: dprint, ruff-format

fix: use __init__ as module name for package entry points to avoid wrapper conflicts
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
  ecosystem/scenarios/utils.py
Due: format, dprint, lint, update-index, ruff-format

test: remove xfail marks from passing requests ecosystem tests
  ecosystem/scenarios/test_requests.py
Due: dprint, ruff-format

fix: expose child modules at module level for importlib compatibility
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: remove problematic namespace population before parent init
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@circular_dep_with_version_module.snap
Due: format, lint, update-index

fix: add module namespace assignments for wildcard imports in wrapper inits (#318)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/orchestrator.rs
  ecosystem/scenarios/test_httpx.py
  ecosystem/scenarios/test_pyyaml.py
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/utils.py
Due: format, dprint, lint, update-index, ruff-format

ci: make commit scope optional
  .commitlintrc.yaml
Due: dprint, yamllint

chore: validate commitlint config
  lefthook.yml
Due: dprint, yamllint

fix: handle identifier
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: consistent usage
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

refactor: remove unnecessary Result wrapping from functions
  crates/cribo/benches/bundling.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

chore: fmt
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: update stale comment about functools import
  crates/cribo/src/code_generator/bundler.rs
  ecosystem/scenarios/test_httpx.py
Due: format, dprint, lint, update-index, ruff-format

fix: remove unused directly_imported_modules variable in tree_shaking
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

fix: change inline_module to return unit type instead of empty Vec
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

fix: only track root module as variable for dotted imports
  crates/cribo/src/graph_builder.rs
Due: format, lint, update-index

fix: remove unused resolved_paths variable in resolver
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix: critical import rewriter issues
  crates/cribo/src/import_rewriter.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
Due: format, lint, update-index

refactor: use ast_builder for import statement creation
  crates/cribo/src/import_rewriter.rs
Due: format, lint, update-index

refactor: remove unnecessary Result wrapping from functions (#322)
  crates/cribo/benches/bundling.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  ecosystem/scenarios/test_httpx.py
Due: format, dprint, lint, update-index, ruff-format

chore: add @mizchi/lsmcp
  .gitignore
  .mcp.json
Due: dprint

fix: properly transform ALL stdlib imports including aliased ones
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

docs: system design
  docs/proposals/stdlib-normalization-unconflicting.md
Due: markdownlint, dprint

fix: correct stdlib normalization issues and namespace generation
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

fix: preserve stdlib imports in wrapper modules to maintain public API
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
Due: format, lint, update-index

fix: preserve stdlib imports in wrapper modules and use config python version
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/side_effects.rs
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index
