Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

fix(bundler): handle re-exports in __init__.py when name conflicts with submodule
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

fix(bundler): handle re-exports in __init__.py when name conflicts with submodule
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix(bundler): detect function-scoped imports to prevent incorrect inlining
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_simple_test.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

fix(bundler): handle imports in try blocks and fix pyfail test framework
  crates/cribo/src/code_generator.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(bundler): revert import reordering and update test expectations
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_simple_test.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_three_module_cycle.snap
Due: format, lint, update-index

chore: just two failing tests left
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_simple_test.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_module_with_triple_quotes.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: none

test: add fixture for function-level module imports
  crates/cribo/tests/fixtures/function_level_module_import/main.py
  crates/cribo/tests/fixtures/function_level_module_import/utils/__init__.py
  crates/cribo/tests/fixtures/function_level_module_import/utils/calculator.py
Due: dprint

docs: add comprehensive analysis of module import regressions
  MODULE_IMPORT_REGRESSION_ANALYSIS.md
Due: markdownlint, dprint

docs: update analysis with dependency graph investigation results
  MODULE_IMPORT_REGRESSION_ANALYSIS.md
Due: markdownlint, dprint

docs: add semantic analysis investigation to module import regression analysis
  MODULE_IMPORT_REGRESSION_ANALYSIS.md
Due: markdownlint, dprint

docs: add comprehensive investigation insights to module import regression analysis
  MODULE_IMPORT_REGRESSION_ANALYSIS.md
Due: markdownlint, dprint

docs: correct MODULE_IMPORT_REGRESSION_ANALYSIS after test framework investigation
  MODULE_IMPORT_REGRESSION_ANALYSIS.md
Due: markdownlint, dprint

test: demonstrate module import failure with relative imports
  crates/cribo/tests/fixtures/stickytape_script_using_from_to_import_module/greetings/config.py
  crates/cribo/tests/fixtures/stickytape_script_using_from_to_import_module/greetings/greeting.py
  crates/cribo/tests/fixtures/stickytape_script_using_from_to_import_module/main.py
Due: dprint

docs: add critical regression context and semantic analysis guidance
  crates/cribo/tests/fixtures/IMPORT_PATTERNS_SUMMARY.md
Due: markdownlint, dprint

fix(bundler): prevent module inlining for namespace imports and set parent attributes
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_script_using_from_to_import_module.snap
Due: format, lint, update-index

docs(ai): prioritize project goals
  CLAUDE.md
Due: markdownlint, dprint

fix(bundler): gatekeep module wrapping complexity to circular dependencies only
  CIRCULAR_DEPENDENCY_ORDERING_FIX.md
  INLINING_EXPLANATION.md
  NAMESPACE_IMPORT_REGRESSION_ANALYSIS.md
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/fixtures/o4-IMPORT_PATTERNS_SUMMARY.md
  crates/cribo/tests/fixtures/stickytape_script_with_dynamic_import/greeting.py
  crates/cribo/tests/fixtures/stickytape_script_with_dynamic_import/main.py
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_function_level_module_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_namespace_simple_test.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@xfail_function_level_module_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_namespace_simple_test.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/requirements@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/requirements@xfail_function_level_module_import.snap
  crates/cribo/tests/snapshots/requirements@xfail_namespace_simple_test.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_function_level_module_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_namespace_simple_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, markdownlint, dprint, lint, update-index

feat(bundler): implement fully static bundler with recursive import transformation
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@function_level_module_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/execution_results@function_level_module_import.snap
  crates/cribo/tests/snapshots/requirements@function_level_module_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@alias_transformation_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/ruff_lint_results@function_level_module_import.snap
Due: format, lint, update-index

feat(bundler): implement direct reference rewriting for module imports
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_variable_name_collision.snap
Due: format, lint, update-index

chore: allow deeper nesting in clippy
  .clippy.toml
Due: dprint

chore: checkpoint
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_module_globals.snap
  crates/cribo/tests/snapshots/bundled_code@function_level_module_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@fstring_module_globals.snap
Due: format, lint, update-index

chore: checkpoint
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_module_globals.snap
  crates/cribo/tests/snapshots/bundled_code@function_level_module_import.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_simple_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@alias_transformation_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@fstring_module_globals.snap
  crates/cribo/tests/snapshots/ruff_lint_results@init_reexports.snap
Due: format, lint, update-index

fix(bundler): populate namespace objects with exported symbols instead of __all__
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: none

fix(bundler): correctly handle package __init__.py re-exports
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot/greetings/__init__.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot/greetings/greeting.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot/greetings/messages.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot/main.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot_in_init/greetings/__init__.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot_in_init/greetings/greeting.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import_single_dot_in_init/main.py
  crates/cribo/tests/fixtures/stickytape_imports_in_imported_modules/greetings/__init__.py
  crates/cribo/tests/fixtures/stickytape_imports_in_imported_modules/greetings/english.py
  crates/cribo/tests/fixtures/stickytape_imports_in_imported_modules/main.py
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/requirements@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/requirements@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/requirements@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, dprint, lint, update-index

test: update CLI stdout snapshots after bundler fixes
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: none

chore: remove unreferenced snapshots
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/requirements@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_script_using_module_in_package.snap
Due: none

fix(bundler): avoid unnecessary types import for empty circular modules
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@pandera-polars.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_circular_reference.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pandera-polars.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_circular_reference.snap
Due: format, lint, update-index

fix(bundler): remove duplicate module assignments for entry module imports
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
Due: format, lint, update-index

test: add duplicates detection
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(bundler): fix duplicate dotted module assignments
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

test: skip duplicate line checks for xfail and pyfail tests
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

chore: simple handler fixture
  crates/cribo/tests/fixtures/simple_nested_handler/boo.py
  crates/cribo/tests/fixtures/simple_nested_handler/foo.py
  crates/cribo/tests/fixtures/simple_nested_handler/main.py
Due: dprint

fix: simple nested handler fixture
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@simple_nested_handler.snap
  crates/cribo/tests/snapshots/execution_results@simple_nested_handler.snap
  crates/cribo/tests/snapshots/requirements@simple_nested_handler.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_nested_handler.snap
Due: format, lint, update-index

fix: pass pydantic test
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix: pydantic project duplications
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/pydantic_project/main.py
  crates/cribo/tests/fixtures/pydantic_project/schemas/__init__.py
  crates/cribo/tests/fixtures/pydantic_project/schemas/user.py
  crates/cribo/tests/fixtures/pydantic_project/utils/__init__.py
  crates/cribo/tests/fixtures/pydantic_project/utils/validation.py
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@pydantic_project.snap
  crates/cribo/tests/snapshots/execution_results@xfail_pydantic_project.snap
  crates/cribo/tests/snapshots/requirements@pydantic_project.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pydantic_project.snap
Due: format, dprint, lint, update-index

test: simple two dots
  crates/cribo/tests/fixtures/simple_two_dots/foo/__init__.py
  crates/cribo/tests/fixtures/simple_two_dots/foo/boo/__init__.py
  crates/cribo/tests/fixtures/simple_two_dots/foo/boo/__main__.py
  crates/cribo/tests/fixtures/simple_two_dots/foo/zoo.py
  crates/cribo/tests/fixtures/simple_two_dots/main.py
  crates/cribo/tests/snapshots/bundled_code@simple_two_dots.snap
  crates/cribo/tests/snapshots/execution_results@simple_two_dots.snap
  crates/cribo/tests/snapshots/requirements@simple_two_dots.snap
  crates/cribo/tests/snapshots/ruff_lint_results@simple_two_dots.snap
Due: dprint

feat: no redundant pre-declarations
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@simple_two_dots.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
Due: format, lint, update-index

chore: fix lint warnings
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
