Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

docs: clarify log message for wildcard import statements
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

style: standardize logging macro usage in namespace_manager.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

style: standardize debug message format in namespace_manager
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

fix: correctly reference symbols from wrapper modules in namespace assignments (#298)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/code_generator/symbol_source.rs
  crates/cribo/tests/fixtures/metaclass_forward_ref_init/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init/yaml_pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init/yaml_pkg/base.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init/yaml_pkg/meta.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init_alias/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init_alias/yaml_pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init_alias/yaml_pkg/base.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_init_alias/yaml_pkg/meta.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_wildcard/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_wildcard/wildcard_pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_wildcard/wildcard_pkg/base.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_wildcard/wildcard_pkg/meta.py
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_wildcard.snap
Due: format, dprint, lint, update-index, ruff-format

chore(main): release 0.5.15
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.15 (#293)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: resolve UnboundLocalError in wrapper modules with wildcard imports
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/metaclass_with_wildcard_imports/main.py
  crates/cribo/tests/fixtures/metaclass_with_wildcard_imports/yaml_pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_with_wildcard_imports/yaml_pkg/dumper.py
  crates/cribo/tests/fixtures/metaclass_with_wildcard_imports/yaml_pkg/loader.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/requirements@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_with_wildcard_imports.snap
Due: format, dprint, lint, update-index, ruff-format

chore: update snapshot
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
Due: none

fix: use assign_attribute for __module__ assignment to generate valid AST
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: improve wildcard import handling with semantic exports fallback
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: extract wildcard import processing to reduce nesting
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: properly track both wildcard and explicit imports in wrapper modules
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@wrapper_module_builtin_types.snap
Due: format, lint, update-index

chore: add PR number
  CLAUDE.md
Due: markdownlint, dprint

Fix UnboundLocalError in wrapper modules with wildcard imports (#300)
  CLAUDE.md
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/metaclass_with_wildcard_imports/main.py
  crates/cribo/tests/fixtures/metaclass_with_wildcard_imports/yaml_pkg/__init__.py
  crates/cribo/tests/fixtures/metaclass_with_wildcard_imports/yaml_pkg/dumper.py
  crates/cribo/tests/fixtures/metaclass_with_wildcard_imports/yaml_pkg/loader.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_wildcard.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_ordering_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_renamed_forward_ref.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/requirements@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_with_wildcard_imports.snap
Due: format, markdownlint, dprint, lint, update-index, ruff-format

fix: preserve aliased imports accessed via module attributes during tree-shaking
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/loader.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/other.py
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_renamed.snap
Due: format, dprint, lint, update-index, ruff-format

chore: update snapshot
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
Due: none

fix: also check original imported name for tree-shaking preservation
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
Due: format, lint, update-index

fix: preserve aliased imports accessed via module attributes during tree-shaking (#301)
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/main.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/__init__.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/loader.py
  crates/cribo/tests/fixtures/metaclass_forward_ref_renamed/yaml_module/other.py
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/bundled_code@module_attribute_fstring.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/requirements@metaclass_forward_ref_renamed.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_forward_ref_renamed.snap
Due: format, dprint, lint, update-index, ruff-format

fix: properly handle wildcard imports with __all__ in tree-shaking
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/main.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/__init__.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/dumper.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/loader.py
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/requirements@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_metaclass_ordering.snap
Due: format, dprint, lint, update-index, ruff-format

fix: prevent code generator from referencing tree-shaken symbols
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/main.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/__init__.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/dumper.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/loader.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/bundled_code@wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/requirements@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_metaclass_ordering.snap
Due: format, dprint, lint, update-index, ruff-format

fix: improve handling of tree-shaking with wildcard imports and __all__ exports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_attribute_import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_forward_ref_init_alias.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_with_wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@submodule_imports_parent_function.snap
  crates/cribo/tests/snapshots/bundled_code@tree_shake_side_effect_import.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/bundled_code@wrapper_module_builtin_types.snap
Due: format, lint, update-index

chore: update pr reply instruction
  CLAUDE.md
Due: markdownlint, dprint

perf: optimize tree-shaking symbol filtering with HashSet lookup
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: properly handle tree-shaking for symbols in __all__
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
Due: format, lint, update-index

perf: cache all kept symbols globally for O(1) lookup
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: simplify __all__ export logic for better readability
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

perf: reuse pre-computed global cache in module_transformer
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: only log global declaration when actually emitting one
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

perf: pre-reserve capacity for global symbol cache
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: format
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: prevent code generator from referencing tree-shaken symbols (#305)
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/main.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/__init__.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/dumper.py
  crates/cribo/tests/fixtures/wildcard_metaclass_ordering/yaml_module/loader.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/execution_results@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/requirements@wildcard_metaclass_ordering.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wildcard_metaclass_ordering.snap
Due: format, markdownlint, dprint, lint, update-index, ruff-format

chore(main): release 0.5.16
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.16 (#302)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

feat: add httpx to ecosystem tests and type_checking_imports fixture
  .gitmodules
  crates/cribo/tests/fixtures/type_checking_imports/README.md
  crates/cribo/tests/fixtures/type_checking_imports/advanced.py
  crates/cribo/tests/fixtures/type_checking_imports/main.py
  crates/cribo/tests/fixtures/type_checking_imports/module_a.py
  crates/cribo/tests/fixtures/type_checking_imports/module_b.py
  crates/cribo/tests/fixtures/type_checking_imports/module_c.py
  ecosystem/scenarios/test_httpx.py
Due: markdownlint, dprint, ruff-format
