Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

refactor: use find iterator method for more idiomatic code
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: remove unused _module_context parameter
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore: mark is_package_init_reexport also
  crates/cribo/src/code_generator/further-split-misses.md
Due: markdownlint, dprint

refactor: remove unused _symbol_name parameter from is_package_init_reexport
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: use iterator's any method for cleaner code
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: eliminate handle_imports_from_inlined_module wrapper method (#233)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/main.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/__init__.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/__version__.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/_internal_utils.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/certs.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/compat.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/models.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/sessions.py
  crates/cribo/tests/fixtures/xfail_wrapper_module_builtin_types/pkg/utils.py
  crates/cribo/tests/snapshots/bundled_code@xfail_wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@xfail_wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/requirements@xfail_wrapper_module_builtin_types.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_wrapper_module_builtin_types.snap
Due: format, markdownlint, dprint, lint, update-index, ruff-format

chore: xfail fixture
  crates/cribo/tests/snapshots/bundled_code@xfail_wrapper_module_builtin_types.snap
Due: none

chore: update snapshot
  crates/cribo/tests/snapshots/bundled_code@xfail_wrapper_module_builtin_types.snap
Due: none

chore: document moved fn
  crates/cribo/src/code_generator/further-split-misses.md
Due: markdownlint, dprint

refactor: move collect_imports_from_module to import_deduplicator
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

docs: mark moved functions
  crates/cribo/src/code_generator/further-split-misses.md
Due: markdownlint, dprint

docs: actalize tocken count
  CLAUDE.md
Due: markdownlint, dprint

fix: prevent duplicate stdlib imports and avoid variable shadowing
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

refactor: remove unused _module_path parameter
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

refactor: improve readability by reducing nesting and using modern Rust idioms
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

fix: remove redundant debug log to reduce output clutter
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: move collect_imports_from_module to import_deduplicator (#234)
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: rename HybridStaticBundler to Bundler
  crates/cribo/src/ast_builder/misses.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/further-split-implementation.md
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
  docs/bundling-architecture-phases.md
  docs/file-deduplication-implementation-proposal.md
  docs/implementation_plan.md
  docs/wrapper_module_fix_implementation_plan.md
Due: format, markdownlint, dprint, lint, update-index

refactor: consolidate import handling and fix importlib removal
  crates/cribo/src/ast_builder/misses.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static_renaming.snap
Due: format, markdownlint, dprint, lint, update-index

fix: correct importlib removal logic as per review comment
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/tests/snapshots/bundled_code@importlib_static_renaming.snap
Due: format, lint, update-index

fix: acknowledge import removal logic issue
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

fix: revert importlib skipping logic changes
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

refactor: consolidate import handling and fix importlib removal (#235)
  crates/cribo/src/ast_builder/misses.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/further-split-implementation.md
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  docs/bundling-architecture-phases.md
  docs/file-deduplication-implementation-proposal.md
  docs/implementation_plan.md
  docs/wrapper_module_fix_implementation_plan.md
Due: format, markdownlint, dprint, lint, update-index

refactor: fix import deduplication by moving duplicate checking logic
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

fix: address PR review comments
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

refactor: fix import deduplication by moving duplicate checking logic (#236)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
Due: format, lint, update-index

docs: update token count
  CLAUDE.md
Due: markdownlint, dprint

refactor: consolidate filter_exports_by_tree_shaking functions
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

perf: optimize tree-shaking lookups by changing data structure
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

docs: update kept_symbols parameter documentation
  crates/cribo/src/analyzers/symbol_analyzer.rs
Due: format, lint, update-index

refactor: simplify logging logic in filter_exports_by_tree_shaking
  crates/cribo/src/analyzers/symbol_analyzer.rs
Due: format, lint, update-index

refactor: consolidate filter_exports_by_tree_shaking functions (#237)
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/tree_shaking.rs
Due: format, markdownlint, dprint, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
