Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

perf(module_transformer): lift constant params out of loop
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor(bundler): move resolve_relative_import_with_context to import_transformer (#210)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

refactor(visitors): eliminate code duplication in export extraction
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/visitors/export_collector.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/symbol_collector.rs
  crates/cribo/src/visitors/utils.rs
Due: format, markdownlint, dprint, lint, update-index

fix(bundler): address PR comment - create utility for collecting top-level symbols
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/utils.rs
Due: format, lint, update-index

refactor(bundler): use SymbolCollector to exclude imports when no __all__
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/visitors/mod.rs
Due: format, lint, update-index

style(visitors): use pattern matching directly in if-let expressions
  crates/cribo/src/visitors/utils.rs
Due: format, lint, update-index

refactor(visitors): remove unused extract_string_from_expr function
  crates/cribo/src/visitors/utils.rs
Due: format, lint, update-index

refactor(visitors): remove unused collect_all_top_level_symbols function
  crates/cribo/src/visitors/utils.rs
Due: format, lint, update-index

refactor(utils): use functional style with iterators for extract_strings_from_elements
  crates/cribo/src/visitors/utils.rs
Due: format, lint, update-index

refactor(visitors): eliminate code duplication in export extraction (#211)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/visitors/export_collector.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/symbol_collector.rs
  crates/cribo/src/visitors/utils.rs
Due: format, markdownlint, dprint, lint, update-index

fix(bundler): prevent transformation of Python builtins to module attributes
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/fixtures/builtin_types/compat_module.py
  crates/cribo/tests/fixtures/builtin_types/main.py
  crates/cribo/tests/snapshots/bundled_code@builtin_types.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_builtin_types_in_module_with_side_effects.snap
  crates/cribo/tests/snapshots/execution_results@builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@xfail_builtin_types_in_module_with_side_effects.snap
  crates/cribo/tests/snapshots/requirements@builtin_types.snap
  crates/cribo/tests/snapshots/requirements@xfail_builtin_types_in_module_with_side_effects.snap
  crates/cribo/tests/snapshots/ruff_lint_results@builtin_types.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_builtin_types_in_module_with_side_effects.snap
Due: format, dprint, lint, update-index, ruff-format

chore: delete unreferenced snapshots
  crates/cribo/tests/snapshots/bundled_code@xfail_builtin_types_in_module_with_side_effects.snap
  crates/cribo/tests/snapshots/execution_results@xfail_builtin_types_in_module_with_side_effects.snap
  crates/cribo/tests/snapshots/requirements@xfail_builtin_types_in_module_with_side_effects.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_builtin_types_in_module_with_side_effects.snap
Due: none

chore: fix dprint config
  .dprint.jsonc
Due: dprint

refactor(bundler): avoid mutating HybridStaticBundler state
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@builtin_types.snap
Due: format, lint, update-index

fix(bundler): prevent transformation of Python builtins to module attributes (#212)
  .dprint.jsonc
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/fixtures/builtin_types/compat_module.py
  crates/cribo/tests/fixtures/builtin_types/main.py
  crates/cribo/tests/snapshots/bundled_code@builtin_types.snap
  crates/cribo/tests/snapshots/execution_results@builtin_types.snap
  crates/cribo/tests/snapshots/requirements@builtin_types.snap
  crates/cribo/tests/snapshots/ruff_lint_results@builtin_types.snap
Due: format, dprint, lint, update-index, ruff-format

chore: remove duplicated entry
  .dprint.jsonc
Due: dprint

fix(bundler): handle __version__ export and eliminate duplicate module assignments
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/cross_module_import_attribute/bundled.py
  crates/cribo/tests/fixtures/cross_module_import_attribute/main.py
  crates/cribo/tests/fixtures/cross_module_import_attribute/my_package/__init__.py
  crates/cribo/tests/fixtures/cross_module_import_attribute/my_package/__version__.py
  crates/cribo/tests/fixtures/cross_module_import_attribute/my_package/utils.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/execution_results@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/requirements@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_module_import_attribute.snap
  debug_export_check.py
  test_dunder_export.py
  test_version_bundled.py
  test_version_only.py
Due: format, dprint, lint, update-index, ruff-format

chore: remove temporary files
  test_dunder_export.py
  test_version_bundled.py
  test_version_only.py
Due: dprint

chore: remove fixture leftover
  crates/cribo/tests/fixtures/cross_module_import_attribute/bundled.py
  crates/cribo/tests/snapshots/bundled_code@cross_module_import_attribute.snap
Due: dprint, ruff-format

fix(bundler): properly handle all dunder attributes in symbol export
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(import_transformer): extract duplicated bundled submodule check logic
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

perf(import_transformer): reduce debug log verbosity for better performance
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix(bundler): handle __version__ export and eliminate duplicate module assignments (#213)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/cross_module_import_attribute/main.py
  crates/cribo/tests/fixtures/cross_module_import_attribute/my_package/__init__.py
  crates/cribo/tests/fixtures/cross_module_import_attribute/my_package/__version__.py
  crates/cribo/tests/fixtures/cross_module_import_attribute/my_package/utils.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/execution_results@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/requirements@cross_module_import_attribute.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_module_import_attribute.snap
  debug_export_check.py
Due: format, dprint, lint, update-index, ruff-format

fix(bundler): skip import assignments for tree-shaken symbols
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/version_import_complex/main.py
  crates/cribo/tests/fixtures/version_import_complex/mypackage/__init__.py
  crates/cribo/tests/fixtures/version_import_complex/mypackage/__version__.py
  crates/cribo/tests/fixtures/version_import_complex/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/execution_results@version_import_complex.snap
  crates/cribo/tests/snapshots/requirements@version_import_complex.snap
  crates/cribo/tests/snapshots/ruff_lint_results@version_import_complex.snap
Due: format, dprint, lint, update-index, ruff-format

refactor(bundler): improve readability of tree-shaking check
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix(bundler): skip import assignments for tree-shaken symbols (#214)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/version_import_complex/main.py
  crates/cribo/tests/fixtures/version_import_complex/mypackage/__init__.py
  crates/cribo/tests/fixtures/version_import_complex/mypackage/__version__.py
  crates/cribo/tests/fixtures/version_import_complex/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@version_import_complex.snap
  crates/cribo/tests/snapshots/execution_results@version_import_complex.snap
  crates/cribo/tests/snapshots/requirements@version_import_complex.snap
  crates/cribo/tests/snapshots/ruff_lint_results@version_import_complex.snap
Due: format, dprint, lint, update-index, ruff-format

fix(bundler): prevent duplicate namespace assignments when processing parent modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/execution_results@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/requirements@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/ruff_lint_results@version_import_with_init_functions.snap
Due: format, lint, update-index

chore: remove redundant mcp
  .mcp.json
  CLAUDE.md
Due: markdownlint, dprint

test: commit the fixture
  crates/cribo/tests/fixtures/version_import_with_init_functions/main.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/__init__.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/__version__.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/utils.py
Due: dprint, ruff-format

refactor(bundler): simplify __all__ assignment duplicate check pattern matching
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(bundler): simplify deduplication logic with slice patterns
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(bundler): optimize string allocations in deduplication
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(bundler): remove unnecessary clone in populate_namespace
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix(bundler): prevent duplicate namespace assignments when processing parent modules (#216)
  .mcp.json
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/version_import_with_init_functions/main.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/__init__.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/__version__.py
  crates/cribo/tests/fixtures/version_import_with_init_functions/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/execution_results@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/requirements@version_import_with_init_functions.snap
  crates/cribo/tests/snapshots/ruff_lint_results@version_import_with_init_functions.snap
Due: format, markdownlint, dprint, lint, update-index, ruff-format
