Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

refactor: filter circular modules upfront for clearer intent
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: ensure deterministic ordering for hard dependency assignments
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: clarify and simplify module cache settings (#339)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_requests_compat.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
Due: format, lint, update-index

test: new fixture
  crates/cribo/tests/fixtures/metaclass_entry_init/__init__.py
  crates/cribo/tests/fixtures/metaclass_entry_init/loader.py
  crates/cribo/tests/fixtures/metaclass_entry_simple/loader.py
  crates/cribo/tests/fixtures/metaclass_entry_simple/main.py
Due: dprint, ruff-format

fix: handle metaclass dependencies in class ordering
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: remove unnecessary statement reordering and self-referential wildcard imports
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewrite_parameter_shadow.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@early_module_reference.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_from_parent_init.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_module_globals.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static_renaming.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_entry_simple.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@module_setattr_with_circular_deps.snap
  crates/cribo/tests/snapshots/bundled_code@simple_project.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/bundled_code@test_all_exports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_all_setattr.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_imports.snap
  crates/cribo/tests/snapshots/bundled_code@wildcard_last_wins_simple.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_file_deduplication_symlinks.snap
  crates/cribo/tests/snapshots/execution_results@metaclass_entry_simple.snap
  crates/cribo/tests/snapshots/requirements@metaclass_entry_simple.snap
  crates/cribo/tests/snapshots/ruff_lint_results@metaclass_entry_simple.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

fix: eliminate self-referential assignments (X = X) in bundled output
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_from_parent_init.snap
Due: format, lint, update-index

fix: skip self-referential re-export assignments in bundler
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@metaclass_collision.snap
Due: format, lint, update-index

fix: remove unused code to resolve clippy warnings
  crates/cribo/src/analyzers/statement_categorizer.rs
Due: format, lint, update-index

feat: add Claude Code hook to prevent direct commits to main branch
  .claude-code/config.json
  .claude-code/hooks/prevent-main-commit.sh
Due: dprint

test: verify main branch commit prevention hook
  .claude-code/hooks/prevent-main-commit.sh
Due: none

refactor: migrate Claude Code hooks to .claude directory
  .claude-code/config.json
  .claude-code/hooks/prevent-main-commit.sh
  .claude/hooks/prevent-main-commit.sh
  .claude/settings.json
Due: dprint

chore: update Claude Code settings configuration
  .claude/settings.json
Due: dprint

chore: update Claude Code configuration and hooks
  .claude/hooks/prevent-main-commit.sh
  .claude/settings.json
Due: dprint

chore: add branch protection in VSCode
  .vscode/settings.json
Due: dprint

chore: formatting hook for python files
  .claude/hooks/format-python.sh
  .claude/settings.json
Due: dprint

chore(main): release 0.5.19
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore: works in min
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_loop_reference.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewrite_parameter_shadow.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

refactor: remove significant dead code from codebase
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/analyzers/forward_reference_analyzer.rs
  crates/cribo/src/analyzers/mod.rs
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/ast_builder/mod.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/circular_deps.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/types.rs
Due: format, lint, update-index

refactor: remove significant amount of dead code
  crates/cribo/src/ast_builder/module_wrapper.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
Due: format, lint, update-index

refactor: remove all safely removable dead code
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: remove unused NamespaceInfo fields
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: remove all remaining dead code identified by clippy
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/circular_deps.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: remove orphaned doc comments left from deleted functions
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/analyzers/module_classifier.rs
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/circular_deps.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index
