Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

fix: remove win32-ia32
  docs/cribo-npm-publishing-plan.md
  npm/README.md
  npm/cribo/package.json
  release-please-config.json
  scripts/generate-npm-packages.js
Due: dprint

fix: use curl to call OpenAI API
  .github/workflows/release-please.yml
Due: dprint, yamllint

chore(main): release 0.4.17
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.17 (#92)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

fix: adjust OpenAI API curling
  .github/workflows/release-please.yml
Due: dprint, yamllint

chore(main): release 0.4.18
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.18 (#94)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

fix: adjust OpenAI API curl
  .github/workflows/release-please.yml
Due: dprint, yamllint

chore(main): release 0.4.19
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.19 (#95)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore: set VIRTUAL_ENV in test and allow more nesting levels
  .clippy.toml
  crates/cribo/build.rs
Due: format, dprint, lint, update-index

chore(ai): add logging requirements to CLAUDE.md
  CLAUDE.md
Due: dprint

fix(ai): improve changelog prompt and use cheaper model
  .github/workflows/release-please.yml
Due: dprint, yamllint

refactor(emit): fix clippy warnings and improve code quality
  crates/cribo/debug_resolver.py
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/emit.rs
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_import_from_as_module.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__comprehensive_bundling_results.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_basic.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_multiple.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@simple_math.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__relative_import_cycles_bundled.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
  docs/codex-refactor-sd.md
  uv.lock
Due: format, dprint, lint, update-index

fix(emit): address PR review issues
  crates/cribo/src/emit.rs
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
Due: format, lint, update-index

chore: remove leftover debug_resolver.py debug script
  crates/cribo/debug_resolver.py
Due: dprint

refactor(emit): replace string parsing with robust AST parsing
  crates/cribo/src/emit.rs
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@init_reexports.snap
Due: format, lint, update-index

fix(bundler): resolve Python exec scoping and enable module import detection (#97)
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/src/emit.rs
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_import_from_as_module.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__bundled_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/stickytape_compatibility_tests__comprehensive_bundling_results.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_basic.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@future_imports_multiple.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@simple_math.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__package_level_cycles_bundled.snap
  crates/cribo/tests/snapshots/test_circular_dependencies__relative_import_cycles_bundled.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
  docs/codex-refactor-sd.md
  uv.lock
Due: format, dprint, lint, update-index

chore(main): release 0.4.20
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.20 (#96)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

Update renovate.json
  renovate.json
Due: dprint, renovate

Update renovate.json to track versions of ruff (#99)
  renovate.json
Due: dprint, renovate

test: migrate single_file stickytape test to bundling snapshots framework
  crates/cribo/tests/fixtures/bundling/stickytape_single_file/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_single_file.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_single_file.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_single_file.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate single_file_using_stdlib stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_single_file_using_stdlib/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_single_file_using_stdlib.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_single_file_using_stdlib.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_single_file_using_stdlib.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate script_with_single_local_import stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_single_local_import/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_single_local_import/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate script_with_single_local_from_import stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_single_local_from_import/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_single_local_from_import/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_script_with_single_local_from_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_script_with_single_local_from_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_script_with_single_local_from_import.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate script_using_module_in_package stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_module_in_package/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_module_in_package/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_script_using_module_in_package.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate script_with_single_local_import_of_package stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_single_local_import_of_package/greeting/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_single_local_import_of_package/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate script_using_from_to_import_module stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_from_to_import_module/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_from_to_import_module/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate script_using_from_to_import_multiple_values stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_from_to_import_multiple_values/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_from_to_import_multiple_values/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_script_using_from_to_import_multiple_values.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_script_using_from_to_import_multiple_values.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_script_using_from_to_import_multiple_values.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate import_from_as_value stickytape test to bundling snapshots
  .vscode/settings.json
  crates/cribo/tests/fixtures/bundling/stickytape_import_from_as_value/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_import_from_as_value/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_import_from_as_value.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_import_from_as_value.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_import_from_as_value.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate import_from_as_module stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_import_from_as_module/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_import_from_as_module/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_import_from_as_module/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_import_from_as_module.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

test: migrate imports_in_imported_modules stickytape test to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_imports_in_imported_modules/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_imports_in_imported_modules/greetings/english.py
  crates/cribo/tests/fixtures/bundling/stickytape_imports_in_imported_modules/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_imports_in_imported_modules.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

Update release-please.yml
  .github/workflows/release-please.yml
Due: dprint, yamllint

test: migrate batch of relative import and special case stickytape tests to bundling snapshots
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import/greetings/messages.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import/main.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot/greetings/messages.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot/main.py
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/test_bundling_snapshots__ruff_lint_results@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/stickytape_compatibility_tests.rs
Due: format, dprint, lint, update-index

fix(test): add explicit Python execution failure checking and fix relative import bug
  crates/cribo/src/ast_rewriter.rs
  crates/cribo/tests/fixtures/bundling/stickytape_script_with_dynamic_import/.expected_failure
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(test): update dynamic import snapshot for Python 3.12 compatibility
  crates/cribo/tests/snapshots/test_bundling_snapshots__execution_results@stickytape_script_with_dynamic_import.snap
Due: none
