Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix(bench): avoid PyYAML Cython directory in package discovery
  crates/cribo/benches/ecosystem.rs
Due: format, lint, update-index

fix(ci): implement proper benchmark baseline comparison
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix(ci): simplify benchmark baseline comparison
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: export functions/classes defined in try-except-else blocks
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/fixtures/try_except_function_export/main.py
  crates/cribo/tests/fixtures/try_except_function_export/test_module.py
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/bundled_code@try_except_function_export.snap
  crates/cribo/tests/snapshots/execution_results@try_except_function_export.snap
  crates/cribo/tests/snapshots/requirements@try_except_function_export.snap
  crates/cribo/tests/snapshots/ruff_lint_results@try_except_function_export.snap
Due: format, dprint, lint, update-index, ruff-format

feat: add idna to ecosystem tests with improved test infrastructure (#372)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/ecosystem-tests.yml
  .github/workflows/release.yml
  .github/workflows/valgrind.yml
  .gitmodules
  crates/cribo/benches/ecosystem.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/common/mod.rs
  crates/cribo/tests/fixtures/try_except_function_export/main.py
  crates/cribo/tests/fixtures/try_except_function_export/test_module.py
  crates/cribo/tests/snapshots/bundled_code@namespace_attribute_reference.snap
  crates/cribo/tests/snapshots/bundled_code@try_except_function_export.snap
  crates/cribo/tests/snapshots/execution_results@try_except_function_export.snap
  crates/cribo/tests/snapshots/requirements@try_except_function_export.snap
  crates/cribo/tests/snapshots/ruff_lint_results@try_except_function_export.snap
  crates/cribo/tests/test_bundling_snapshots.rs
  crates/cribo/tests/test_ecosystem.rs
  docs/ecosystem-tests.md
  ecosystem/pytest.ini
  ecosystem/scenarios/test_httpx.py
  ecosystem/scenarios/test_idna.py
  ecosystem/scenarios/test_pyyaml.py
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/test_rich.py
  ecosystem/scenarios/utils.py
  pyproject.toml
  uv.lock
Due: format, markdownlint, dprint, lint, yamllint, update-index, actionlint, ruff-format

chore(main): release 0.7.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.7.1 (#376)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: recursively collect exportable symbols from nested control flow
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: add detailed comments explaining export logic for try-except symbols
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix(ci): export CARGO_BIN_EXE_cribo for current step in ecosystem tests
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: add match statement support to recursive symbol collection
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: simplify ExceptHandler path using existing import
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

docs: add comprehensive doc comment for collect_exportable_symbols
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: correct baseline naming in ecosystem benchmark workflow
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: address review comments from PR #372 (#377)
  .github/workflows/ecosystem-tests.yml
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, dprint, lint, yamllint, update-index, actionlint

feat: integrate Bencher.dev for ecosystem bundling metrics
  .github/workflows/ecosystem-tests.yml
  ecosystem/benchmark_bundling.py
Due: dprint, yamllint, actionlint, ruff-format

fix: use official Bencher GitHub Action for CLI installation
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: conditionally set CI flags only for pull request events
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: use bash arrays for proper flag expansion
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: validate entry point exists before bundling
  ecosystem/benchmark_bundling.py
Due: dprint, ruff-format

fix: make release binary path relative to script location
  ecosystem/benchmark_bundling.py
Due: dprint, ruff-format

fix: add error handling for benchmark script execution
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

feat: add threshold configuration to bencher run command
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

feat: capture and display bencher report uuid in pr comments
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: properly extract json from bencher output with diagnostics
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: extract full json object from bencher output for uuid parsing
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

refactor: simplify uuid extraction using jq directly
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: find last json object in bencher output for uuid extraction
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

refactor: remove unnecessary float conversion for bundle size
  ecosystem/benchmark_bundling.py
Due: dprint, ruff-format

feat: use more readable units for benchmark metrics
  ecosystem/benchmark_bundling.py
Due: dprint, ruff-format

feat(ci): add collapsible benchmark results table to PR comments
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

feat: integrate Bencher.dev for ecosystem bundling metrics (#379)
  .github/workflows/ecosystem-tests.yml
  ecosystem/benchmark_bundling.py
Due: dprint, yamllint, actionlint, ruff-format

fix: regenerate lockfile
  Cargo.lock
  scripts/install-dev-tools.sh
Due: none

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
