Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

test: add stdlib_name_conflict_ordering fixture and update snapshots
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/__init__.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/abc.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/console.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/main.py
  crates/cribo/tests/snapshots/bundled_code@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_conflicts_package_entry.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_conflicts_package_entry.snap
  crates/cribo/tests/snapshots/requirements@stdlib_module_conflicts_package_entry.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_module_conflicts_package_entry.snap
Due: dprint, ruff-format

refactor: remove redundant renamed class check
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: prevent stdlib imports from being deferred as namespace modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/requirements@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_name_conflict_ordering.snap
Due: format, lint, update-index

fix: improve stdlib import detection to handle all import styles
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: remove orphaned snapshots
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_conflicts_package_entry.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_conflicts_package_entry.snap
  crates/cribo/tests/snapshots/requirements@stdlib_module_conflicts_package_entry.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_module_conflicts_package_entry.snap
Due: none

fix: improve class ordering for cross-module inheritance (#277)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/__init__.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/abc.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/complex_pkg/console.py
  crates/cribo/tests/fixtures/stdlib_name_conflict_ordering/main.py
  crates/cribo/tests/snapshots/bundled_code@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/requirements@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_name_conflict_ordering.snap
Due: format, dprint, lint, update-index, ruff-format

fix: handle stdlib module name conflicts in bundler
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/fixtures/stdlib_module_name_conflict/main.py
  crates/cribo/tests/fixtures/stdlib_module_name_conflict/mypackage/__init__.py
  crates/cribo/tests/fixtures/stdlib_module_name_conflict/mypackage/abc.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_conflict.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_name_conflict.snap
  crates/cribo/tests/snapshots/requirements@stdlib_module_name_conflict.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_module_name_conflict.snap
Due: format, dprint, lint, update-index, ruff-format

fix: use bundler's python_version instead of hardcoded 38
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
Due: format, lint, update-index

Improve cycle reconstruction logic in SymbolDependencyGraph using Tarjan's SCC algorithm (#276)
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

fix: handle stdlib module name conflicts in bundler (#279)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/fixtures/stdlib_module_name_conflict/main.py
  crates/cribo/tests/fixtures/stdlib_module_name_conflict/mypackage/__init__.py
  crates/cribo/tests/fixtures/stdlib_module_name_conflict/mypackage/abc.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_module_name_conflict.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_name_conflict_ordering.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_module_name_conflict.snap
  crates/cribo/tests/snapshots/requirements@stdlib_module_name_conflict.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_module_name_conflict.snap
Due: format, dprint, lint, update-index, ruff-format

Update .github/workflows/copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: dprint, yamllint, actionlint

docs: add conventional commits and cargo fmt instructions to Copilot settings (#280)
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Due: markdownlint, dprint, yamllint, actionlint

chore: maintain claude dir
  .claude/settings.json
Due: dprint

chore(main): release 0.5.13
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.13 (#274)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: handle circular dependencies with stdlib-conflicting module names
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/main.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/__init__.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/abc.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/color.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/console.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/pretty.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/style.py
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/execution_results@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/requirements@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/ruff_lint_results@circular_deps_with_stdlib_name_conflict.snap
Due: format, dprint, lint, update-index, ruff-format

fix: correctly check specific base class for stdlib hard dependencies
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
Due: format, lint, update-index

refactor: remove redundant bundled wrapper check
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: check bundled modules before stdlib to handle name shadowing
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

perf: optimize hard dependency scanning in import transformer
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: transform wrapper module imports in hard dependency base classes
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: sort hoisted import symbols for deterministic output
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: reduce code duplication in hard dependency base class checking
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

fix: handle circular dependencies with stdlib-conflicting module names (#281)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/main.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/__init__.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/abc.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/color.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/console.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/pretty.py
  crates/cribo/tests/fixtures/circular_deps_with_stdlib_name_conflict/pkg/style.py
  crates/cribo/tests/snapshots/bundled_code@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/execution_results@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/requirements@circular_deps_with_stdlib_name_conflict.snap
  crates/cribo/tests/snapshots/ruff_lint_results@circular_deps_with_stdlib_name_conflict.snap
Due: format, dprint, lint, update-index, ruff-format

fix: copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Due: dprint, yamllint, actionlint

fix: stdlib imports in wrapper modules and parent-child initialization order
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/tests/fixtures/stdlib_decorator/main.py
  crates/cribo/tests/fixtures/stdlib_decorator/mypackage/__init__.py
  crates/cribo/tests/fixtures/stdlib_decorator/mypackage/utils.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_decorator.snap
  crates/cribo/tests/snapshots/requirements@stdlib_decorator.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_decorator.snap
  rust-toolchain.toml
Due: format, dprint, lint, update-index, ruff-format

fix: use dependency graph for parent-child import detection
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@stdlib_decorator.snap
Due: format, lint, update-index

refactor: extract duplicated submodule initialization logic into helper function
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
Due: format, lint, update-index

perf: optimize wrapper module AST lookups from O(n²) to O(n)
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: extract duplicated wrapper module inclusion logic into helper method
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: remove filtered wrapper modules from bundled_modules registry
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index
