Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

test: test forwarding fixture
  crates/cribo/tests/fixtures/test_forward_reference/helper.py
  crates/cribo/tests/fixtures/test_forward_reference/main.py
  crates/cribo/tests/snapshots/bundled_code@test_forward_reference.snap
  crates/cribo/tests/snapshots/execution_results@test_forward_reference.snap
  crates/cribo/tests/snapshots/requirements@test_forward_reference.snap
  crates/cribo/tests/snapshots/ruff_lint_results@test_forward_reference.snap
Due: dprint

chore: auto format python
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/alias_transformation_test/main.py
  crates/cribo/tests/fixtures/ast_rewriting_class_name_collision/main.py
  crates/cribo/tests/fixtures/ast_rewriting_happy_path/main.py
  crates/cribo/tests/fixtures/ast_rewriting_regular_import_aliases/main.py
  crates/cribo/tests/fixtures/ast_rewriting_variable_name_collision/main.py
  crates/cribo/tests/fixtures/fstring_module_globals/worker.py
  crates/cribo/tests/fixtures/future_imports_basic/mypackage/core.py
  crates/cribo/tests/fixtures/no_ops_multimodule_mixed/main.py
  crates/cribo/tests/fixtures/pandera-polars/main.py
  crates/cribo/tests/fixtures/pydantic_project/schemas/user.py
  crates/cribo/tests/fixtures/simple_project/main.py
  crates/cribo/tests/fixtures/simple_project/models/user.py
  crates/cribo/tests/fixtures/simple_project/utils/helpers.py
  crates/cribo/tests/fixtures/xfail_ast_rewriting_mixed_collisions/core/database/connection.py
  crates/cribo/tests/fixtures/xfail_ast_rewriting_mixed_collisions/main.py
  crates/cribo/tests/fixtures/xfail_ast_rewriting_mixed_collisions/models/base.py
  crates/cribo/tests/fixtures/xfail_ast_rewriting_mixed_collisions/models/user.py
  crates/cribo/tests/fixtures/xfail_ast_rewriting_mixed_collisions/services/auth/manager.py
  crates/cribo/tests/fixtures/xfail_mixed_import_patterns/app.py
  crates/cribo/tests/fixtures/xfail_no_ops_multimodule_self_refs/core/config.py
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  docs/global-transformation-example.py
  lefthook.yml
  pyproject.toml
  test_stdlib.py
Due: format, dprint, lint, yamllint, update-index

chore: format with ruff
  .vscode/extensions.json
  .vscode/settings.json
Due: dprint

chore: use remote github mcp
  .vscode/settings.json
Due: dprint

chore: remove duplication
  crates/cribo/src/code_generator.rs
  crates/cribo/src/visitors/no_ops_removal.rs
  crates/cribo/tests/snapshots/bundled_code@no_ops_multimodule_mixed.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/requirements@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

feat: migrate all to use types.SimpleNamespace
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@no_ops_multimodule_mixed.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/execution_results@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/ruff_lint_results@no_ops_multimodule_mixed.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

test: count number of fixtures
  Cargo.lock
  crates/cribo/Cargo.toml
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, taplo, update-index

fix: remove __fiile__ assign
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@no_ops_multimodule_mixed.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/execution_results@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

chore: remove __all__ output
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@no_ops_multimodule_mixed.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/execution_results@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

fix: remove duplicate self-assaigment
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, lint, update-index

fix: remove redundant output
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
  crates/cribo/tests/test_cli_stdout.rs
Due: format, lint, update-index

feat: better resolver
  crates/cribo/src/code_generator.rs
  crates/cribo/src/config.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/tests/fixtures/module_first_resolution/foo.py
  crates/cribo/tests/fixtures/module_first_resolution/foo/__init__.py
  crates/cribo/tests/fixtures/module_first_resolution/main.py
  crates/cribo/tests/snapshots/bundled_code@module_first_resolution.snap
  crates/cribo/tests/snapshots/execution_results@module_first_resolution.snap
  crates/cribo/tests/snapshots/requirements@module_first_resolution.snap
  crates/cribo/tests/snapshots/ruff_lint_results@module_first_resolution.snap
  crates/cribo/tests/test_cli_stdout.rs
  crates/cribo/tests/test_pythonpath_support.rs
  crates/cribo/tests/test_virtualenv_support.rs
  cribo.toml
  docs/resolution.md
  wrapper_module_fix_implementation_plan.md
Due: format, markdownlint, dprint, lint, update-index

chore: remove self-assignment
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/backup/xfail_no_ops_multimodule_mixed/api/__init__.py
  crates/cribo/tests/backup/xfail_no_ops_multimodule_mixed/api/server.py
  crates/cribo/tests/backup/xfail_no_ops_multimodule_mixed/handlers/__init__.py
  crates/cribo/tests/backup/xfail_no_ops_multimodule_mixed/handlers/request_handler.py
  crates/cribo/tests/backup/xfail_no_ops_multimodule_mixed/lib/__init__.py
  crates/cribo/tests/backup/xfail_no_ops_multimodule_mixed/lib/constants.py
  crates/cribo/tests/backup/xfail_no_ops_multimodule_mixed/lib/utils.py
  crates/cribo/tests/backup/xfail_no_ops_multimodule_mixed/main.py
  crates/cribo/tests/snapshots/bundled_code@module_first_resolution.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/execution_results@xfail_no_ops_multimodule_self_refs.snap
Due: format, dprint, lint, update-index

chore: format
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: format
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

feat: improve globals support
  crates/cribo/src/code_generator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/fixtures/ast_rewriting_global/main.py
  crates/cribo/tests/fixtures/ast_rewriting_global/module_global_keyword.py
  crates/cribo/tests/fixtures/ast_rewriting_global/module_globals_dict.py
  crates/cribo/tests/fixtures/ast_rewriting_global/module_mixed_patterns.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@no_ops_multimodule_mixed.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/execution_results@no_ops_multimodule_mixed.snap
  crates/cribo/tests/snapshots/requirements@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/ruff_lint_results@no_ops_multimodule_mixed.snap
  crates/cribo/tests/snapshots/test_cli_stdout__missing_output_and_stdout_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_conflicts_with_output_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stdout.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_stderr.snap
Due: format, dprint, lint, update-index

fix: update snapshot
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
Due: none

docs(ai): simplify and mention nextest
  CLAUDE.md
Due: markdownlint, dprint

test: add nextest ci config
  .config/nextest.toml
Due: dprint, taplo

fix: correct --no-capture usage
  CLAUDE.md
Due: markdownlint, dprint

chore: fail on no fixtures filter with tip for proper run
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

test: verbose error on no fixtures match
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

chore: relax clippy a little more
  .clippy.toml
Due: dprint

fix(bundler): reorder statements in inlined modules to declare variables before use
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/mixed_import_patterns/app.py
  crates/cribo/tests/fixtures/mixed_import_patterns/config.py
  crates/cribo/tests/fixtures/mixed_import_patterns/logger.py
  crates/cribo/tests/fixtures/mixed_import_patterns/main.py
  crates/cribo/tests/fixtures/mixed_import_patterns/utils.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_nested_namespace_import.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_module_globals.snap
  crates/cribo/tests/snapshots/bundled_code@function_level_module_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_simple_test.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@simple_project.snap
  crates/cribo/tests/snapshots/bundled_code@test_all_exports.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_mixed_import_patterns.snap
  crates/cribo/tests/snapshots/execution_results@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/requirements@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/ruff_lint_results@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
Due: format, dprint, lint, update-index

test: ast_rewriting_symbols_collision fixture
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/core/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/core/database/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/core/database/connection.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/core/utils/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/core/utils/helpers.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/main.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/models/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/models/base.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/models/user.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/services/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/services/auth/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_symbols_collision/services/auth/manager.py
Due: dprint

fix: pass ast_rewriting_symbols_collision
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/requirements@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_symbols_collision.snap
Due: format, lint, update-index

test: new fixture ast_rewriting_globals_collision
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/ast_rewriting_globals_collision/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/core/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/core/database/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/core/database/connection.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/core/utils/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/core/utils/helpers.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/main.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/models/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/models/base.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/models/user.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/services/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/services/auth/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_globals_collision/services/auth/manager.py
Due: dprint

fix: ast_rewriting_global_collision
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/core/__init__.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/core/config.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/core/processor.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/main.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/models/__init__.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/models/user.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/utils/__init__.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/utils/constants.py
  crates/cribo/tests/fixtures/no_ops_multimodule_self_refs/utils/helpers.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@module_first_resolution.snap
  crates/cribo/tests/snapshots/bundled_code@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/execution_results@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/requirements@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/requirements@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/ruff_lint_results@no_ops_multimodule_self_refs.snap
Due: format, dprint, lint, update-index

docs: recursive bundler analysis
  RECURSIVE_BUNDLER_PLAN.md
Due: markdownlint, dprint

test: update snapshots
  crates/cribo/tests/snapshots/bundled_code@xfail_cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
Due: none

test: pass cross_package_mixed_import
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/cross_package_mixed_import/core/__init__.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/core/database/__init__.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/core/database/connection.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/core/utils/__init__.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/core/utils/config.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/core/utils/helpers.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/core/version.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/main.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/models/__init__.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/models/base.py
  crates/cribo/tests/fixtures/cross_package_mixed_import/models/user.py
  crates/cribo/tests/fixtures/xfail_cross_package_mixed_import/bundled.py
  crates/cribo/tests/fixtures/xfail_cross_package_mixed_import/core/utils/__init__.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross-package-mixed-import.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@import_error_handling.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/bundling_error@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@cross-package-mixed-import.snap
  crates/cribo/tests/snapshots/execution_results@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/execution_results@import_error_handling.snap
  crates/cribo/tests/snapshots/execution_results@xfail_cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/requirements@cross-package-mixed-import.snap
  crates/cribo/tests/snapshots/requirements@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/requirements@import_error_handling.snap
  crates/cribo/tests/snapshots/requirements@xfail_no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@import_error_handling.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_no_ops_multimodule_self_refs.snap
  docs/circular-dependencies.md
Due: format, markdownlint, dprint, lint, update-index

test: added ast_rewrite_parameter_shadow
  crates/cribo/tests/fixtures/ast_rewrite_parameter_shadow/main.py
  crates/cribo/tests/fixtures/ast_rewrite_parameter_shadow/models.py
Due: dprint

feat: preserve __name__ and __module__
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewrite_parameter_shadow.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_module_globals.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@no_ops_multimodule_self_refs.snap
  crates/cribo/tests/snapshots/bundled_code@pandera-polars.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@simple_project.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@test_all_exports.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewrite_parameter_shadow.snap
  crates/cribo/tests/snapshots/requirements@ast_rewrite_parameter_shadow.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewrite_parameter_shadow.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
Due: format, lint, update-index

test: advancing with fixes
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/core/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/core/database/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/core/database/connection.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/core/utils/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/core/utils/helpers.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/main.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/models/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/models/base.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/models/user.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/services/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/services/auth/__init__.py
  crates/cribo/tests/fixtures/ast_rewriting_mixed_collisions/services/auth/manager.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/requirements@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/requirements@xfail_ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/ruff_lint_results@ast_rewriting_mixed_collisions.snap
Due: format, dprint, lint, update-index

test: made ast_rewriting_mixed_collisions passing
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: deduplicate deferred imports when collecting from inlined modules
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: remove duplicates
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

chore: fix clippy warnings
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/semantic_analysis.rs
  crates/cribo/src/visitors/no_ops_removal.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
