Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

chore(main): release 0.8.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.8.0 (#406)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

ci: fix release builds on musl and supported runners
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: fix version update for release workflow
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: make release version update portable
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: fix workspace version regex for release
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: update workspace version via line edit
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: export version for update step
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: fix version update regex
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: preserve line endings when updating version
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: choose musl linker per target
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: avoid musl linker override for wheels
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: align release version artifacts with build
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

ci: skip attestations in PyPI uploads
  .github/workflows/release.yml
  scripts/publish-npm.js
Due: dprint, yamllint, actionlint

fix: repack aarch64 wheel before PyPI
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

fix: keep PyPI attestations
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore(main): release 0.8.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.8.1 (#427)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: repack aarch64 wheel before TestPyPI
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

fix: skip corrupt aarch64 manylinux wheel
  .github/workflows/release.yml
Due: dprint, yamllint, actionlint

chore(main): release 0.8.2
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.8.2 (#429)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: adapt to ruff 0.14.11 Diagnostic API change
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(ci): use venv directly instead of uv run after maturin develop
  .github/workflows/ci.yml
Due: dprint, yamllint, actionlint

fix(ci): use cross-platform venv paths for Windows compatibility
  .github/workflows/ci.yml
Due: dprint, yamllint, actionlint

ci(release): include Renovate dependency updates in changelog
  release-please-config.json
Due: dprint, release-please

fix(ci): workaround maturin 1.11+ bin bindings regression
  .github/workflows/ci.yml
Due: dprint, yamllint, actionlint

fix: remove bin from platform specific npm packages
  npm/package.json.tmpl
Due: none

chore(main): release 0.8.3
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

fix: add shell: bash to CI step for Windows glob expansion
  .github/workflows/ci.yml
Due: dprint, yamllint, actionlint

feat: add insta.yaml config with nextest doctest disabled
  insta.yaml
Due: dprint, yamllint

chore(deps): lock file maintenance - update 103 packages
  Cargo.lock
Due: none

fix(ci): work around maturin 1.11+ bin bindings regression
  .github/workflows/ci.yml
Due: dprint, yamllint, actionlint

fix(ci): work around maturin 1.11+ bin bindings regression (#453)
  .github/workflows/ci.yml
Due: dprint, yamllint, actionlint

fix(deps): update env_logger to 0.11.10 to deduplicate anstream
  Cargo.lock
Due: none

fix(deps): update insta to 1.47.2 to deduplicate windows-sys
  Cargo.lock
Due: none

fix(deps): update env_logger to 0.11.10 to deduplicate anstream (#454)
  Cargo.lock
Due: none

fix: add certifi to typos allow list
  .typos.toml
Due: dprint

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
