Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

test: trying to make insta fail verbose
  .github/workflows/ci.yml
  .insta.yaml
Due: dprint, yamllint, actionlint

fix(test): make stdlib_hoisting_aliases test deterministic
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/file_utils.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_hoisting_aliases.snap
Due: dprint

fix(test): make Python version deterministic in stdlib_hoisting_aliases test
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/logger.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_hoisting_aliases.snap
Due: dprint

chore: exclude more folders in zed
  .zed/settings.json
Due: dprint

fix(bundler): handle __main__.py files like __init__.py for module naming
  crates/cribo/src/util.rs
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_main_stdout.snap
Due: format, lint, update-index

chore: add more zed extensions
  .zed/settings.json
Due: dprint

fix(test): use fixed values for cross-platform path consistency
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/file_utils.py
  crates/cribo/tests/snapshots/bundled_code@stdlib_hoisting_aliases.snap
Due: dprint

chore: install pyrefly
  .zed/settings.json
  pyproject.toml
  uv.lock
Due: dprint

fix(ci): add token permissions
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: proper uv setup
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

chore: publish only package name
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

fix: ignore non pr files
  .github/workflows/ecosystem-tests.yml
Due: dprint, yamllint, actionlint

feat: implement module cache approach for circular dependencies (WIP)
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix(bundler): prevent RecursiveImportTransformer from transforming hard dependency base classes
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix: topological sort for circular dependency symbols and class inheritance
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix: always use cached init functions for proper import deduplication
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
Due: format, lint, update-index

fix(bundler): fix symbol ordering within circular modules
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

refactor(bundler): remove all hardcoded package-specific logic
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix: improve error handling and fix self-referential assignment false positives
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
Due: format, lint, update-index

fix(bundler): preserve mandatory import aliases to avoid name conflicts
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_alias_tracker.rs
Due: format, lint, update-index

chore: apply linter fixes
  crates/cribo/src/code_generator.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
  docs/bundling-architecture-phases.md
Due: format, markdownlint, dprint, lint, update-index

chore: apply additional linter formatting to code_generator.rs
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

docs: review architectural doc
  docs/bundling-architecture-phases.md
Due: markdownlint, dprint

fix(bundler): resolve all clippy warnings for CI compliance
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix(bundler): add validation to prevent inconsistent module registration
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: ecosystem testing testing advances (#165)
  crates/cribo/src/code_generator.rs
  crates/cribo/src/import_alias_tracker.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_relative_import_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  docs/bundling-architecture-phases.md
Due: format, markdownlint, dprint, lint, update-index

chore: cleanup local branches on merge
  lefthook.yml
Due: dprint, yamllint

feat(bundler): implement Phase 1 of BundlePlan architecture
  crates/cribo/src/bundle_plan/builder.rs
  crates/cribo/src/bundle_plan/mod.rs
  crates/cribo/src/bundle_plan/tests.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

refactor(bundler): migrate CircularDependencyAnalysis to use ModuleId
  crates/cribo/src/analysis/circular_analyzer.rs
  crates/cribo/src/analysis/circular_deps.rs
  crates/cribo/src/analysis/mod.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  docs/bundle-plan-phase-2-plan.md
Due: format, markdownlint, dprint, lint, update-index

feat(bundler): implement Phase 2 - Sequential Analysis Pipeline
  crates/cribo/src/analysis/mod.rs
  crates/cribo/src/analysis/pipeline.rs
  crates/cribo/src/bundle_plan/mod.rs
  crates/cribo/src/config.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/orchestrator.rs
  docs/bundle-plan-phase-2-plan.md
Due: format, markdownlint, dprint, lint, update-index

feat(bundler): add symbol_origins field for tracking re-export chains
  crates/cribo/src/analysis/mod.rs
  crates/cribo/src/analysis/pipeline.rs
  crates/cribo/src/analysis/symbol_conflict_detector.rs
  crates/cribo/src/bundle_plan/mod.rs
  crates/cribo/src/bundle_plan/symbol_origin_tests.rs
  crates/cribo/src/code_generator.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/semantic_model_provider.rs
  crates/cribo/tests/fixtures/xfail_ast_rewrite_parameter_shadow/main.py
  crates/cribo/tests/fixtures/xfail_ast_rewrite_parameter_shadow/models.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_mixed_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_unresolvable_patterns.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_mixed_cycles.snap
  crates/cribo/tests/snapshots/execution_results@pyfail_unresolvable_patterns.snap
  crates/cribo/tests/snapshots/requirements@pyfail_mixed_cycles.snap
  crates/cribo/tests/snapshots/requirements@pyfail_unresolvable_patterns.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pyfail_mixed_cycles.snap
  crates/cribo/tests/snapshots/ruff_lint_results@pyfail_unresolvable_patterns.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
  docs/semantic-bundler-refactoring-plan.md
Due: format, markdownlint, dprint, lint, update-index

feat(bundler): add import handling modules and architecture
  crates/cribo/src/analysis/mod.rs
  crates/cribo/src/analysis/potential_exports.rs
  crates/cribo/src/bundle_plan/final_layout.rs
  crates/cribo/src/bundle_plan/mod.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/graph_builder.rs.bak
  crates/cribo/src/import_handling/mod.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/plan_executor.rs
Due: format, lint, update-index

feat(bundler): implement namespace object creation for module imports
  crates/cribo/src/analysis/potential_exports.rs
  crates/cribo/src/plan_executor.rs
Due: format, lint, update-index

fix(bundler): improve namespace package detection for import filtering
  crates/cribo/src/plan_executor.rs
Due: format, lint, update-index

feat(bundler): implement AST transformation for symbol renames
  crates/cribo/src/plan_executor.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
