Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please

.lefthook.yaml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    install:
      skip: true
      run: rustup component add rustfmt clippy
    format:
      glob: '**/*.rs'
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    markdownlint:
      glob: '*.md'
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,yaml,yml,md,toml,py}'
      run: bunx dprint fmt {staged_files}
      stage_fixed: true
    lint:
      glob: '**/*.rs'
      run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
      stage_fixed: true
    taplo:
      glob: '**/*.toml'
      run: bunx taplo lint {staged_files}
    yamllint:
      glob: '*.{yml,yaml}'
      run: uvx yamllint {staged_files}
    update-index:
      glob: '**/*.rs'
      run: git update-index --again
    codecov:
      glob: '.codecov.yml'
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: 'renovate.json'
      run: npx -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: '.github/workflows/*.{yaml,yml}'
      run: actionlint {staged_files}
    release-please:
      glob: release-please-config.json
      run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

commit-msg:
  commands:
    'lint commit message':
      run: bunx commitlint --edit {1}
    'check spelling':
      run: uvx typos {1}

post-checkout:
  commands:
    dependencies:
      glob: 'uv.lock'
      run: uv sync

chore(bundler): remove temporary debugging code
  crates/cribo/src/code_generator.rs
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix(bundler): add collision detection for module name sanitization
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/main.py
Due: format, dprint, lint, update-index

fix(bundler): expand importlib usage detection to cover all statement types
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/xfail_importlib_deduplication/main.py
Due: format, dprint, lint, update-index

refactor(bundler): extract ImportlibStatic handling into helper method
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

test(graph): clarify item cloning behavior for shared file modules
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

feat(bundler): add warning for unbundled modules in static imports
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

perf(bundler): reduce import discovery logging verbosity
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

style(bundler): simplify redundant debug logging
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

feat(bundler): implement lazy module initialization for wrapper modules
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/src/visitors/import_discovery.rs
  crates/cribo/tests/fixtures/importlib_deduplication/main.py
  crates/cribo/tests/fixtures/importlib_deduplication/mymodule.py
  crates/cribo/tests/fixtures/importlib_deduplication/package/__init__.py
  crates/cribo/tests/fixtures/importlib_deduplication/package/submodule.py
  crates/cribo/tests/fixtures/importlib_deduplication/test_complete_picture.py
  crates/cribo/tests/fixtures/importlib_deduplication/test_edge_cases.py
  crates/cribo/tests/fixtures/importlib_deduplication/test_parent_registration.py
  crates/cribo/tests/fixtures/importlib_deduplication/test_paths.py
  crates/cribo/tests/fixtures/importlib_deduplication/test_sys_modules.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_deduplication.snap
  crates/cribo/tests/snapshots/bundling_error@xfail_importlib_deduplication.snap
  crates/cribo/tests/snapshots/execution_results@importlib_deduplication.snap
  crates/cribo/tests/snapshots/requirements@importlib_deduplication.snap
  crates/cribo/tests/snapshots/ruff_lint_results@importlib_deduplication.snap
Due: format, dprint, lint, update-index

fix(bundler): ensure modules are initialized before accessing attributes in lazy initialization
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_deduplication.snap
Due: format, lint, update-index

fix(bundler): transform importlib.import_module to call init functions for wrapper modules
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

feat(bundler): add @functools.cache decorator to module init functions for singleton behavior
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_deduplication.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_edge_cases.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@module_first_resolution.snap
Due: format, lint, update-index

fix(bundler): prevent duplicate module initialization statements
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/execution_results@xfail_module_shadowing_package.snap
Due: format, lint, update-index

fix(bundler): resolve clippy type complexity warning
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix(resolver): eliminate ImportlibStatic resolution duplication
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix(resolver): add missing path canonicalization for ImportlibStatic
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

fix(resolver): use warn-level logging for canonicalization failures
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

chore: format
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

chore(main): release 0.5.2
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

feat(test): implement ecosystem testing infrastructure for requests module
  .github/workflows/ecosystem-tests.yml
  .gitmodules
  crates/cribo/Cargo.toml
  crates/cribo/benches/ecosystem.rs
  crates/cribo/tests/test_ecosystem.rs
  docs/ecosystem-tests.md
  ecosystem/README.md
  ecosystem/scenarios/__init__.py
  ecosystem/scenarios/test_requests.py
  ecosystem/scenarios/utils.py
  pyproject.toml
  uv.lock
Due: format, markdownlint, dprint, lint, taplo, yamllint, update-index, actionlint

chore(main): release 0.5.2 (#155)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

feat: add directory entry point support for --entry parameter
  README.md
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/fixtures/directory_entry_empty/readme.txt
  crates/cribo/tests/fixtures/directory_entry_init/__init__.py
  crates/cribo/tests/fixtures/directory_entry_main/__init__.py
  crates/cribo/tests/fixtures/directory_entry_main/__main__.py
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_empty_stderr.snap
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_init_stdout.snap
  crates/cribo/tests/snapshots/test_cli_stdout__directory_entry_main_stdout.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_error_stderr.snap
  crates/cribo/tests/test_cli_stdout.rs
  crates/cribo/tests/test_directory_entry_simple.rs
Due: format, markdownlint, dprint, lint, update-index

fix: improve relative import resolution for package directories
  crates/cribo/src/code_generator.rs
  ecosystem/scenarios/test_requests.py
Due: format, dprint, lint, update-index

fix: preserve stdlib imports in wrapper functions
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/collections_abc_modules/helper.py
  crates/cribo/tests/fixtures/collections_abc_modules/main.py
  crates/cribo/tests/fixtures/collections_abc_test/main.py
  crates/cribo/tests/fixtures/collections_mixed_imports/main.py
  crates/cribo/tests/fixtures/collections_mixed_imports/module_a.py
  crates/cribo/tests/fixtures/collections_mixed_imports/module_b.py
  crates/cribo/tests/fixtures/wrapper_stdlib_imports/main.py
  crates/cribo/tests/fixtures/wrapper_stdlib_imports/wrapper_module.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@collections_abc_modules.snap
  crates/cribo/tests/snapshots/bundled_code@collections_abc_test.snap
  crates/cribo/tests/snapshots/bundled_code@collections_mixed_imports.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@wrapper_stdlib_imports.snap
  crates/cribo/tests/snapshots/execution_results@collections_abc_modules.snap
  crates/cribo/tests/snapshots/execution_results@collections_abc_test.snap
  crates/cribo/tests/snapshots/execution_results@collections_mixed_imports.snap
  crates/cribo/tests/snapshots/execution_results@wrapper_stdlib_imports.snap
  crates/cribo/tests/snapshots/requirements@collections_abc_modules.snap
  crates/cribo/tests/snapshots/requirements@collections_abc_test.snap
  crates/cribo/tests/snapshots/requirements@collections_mixed_imports.snap
  crates/cribo/tests/snapshots/requirements@wrapper_stdlib_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@collections_abc_modules.snap
  crates/cribo/tests/snapshots/ruff_lint_results@collections_abc_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@collections_mixed_imports.snap
  crates/cribo/tests/snapshots/ruff_lint_results@wrapper_stdlib_imports.snap
Due: format, dprint, lint, update-index

test: add fixture for collections.abc imports in wrapper modules
  crates/cribo/tests/fixtures/collections_abc_wrapper/compat.py
  crates/cribo/tests/fixtures/collections_abc_wrapper/main.py
  crates/cribo/tests/fixtures/collections_abc_wrapper/structures.py
  crates/cribo/tests/snapshots/bundled_code@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/execution_results@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/requirements@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/ruff_lint_results@collections_abc_wrapper.snap
Due: dprint

test: add stdlib_hoisting_aliases fixture for aliased import handling
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/file_utils.py
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/logger.py
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/main.py
Due: dprint

fix(ast): move stdlib import normalization before dependency graph building
  .clippy.toml
  crates/cribo/src/code_generator.rs
  crates/cribo/src/lib.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/stdlib_normalization.rs
  crates/cribo/tests/fixtures/stdlib_hoisting_aliases/file_utils.py
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@collections_abc_wrapper.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_deduplication.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_edge_cases.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@module_first_resolution.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_module_shadowing_package.snap
  crates/cribo/tests/snapshots/execution_results@stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/requirements@stdlib_hoisting_aliases.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stdlib_hoisting_aliases.snap
Due: format, dprint, lint, update-index

Update ecosystem/scenarios/utils.py
  ecosystem/scenarios/utils.py
Due: dprint

fix(bundler): resolve all critical clippy warnings
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/stdlib_normalization.rs
Due: format, lint, update-index

fix(bundler): resolve ALL remaining clippy warnings
  crates/cribo/src/code_generator.rs
  crates/cribo/src/stdlib_normalization.rs
Due: format, lint, update-index

refactor(bundler): properly fix ALL clippy warnings without using #[allow]
  crates/cribo/src/code_generator.rs
  crates/cribo/src/stdlib_normalization.rs
Due: format, lint, update-index

fix(bundler): refactor all methods with only_used_in_recursion warnings
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

refactor(bundler): centralize is_safe_stdlib_module in side_effects module
  crates/cribo/src/code_generator.rs
  crates/cribo/src/side_effects.rs
  crates/cribo/src/stdlib_normalization.rs
Due: format, lint, update-index

refactor(bundler): remove redundant imports in stdlib_normalization
  crates/cribo/src/stdlib_normalization.rs
Due: format, lint, update-index

fix(bundler): add comprehensive expression type handling in stdlib normalization
  crates/cribo/src/stdlib_normalization.rs
Due: format, lint, update-index

fix(bundler): add comprehensive statement type handling in stdlib normalization
  crates/cribo/src/stdlib_normalization.rs
Due: format, lint, update-index
