Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

fix(bundler): apply symbol renames to class base classes during inheritance (#188)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/fixtures/symbol_collision_inheritance/auth_module.py
  crates/cribo/tests/fixtures/symbol_collision_inheritance/colliding_module.py
  crates/cribo/tests/fixtures/symbol_collision_inheritance/main.py
  crates/cribo/tests/snapshots/bundled_code@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/execution_results@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/requirements@symbol_collision_inheritance.snap
  crates/cribo/tests/snapshots/ruff_lint_results@symbol_collision_inheritance.snap
Due: format, dprint, lint, update-index, ruff-format

fix(bundler): apply semantic renames to class body statements
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
Due: format, lint, update-index

style: apply cargo fmt formatting
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

test: restore cross_module_inheritance fixture
  crates/cribo/tests/fixtures/cross_module_inheritance/another_auth.py
  crates/cribo/tests/fixtures/cross_module_inheritance/auth.py
  crates/cribo/tests/fixtures/cross_module_inheritance/main.py
  crates/cribo/tests/fixtures/cross_module_inheritance/proxy.py
Due: dprint, ruff-format

fix(bundler): resolve cross-module inheritance forward references
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/execution_results@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/requirements@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_module_inheritance.snap
Due: format, lint, update-index

fix(bundler): resolve cross-module inheritance forward references
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@cross_module_inheritance.snap
Due: format, lint, update-index

fix(bundler): remove unused variable in build_import_source_map
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix(bundler): apply symbol renames to class base classes during inheritance (#189)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/tests/fixtures/cross_module_inheritance/another_auth.py
  crates/cribo/tests/fixtures/cross_module_inheritance/auth.py
  crates/cribo/tests/fixtures/cross_module_inheritance/main.py
  crates/cribo/tests/fixtures/cross_module_inheritance/proxy.py
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/execution_results@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/requirements@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/ruff_lint_results@cross_module_inheritance.snap
Due: format, dprint, lint, update-index, ruff-format

chore(main): release 0.5.5
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

chore(main): release 0.5.5 (#187)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

test: add fixture for forward reference namespace attribute issue
  crates/cribo/tests/fixtures/namespace_forward_reference/main.py
  crates/cribo/tests/fixtures/namespace_forward_reference/mypkg/__init__.py
  crates/cribo/tests/fixtures/namespace_forward_reference/mypkg/compat.py
  crates/cribo/tests/fixtures/namespace_forward_reference/mypkg/exceptions.py
Due: dprint, ruff-format

fix(bundler): fix duplicate namespace assignments for re-exported symbols
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/graph_builder.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/forward_reference_attribute_access/main.py
  crates/cribo/tests/fixtures/forward_reference_attribute_access/mymodule/__init__.py
  crates/cribo/tests/fixtures/forward_reference_attribute_access/mymodule/compat.py
  crates/cribo/tests/fixtures/forward_reference_attribute_access/mymodule/exceptions.py
  crates/cribo/tests/fixtures/forward_reference_import_before_init/main.py
  crates/cribo/tests/fixtures/forward_reference_import_before_init/mypkg/__init__.py
  crates/cribo/tests/fixtures/forward_reference_import_before_init/mypkg/compat.py
  crates/cribo/tests/fixtures/forward_reference_import_before_init/mypkg/exceptions.py
  crates/cribo/tests/fixtures/forward_reference_import_before_init/mypkg/utils.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_global.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_nested_namespace_import.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@conditional_exports.snap
  crates/cribo/tests/snapshots/bundled_code@file_deduplication_basic.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/bundled_code@import_shadowing.snap
  crates/cribo/tests/snapshots/bundled_code@importlib_static_renaming.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@mixed_import_patterns.snap
  crates/cribo/tests/snapshots/bundled_code@pydantic_project.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_class_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_four_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_package_level_cycles.snap
  crates/cribo/tests/snapshots/bundled_code@pyfail_three_module_cycle.snap
  crates/cribo/tests/snapshots/bundled_code@simple_nested_handler.snap
  crates/cribo/tests/snapshots/bundled_code@simple_project.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/execution_results@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/requirements@forward_reference_import_before_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/ruff_lint_results@forward_reference_import_before_init.snap
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, dprint, lint, update-index, ruff-format

fix(bundler): resolve forward reference issues with namespace attribute assignments
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix(bundler): handle forward references in cross-module inheritance
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/tests/snapshots/bundled_code@alias_transformation_test.snap
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewrite_parameter_shadow.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_globals_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_mixed_collisions.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_nested_namespace_import.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_symbols_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@cross_module_inheritance.snap
  crates/cribo/tests/snapshots/bundled_code@cross_package_mixed_import.snap
  crates/cribo/tests/snapshots/bundled_code@forward_reference_attribute_access.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_forward_reference.snap
  crates/cribo/tests/snapshots/execution_results@namespace_forward_reference.snap
  crates/cribo/tests/snapshots/requirements@namespace_forward_reference.snap
  crates/cribo/tests/snapshots/ruff_lint_results@namespace_forward_reference.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

chore: update snapshot
  crates/cribo/tests/snapshots/bundled_code@forward_reference_import_before_init.snap
Due: none

fix(clippy): resolve all clippy warnings for CI compliance
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import/xfail_stickytape_explicit_relative_import/greetings/__init__.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import/xfail_stickytape_explicit_relative_import/greetings/greeting.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import/xfail_stickytape_explicit_relative_import/greetings/messages.py
  crates/cribo/tests/fixtures/stickytape_explicit_relative_import/xfail_stickytape_explicit_relative_import/main.py
Due: format, dprint, lint, update-index, ruff-format

refactor(tree-shaking): extract namespace package detection into helper methods
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

test: remove fixture-specific debug output
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix(tree-shaking): remove unconditional __all__ preservation
  crates/cribo/src/tree_shaking.rs
Due: format, lint, update-index

chore: remove Rust debug MCP
  .mcp.json
Due: dprint

refactor(code-generator): implement phase 1 and 2 of analyzer separation
  crates/cribo/src/analyzers/mod.rs
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/analyzers/types.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-refined.md
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/symbol_collector.rs
  crates/cribo/src/visitors/variable_collector.rs
Due: format, markdownlint, dprint, lint, update-index

chore: fix lefthook file pointer
  CLAUDE.md
Due: markdownlint, dprint

fix: address PR feedback and fix test failures
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/visitors/symbol_collector.rs
Due: format, lint, update-index

fix(bundler): resolve test failures from symbol collection refactoring
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix(analyzer): restore proper alias_is_mandatory logic for hard dependencies
  crates/cribo/src/analyzers/symbol_analyzer.rs
Due: format, lint, update-index

fix(visitor): correct module handling in from imports
  crates/cribo/src/visitors/symbol_collector.rs
Due: format, lint, update-index

refactor(code_generator): eliminate code duplication in find_symbol_module
  crates/cribo/src/analyzers/symbol_analyzer.rs
Due: format, lint, update-index

perf(visitors): optimize current_scope method to avoid unnecessary clones
  crates/cribo/src/visitors/symbol_collector.rs
Due: format, lint, update-index

style(analyzers): remove redundant error logging
  crates/cribo/src/analyzers/symbol_analyzer.rs
Due: format, lint, update-index

refactor(code-generator): implement phase 1 and 2 of analyzer separation (#199)
  CLAUDE.md
  crates/cribo/src/analyzers/mod.rs
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/analyzers/types.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/further-split-refined.md
  crates/cribo/src/lib.rs
  crates/cribo/src/main.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/symbol_collector.rs
  crates/cribo/src/visitors/variable_collector.rs
Due: format, markdownlint, dprint, lint, update-index

refactor(analyzers): implement phase 6 - move analysis methods from cribo_graph to analyzers
  crates/cribo/src/analyzers/dependency_analyzer.rs
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/analyzers/mod.rs
  crates/cribo/src/analyzers/namespace_analyzer.rs
  crates/cribo/src/analyzers/symbol_analyzer.rs
  crates/cribo/src/analyzers/types.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/further-split-refined.md
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/import_rewriter.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/visitors/export_collector.rs
  crates/cribo/src/visitors/mod.rs
  crates/cribo/src/visitors/variable_collector.rs
Due: format, markdownlint, dprint, lint, update-index

fix(analyzers): extend collect_namespace_imports to handle all compound statements
  crates/cribo/src/analyzers/import_analyzer.rs
Due: format, lint, update-index

perf(analyzers): optimize wrapper module dependency lookups to O(1)
  crates/cribo/src/analyzers/dependency_analyzer.rs
Due: format, lint, update-index

fix(analyzers): prevent incorrect module matching with ends_with
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/visitors/export_collector.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
