Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py

refactor: migrate NodeIndexAssigner visitor to bundler.rs
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: migrate expr_equals function to bundler.rs
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: implement dependency analysis methods in circular_deps.rs
  crates/cribo/src/code_generator/circular_deps.rs
Due: format, lint, update-index

refactor: complete import transformation with temporary fallback
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

chore: update TODO.md with completed tasks from Phase 1
  crates/cribo/src/code_generator/TODO.md
Due: markdownlint, dprint

refactor: add transform_module_to_init_function stub to bundler.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/circular_deps.rs
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: add helper methods for transform_module_to_init_function
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: add more helper methods for transform_module_to_init_function
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: implement is_safe_stdlib_module using side_effects module
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor: implement get_entry_module_imports
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: implement collect_direct_relative_imports
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: implement duplicate import checking functions
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: update generate_registries_and_hook comment
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: add helper methods for assignment processing
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
Due: format, markdownlint, dprint, lint, update-index

docs: update TODO.md progress to 10/16 tasks completed
  crates/cribo/src/code_generator/TODO.md
Due: markdownlint, dprint

refactor(bundler): add utility functions from code_generator_old
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(bundler): add namespace management functions
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(bundler): add entry module processing functions
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

docs(TODO): update progress on code generator refactoring
  crates/cribo/src/code_generator/TODO.md
Due: markdownlint, dprint

feat(code-generator): implement build_symbol_dependency_graph method
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

feat(code-generator): implement detect_hard_dependencies method
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

docs(code-generator): update TODO.md with recent progress
  crates/cribo/src/code_generator/TODO.md
Due: markdownlint, dprint

refactor: migrate inline_* functions and transform_module_to_cache_init_function
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/mod.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: implement collect_module_renames with semantic analysis
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
Due: format, markdownlint, dprint, lint, update-index

feat(code-generator): implement sort_wrapper_modules_by_dependencies with petgraph
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

feat(code-generator): implement sort_wrapped_modules_by_dependencies
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

feat(code-generator): implement module cache infrastructure functions
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

feat(code-generator): implement process_wrapper_module_globals
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

feat(code-generator): implement generate_module_init_call
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

feat: implement generate_submodule_attributes_with_exclusions
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

feat: implement deduplicate_deferred_imports_with_existing
  crates/cribo/src/code_generator/TODO.md
  crates/cribo/src/code_generator/bundler.rs
Due: format, markdownlint, dprint, lint, update-index

fix: standardize type aliases across code_generator modules
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/circular_deps.rs
  crates/cribo/src/code_generator/context.rs
  crates/cribo/src/code_generator/globals.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix(code-generator): use correct FxHashSet types to match original code
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

feat(code-generator): implement sort_wrapper_modules_by_dependencies
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: complete tree shaking
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: force color
  .github/workflows/ci.yml
Due: dprint, yamllint, actionlint

refactor(code-generator): migrate resolve_relative_import_with_context
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

refactor(code-generator): migrate create_module_access_expr and helper
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix(code-generator): implement generate_merge_module_attributes
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

chore: implement more
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index
