Repository tinovyatkin/serpen: changes, and which lefthook commands are due for each by the changed paths.
All: format, dprint, lint, taplo, yamllint, update-index, codecov, renovate

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: cat .codecov.yml | curl --data-binary @- https://codecov.io/validate

renovate:
  run: npx -y --package renovate -c 'renovate-config-validator' renovate.json

chore: adjust clippy thresholds for too-many-arguments
  .clippy.toml
Due: dprint

refactor(bundler): extract inlined module import handling to reduce nesting
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

refactor(bundler): extract wrapper module import processing to reduce nesting
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

refactor(bundler): extract exception handler processing to reduce nesting
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

refactor(bundler): extract function global handling to reduce nesting
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

refactor(bundler): extract f-string transformation to reduce nesting
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

chore(ci): add official cargo-machete GitHub Action step
  .github/workflows/lint.yml
Due: dprint, yamllint

fix(bundler): resolve remaining excessive nesting warnings
  .clippy.toml
  crates/cribo/src/code_generator.rs
  crates/cribo/src/semantic_bundler.rs
Due: format, dprint, lint, update-index

fix(bundler): remove hardcoded test values violating production code principles
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

docs: document symbol resolution gap and proposed solutions
  docs/symbol-resolution-gap.md
Due: dprint

fix: remove hardcoded main
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_import_from_as_module.snap
Due: format, lint, update-index

fix: pass semantic bundler
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

feat(bundler): implement namespace imports with hybrid inlining (Solution 5)
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/bundling/namespace_simple_test/main.py
  crates/cribo/tests/fixtures/bundling/namespace_simple_test/mymodule/__init__.py
  crates/cribo/tests/fixtures/bundling/namespace_simple_test/mymodule/utils.py
  crates/cribo/tests/fixtures/bundling/stickytape_import_from_as_module/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_import_from_as_module/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_import_from_as_module/main.py
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_simple_test.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@namespace_simple_test.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@namespace_simple_test.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_script_using_from_to_import_module.snap
  docs/cribo-semantic-analysis-implementation.md
  docs/namespace-creation-architectural-gap.md
Due: format, dprint, lint, update-index

fix(bundler): resolve clippy errors in namespace import implementation
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix(bundler): eliminate all clippy warnings to pass CI
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

fix(bundler): resolve too-many-arguments warnings by grouping parameters
  .clippy.toml
  .coderabbit.yaml
  crates/cribo/src/code_generator.rs
Due: format, dprint, lint, yamllint, update-index

docs(graph): add docstring for ModuleId::as_u32 method
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix(bundler): avoid double-parsing modules for improved performance
  crates/cribo/src/code_generator.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_multiple.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@simple_math.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

fix(bundler): remove dead code for in_global_statement flag
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
Due: format, lint, update-index

perf(graph): make ModuleId::as_u32 const fn with inline hint
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix(deps): remove unused dependencies detected by cargo-machete
  crates/cribo/Cargo.toml
Due: dprint, taplo

chore: update Cargo.lock after removing unused dependencies
  Cargo.lock
Due: none

chore(main): release 0.4.25
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

chore(main): release 0.4.25 (#117)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: dprint

refactor: consolidate requirements writing logic and cycle error formatting
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

fix: preserve newlines in triple-quoted docstrings
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@test_all_exports.snap
Due: format, lint, update-index

fix: avoid fixed indent
  crates/cribo/src/orchestrator.rs
Due: format, lint, update-index

feat: use tabs
  crates/cribo/src/orchestrator.rs
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_class_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_function_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_happy_path.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_variable_name_collision.snap
  crates/cribo/tests/snapshots/bundled_code@comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_globals_lifting.snap
  crates/cribo/tests/snapshots/bundled_code@fstring_module_globals.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_basic.snap
  crates/cribo/tests/snapshots/bundled_code@future_imports_multiple.snap
  crates/cribo/tests/snapshots/bundled_code@init_reexports.snap
  crates/cribo/tests/snapshots/bundled_code@namespace_simple_test.snap
  crates/cribo/tests/snapshots/bundled_code@simple_math.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_module_with_triple_quotes.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_from_to_import_multiple_values.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_stdlib_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_with_single_local_import_of_package.snap
  crates/cribo/tests/snapshots/bundled_code@test_all_exports.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/integration_tests__requirements_generation.snap
  crates/cribo/tests/snapshots/integration_tests__simple_project_bundling.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundled_structure.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_bundling_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_requirements_output.snap
  crates/cribo/tests/snapshots/test_cli_stdout__stdout_verbose_output.snap
Due: format, lint, update-index

chore: remove normalize_line_endings
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/util.rs
Due: format, lint, update-index

fix(bundler): handle dotted imports correctly by creating parent namespaces
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import/greetings/messages.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import/main.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot/greetings/messages.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot/main.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_module_in_package/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_module_in_package/main.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_script_using_module_in_package.snap
Due: format, dprint, lint, update-index

fix(bundler): handle relative imports in package __init__.py files
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_from_parent_package/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_from_parent_package/greetings/greeting/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_from_parent_package/greetings/messages.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_from_parent_package/main.py
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_explicit_relative_import_from_parent_package.snap
Due: format, dprint, lint, update-index

fix(bundler): handle relative imports of submodules in package __init__.py
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot_in_init/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot_in_init/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_explicit_relative_import_single_dot_in_init/main.py
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_explicit_relative_import_single_dot_in_init.snap
Due: format, dprint, lint, update-index

fix(bundler): handle implicit parent package imports correctly
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/fixtures/bundling/stickytape_implicit_init_import/greetings/__init__.py
  crates/cribo/tests/fixtures/bundling/stickytape_implicit_init_import/greetings/irrelevant.py
  crates/cribo/tests/fixtures/bundling/stickytape_implicit_init_import/main.py
  crates/cribo/tests/snapshots/bundled_code@all_variable_handling.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_implicit_init_import.snap
Due: format, dprint, lint, update-index

fix(bundler): handle namespace package imports correctly
  crates/cribo/src/code_generator.rs
  crates/cribo/src/resolver.rs
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_from_to_import_module/greetings/greeting.py
  crates/cribo/tests/fixtures/bundling/stickytape_script_using_from_to_import_module/main.py
  crates/cribo/tests/snapshots/bundled_code@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/bundled_code@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/execution_results@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/execution_results@xfail_stickytape_script_using_module_in_package.snap
  crates/cribo/tests/snapshots/ruff_lint_results@stickytape_script_using_from_to_import_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_comprehensive_ast_rewrite.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import_from_parent_package.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import_single_dot.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_explicit_relative_import_single_dot_in_init.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_implicit_init_import.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_import_from_as_module.snap
  crates/cribo/tests/snapshots/ruff_lint_results@xfail_stickytape_script_using_from_to_import_module.snap
Due: format, dprint, lint, update-index

fix(bundler): prevent duplicate namespace module creation
  crates/cribo/src/code_generator.rs
  crates/cribo/tests/snapshots/bundled_code@ast_rewriting_regular_import_aliases.snap
Due: format, lint, update-index

fix(bundler): resolve all clippy warnings for CI compliance
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

refactor(bundler): reduce code duplication in import rewriting methods
  crates/cribo/src/code_generator.rs
Due: format, lint, update-index

perf(resolver): cache parent packages to avoid repeated filesystem scans
  crates/cribo/src/resolver.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  dprint: any of: *.{json,jsonc,yaml,yml,md,toml,py}
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
