Repository ophidiarium/cribo: changes, and which lefthook commands are due for each by the changed paths.
All: format, markdownlint, dprint, lint, taplo, yamllint, update-index, codecov, renovate, actionlint, release-please, ruff-format

format:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

markdownlint:
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

dprint:
  run: bunx dprint fmt {staged_files}
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features --fix --allow-dirty -- -D warnings
  stage_fixed: true

taplo:
  run: bunx taplo lint {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

update-index:
  run: git update-index --again

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

release-please:
  run: uvx check-jsonschema --schemafile https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json release-please-config.json

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

refactor: fix clippy pedantic warnings for identical match arms
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/side_effects.rs
  crates/cribo/src/stdlib_normalization.rs
  crates/cribo/src/visitors/export_collector.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

docs: update comment to reflect combined match arm handling
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

docs: clarify wildcard pattern handles all remaining side effect statements
  crates/cribo/src/visitors/side_effect_detector.rs
Due: format, lint, update-index

refactor: simplify module name sanitization logic
  crates/cribo/src/code_generator/module_registry.rs
Due: format, lint, update-index

refactor: fix clippy pedantic warnings for identical match arms (#251)
  crates/cribo/src/analyzers/import_analyzer.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/import_deduplicator.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/side_effects.rs
  crates/cribo/src/stdlib_normalization.rs
  crates/cribo/src/visitors/export_collector.rs
  crates/cribo/src/visitors/side_effect_detector.rs
  crates/cribo/tests/test_bundling_snapshots.rs
Due: format, lint, update-index

fix: resolve clippy pedantic warnings for pass-by-value arguments
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/src/util.rs
Due: format, lint, update-index

fix: use to_owned() instead of to_path_buf() for clarity
  crates/cribo/src/cribo_graph.rs
Due: format, lint, update-index

fix: update benchmark add_module calls to use &Path
  crates/cribo/benches/bundling.rs
Due: format, lint, update-index

perf: use extend_from_slice instead of iter().cloned()
  crates/cribo/src/code_generator/bundler.rs
Due: format, lint, update-index

fix: resolve clippy pedantic warnings for pass-by-value arguments (#252)
  crates/cribo/benches/bundling.rs
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/module_registry.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/cribo_graph.rs
  crates/cribo/src/orchestrator.rs
  crates/cribo/src/semantic_bundler.rs
  crates/cribo/src/tree_shaking.rs
  crates/cribo/src/util.rs
Due: format, lint, update-index

chore: format after lint
  lefthook.yml
Due: dprint, yamllint

chore(main): release 0.5.9
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

refactor: relocate namespace population logic to namespace_manager
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: extract namespace population context creation to helper function
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: optimize symbol dereferencing in populate_namespace_with_module_symbols
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

chore: change log level from warn to debug for expected temporary limitations
  crates/cribo/src/code_generator/import_transformer.rs
Due: format, lint, update-index

refactor: extract helper functions to reduce nesting and fix clippy warnings
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

feat(ci): add LLOC metric report
  .github/workflows/lint.yml
Due: dprint, yamllint, actionlint

refactor: relocate namespace population logic to namespace_manager (#254)
  .github/workflows/lint.yml
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/import_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
  lefthook.yml
Due: format, markdownlint, dprint, lint, yamllint, update-index, actionlint

chore(main): release 0.5.9 (#253)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cribo/package.json
  version.txt
Due: markdownlint, dprint

refactor: extract module inlining logic into dedicated inliner module
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/mod.rs
  docs/implement-bundle-modules-split.md
Due: format, markdownlint, dprint, lint, update-index

fix: restore proper duplicate detection logic for deferred imports
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

perf: avoid unnecessary clone of inlinable_modules vector
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

refactor: extract duplicate rename resolution logic into helper method
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

refactor: simplify resolve_renamed_name to eliminate duplicate logic
  crates/cribo/src/code_generator/inliner.rs
Due: format, lint, update-index

docs: update architecture descriptions to include inliner module
  .github/copilot-instructions.md
  CLAUDE.md
Due: markdownlint, dprint

refactor: extract module inlining logic into dedicated inliner module (#255)
  .github/copilot-instructions.md
  CLAUDE.md
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/mod.rs
  docs/implement-bundle-modules-split.md
Due: format, markdownlint, dprint, lint, update-index

refactor: properly move module transformation functions without wrappers
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/further-split-implementation.md
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/further-split-refined.md
  crates/cribo/src/code_generator/further-split.md
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

fix: remove redundant Decorator import in module_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

fix: move DependencyAnalyzer import to top level in module_transformer.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

refactor: move module transformation functions to dedicated modules (#256)
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/expression_handlers.rs
  crates/cribo/src/code_generator/further-split-implementation.md
  crates/cribo/src/code_generator/further-split-misses.md
  crates/cribo/src/code_generator/further-split-refined.md
  crates/cribo/src/code_generator/further-split.md
  crates/cribo/src/code_generator/inliner.rs
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, markdownlint, dprint, lint, update-index

refactor: extract wrapper module processing into dedicated function
  crates/cribo/src/code_generator/bundler.rs
  crates/cribo/src/code_generator/module_transformer.rs
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

chore: remove unused function
  crates/cribo/src/code_generator/namespace_manager.rs
Due: format, lint, update-index

refactor: remove intermediate lifted_declarations variable
  crates/cribo/src/code_generator/module_transformer.rs
Due: format, lint, update-index

Path conditions:
  format: any of: **/*.rs
  markdownlint: any of: *.md
  dprint: (any of: *.{json,jsonc,yaml,yml,md,toml,py}) or (any of: *.{json,jsonc,yaml,yml,md,py})
  lint: any of: **/*.rs
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  update-index: any of: **/*.rs
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  release-please: any of: release-please-config.json
  ruff-format: any of: **/*.py
